{% extends 'student/main.html' %}
{% load static %}

{% block title %}
Darsing Ichki Sahifasi - Lemix
{% endblock %}

{% block style %}
<style>
    .cardPay {
        position: relative;
    }

    .cardPay:hover {
        border: 1px solid #5f63f2;

    }

    .cardPay:hover::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        border-radius: 5px;
        height: 100%;
        width: 100%;
        background-color: #5f63f288;
    }

    .feature-card--1 figcaption h5 {
        margin: 0 0 0.5rem 0 !important;
    }

    .feature-cards:hover {
        cursor: pointer;
        box-shadow: 0 0 5px #5f63f2;
    }
    .atbd-tab .tab-content p{
        font-size: 12px !important;
    } 
</style>
{% endblock %}


{% block content %}


        <div class="contents">

            <div class="container-fluid">
                <div class="row mt-3">
                 
                    <div class="col-12 changelog-19 d-block">
                        <div class="changelog mb-30">
                            <div class="card">
                                <div class="card-body p-30">
                                    {% if content.content_type <= 2 %}
                                        {% include 'student/lead_video_content.html' %}
                                    {% elif content.content_type == 3 %}
                                        {% include 'student/test_content.html' %}
                                    {% else %}
                                        {% include 'student/lead_homework.html' %}
                                    {% endif %}
                                        
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 changelog-5 d-block">
                        {% if content.content_type == 3 %}
                            {% include 'student/selected_test_buttons.html' %}
                        {% endif %}
                        <div class="changeLog-history mb-30">
                            <div class="card">
                                <div class="card-header py-20 px-20">
                                    <div class="changelog-history__title text-uppercase">
                                        Darslar
                                    </div>
                                    <div class="changelog-history__titleExtra">

                                    </div>
                                </div>
                                <div class="card-body p-15">
                                    <div class="changelog__according">
                                        <div class="changelog__accordingWrapper">
                                            <div id="accordion">
                                                {% for module in modules %}
                                                <div class="card">
                                                    <div class="card-header w-100 px-sm-30 px-15" id="heading-module-{{ module.id }}">
                                                        <div role="button" class="w-100 changelog__accordingCollapsed collapsed" data-toggle="collapse" data-target="#collapse-module-{{ module.id }}" aria-expanded="true" aria-controls="collapse-module-{{ module.id }}">
                                                            <div class="changelog__accordingTitle d-flex justify-content-between w-100">
                                                                <div class="v-num">{{ module.title }}</div>
                                                                <div class="changelog__accordingArrow">
                                                                    <span data-feather="chevron-right"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div id="collapse-module-{{ module.id }}" class="collapse" aria-labelledby="heading-module-{{ module.id }}" data-parent="#accordion-module-{{ module.id }}">
                                                            <div class="tab-content" id="v-pills-tabContent">
                                                                <div class="tab-pane fade  active show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                                                    <!-- Edit Profile -->
                                
                                                                            <div class="application-faqs">
                                                                                <div class="panel-group" id="accordion-module-{{ module.id }}" role="tablist" aria-multiselectable="true">
                                                                                    <!-- panel 1 -->
                                                                                    
                                                                                    {% for lesson in module.lessons %}
                                                                                        <div class="panel panel-default">
                                                                                            <div class="panel-heading" role="tab" id="headingOne">
                                                                                                <h4 class="panel-title">
                                                                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{lesson.id}}" aria-expanded="true" aria-controls="collapse-{{lesson.id}}">
                                                                                                    {{ forloop.counter }}.{{lesson.title }}
                                                                                                    </a>
                                                                                                </h4>
                                    
                                                                                            </div>
                                                                                            {% comment %} Dars kontentlari bu yerda {% endcomment %}
                                                                                            <div id="collapse-{{lesson.id}}" class="panel-collapse collapse in show" role="tabpanel" aria-labelledby="headingOne">
                                                                                                <div class="panel-body ">
                                                                                                    {% for content in lesson.contents %}
                                                                                                    <div class="row mb-2">
                                                                                                        <div class="checkbox-group d-flex col-10">
                                                                                                            <div class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                                                                                                {% if content.content_type == 1 %}
                                                                                                                    <a href="#" class="plus mr-2 fs-14 ">
                                                                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video"><polygon points="23 7 16 12 23 17 23 7"/><rect x="1" y="5" width="15" height="14" rx="2" ry="2"/></svg>  </a>
                                                                                                    
                                                                                                                {% elif content.content_type == 2 %}
                                                                                                                    <a href="#" class="plus mr-2 fs-14 ">
                                                                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"/><polyline points="14 2 14 8 20 8"/><line x1="16" y1="13" x2="8" y2="13"/><line x1="16" y1="17" x2="8" y2="17"/><polyline points="10 9 9 9 8 9"/></svg> 
                                                                                                                    </a>
        
                                                                                                                {% elif content.content_type == 3 or content.content_type == 4 %}
                                                                                                                    <a href="#" class="plus mr-2 fs-14 ">
                                                                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list"><line x1="8" y1="6" x2="21" y2="6"/><line x1="8" y1="12" x2="21" y2="12"/><line x1="8" y1="18" x2="21" y2="18"/><line x1="3" y1="6" x2="3.01" y2="6"/><line x1="3" y1="12" x2="3.01" y2="12"/><line x1="3" y1="18" x2="3.01" y2="18"/></svg>  
                                                                                                                    </a>
                                                                                                                {% endif %}
                                                                                                            
                                                                                                                <label for="check-grp-td3" class="fs-14 color-primary strikethrough">
                                                                                                                    {% if content.open is False %}
                                                                                                                        <a href="#">{{ content.title }}</a>
                                                                                                                    {% else %}
                                                                                                                        <a href="{% url 'student:lead-demo-lessons' module.course module.id lesson.id content.id %}?group={{group}}">{{ content.title }}</a>
                                                                                                                    {% endif %}
                                                                                                                </label>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="todo-list__right col-2">
                                                                                                            {% if content.viewed %}
                                                                                                                <a href="#" class="plus">
                                                                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"/><polyline points="22 4 12 14.01 9 11.01"/></svg>
                                                                                                                </a>
                                                                                                
                                                                                                            {% elif content.open %}
                                                                                                                <a href="#" class="plus">
                                                                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"/><polyline points="12 6 12 12 16 14"/></svg>
                                                                                                                </a>
        
                                                                                                            {% else %}
                                                                                                                <a href="#" class="plus">
                                                                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"/><path d="M7 11V7a5 5 0 0 1 10 0v4"/></svg>
                                                                                                                </a>                                                                                                        
                                                                                                            {% endif %}
                                                                                                            
                                                                                                            
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    {% endfor %}
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    {% endfor %}
                                                                                    
                                                                                   
                                                                                </div>
                                                                            </div>
                                                                   
                                                                    <!-- Edit Profile End -->
                                                                </div>
                                                                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                                                </div>
                                                                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                                                </div>
                                                                <div class="tab-pane fade " id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                                                                </div>
                                                                <div class="tab-pane fade" id="v-pills-notification" role="tabpanel" aria-labelledby="v-pills-notification-tab">
                                                                </div>
                                                                <div class="tab-pane fade" id="v-pills-support" role="tabpanel" aria-labelledby="v-pills-support-tab">
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                           
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>


{% endblock %}


{% block script %}

<script>
    function sendHomework(id){
        let url = `/student/homework/${id}/`;
        
        const formData = new FormData();
        
        input = document.getElementById('uploadhomework');
        text_input = document.getElementById('text-homework');
        formData.append('text', text_input.value);
        formData.append('file', input.files[0]);
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        fetch(url, {
        method: 'POST',
        headers: {
            'Accept': 'multipart/form-data',
            "X-CSRFToken": "{{csrf_token}}",
        },
        body: formData,
     }).then(res=>{
        console.log(res);
        if (res.status == 200){
            res_message = document.getElementsByClassName('response-message')[0];
            div = document.createElement('div');
            div.classList = "alert alert-success p-30";
            div.role = "alert";

            div2 = document.createElement('div');
            div2.classList = "alert-content";
            div2.textContent = `Javobingiz muvaffaqiyatli yuborildi!
                                Tez orada ball qo‘yiladi!`;
            div.appendChild(div2);
            res_message.appendChild(div);
            window.location.assign(window.location.href)
        }
     })
     .catch(err=>{
        console.log("Error", err);
     })
    }
</script>    
{% endblock %}