<div class="changeLog-history mb-30">

    <div class="card">
        <div class="card-header py-20 px-20">
            <div class="changelog-history__title text-uppercase">
                Testlar
            </div>
            <div class="changelog-history__titleExtra">

            </div>
        </div>
        <div class="card-body row test-buttons">
            {% comment %} <button class="btn  btn-primary  btn-default btn-squared m-1 ">1
            </button>1 {% endcomment %}
            {% if questions %}
                {% for question in questions %}
                    <a class="btn btn border-primary text-primary btn-default btn-squared m-1 " id="ratio-question-{{ question.question.id }}" href="#question-{{question.id}}">{{ forloop.counter }}
                    </a>
                {% endfor %}
            {% endif %}

        </div>
    </div>
</div>