{% extends 'student/main.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}
Student
{% endblock %}

{% block style %}
<style>
    .cardPay {
        position: relative;
    }

    .cardPay:hover {
        border: 1px solid #5f63f2;

    }

    .cardPay:hover::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        border-radius: 5px;
        height: 100%;
        width: 100%;
        background-color: #5f63f288;
    }

    .feature-card--1 figcaption h5 {
        margin: 0 0 0.5rem 0 !important;
    }

    .feature-cards:hover {
        cursor: pointer;
        box-shadow: 0 0 5px #5f63f2;
    }

    .atbd-tab .tab-content p {
        font-size: 12px !important;
    }
    .v-num{
        font-size: 14px;
    }
    .application-faqs .panel-title a{
        font-size: 12px !important;
    }
    .forms-view{
        display: flex;
        flex-wrap: wrap;
    }
    .forms-view > .form-group{
        display: flex;
        align-items: center;
    }
    .table-responsive tr td>div{
        text-transform: none;
    }
    .atbd-select .select2-selection,
    .select2-container--default .select2-selection--single{
        height: 1.875rem;
        padding: 0;
        font-size: 12px;
        line-height: 1.5;
        -webkit-border-radius: 0.2rem;
        border-radius: 0.2rem;
        margin-right: 7px;
    }
    .select2-container .select2-selection--single .select2-selection__rendered{
        width: auto !important;
    }
    .atbd-menu.menu-vertical .atbd-menu__item.has-submenu > .atbd-menu__link:before {
        margin-top: 0;
    }
    #infoUser{
        overflow: hidden;
        height: 120px;
    }
</style>
{% endblock %}

{% block content %}
        <div class="contents">
            <div class="container-fluid">
                <div class="row">
                    
                    <div class="col-lg-12">
                       
                        {% if is_student is False or is_student is None %}
                            <div class="row pt-30 card mt-30">
                                <div class="card-body col-xxl-3 col-sm-6  col-ssm-12 mb-10">
                                    <!-- Card 2 End  -->
                                    <div class="ap-po-details ap-po-details--2  radius-xl bg-white d-flex justify-content-between">
                                            <div class="overview-content">
                                                <span> Hurmatli, {{ lead.user.first_name}} {{ lead.user.last_name}}! </span>
                                                <p>Sizda hozirda tizimdan cheklangan miqdorda foydalanish huquqi bor. Bunda siz o'zingiz yozilgan dars mashg'ulotlaridan foydalanib ko'rishingiz mumkin. Buning uchun chap menudan <b>Darslar</b> bo'limiga o'ting</p>
                                                
                                            </div>
                                    </div>
                                    <!-- Card 2 End  -->
                                </div>
                            </div>
                        {% endif %}
                        {% if is_student %}
                            <div class="row pt-30">
                                <div class="col-xxl-3 col-sm-6  col-ssm-12 mb-10">
                                    <!-- Card 2 End  -->
                                    <div class="ap-po-details ap-po-details--2  radius-xl bg-white d-flex justify-content-between">
                                            <div class="overview-content">
                                                <h1>{{ balance|readable_soums |default:"0"}} <small>UZS</small></h1>
                                                <p class="m-0">Umumiy balans</p>
                                                
                                            </div>
                                    </div>
                                    <!-- Card 2 End  -->
                                </div>
                                
                                    <!-- Card 2 End  -->
                                    {% for group in groups %}
                                    <div class="col-xxl-3 col-sm-6  col-ssm-12 mb-10">
                                        <div class="ap-po-details ap-po-details--2  radius-xl bg-white d-flex justify-content-between">
                                            <div class="overview-content">
                                                <h1>{{ group.group__course__price|readable_soums }} <small>UZS</small></h1>
                                                <p class="m-0">Summa</p>
                                                <small>{{ group.group__title }}</small>
                                            </div>
                                        </div>
                                        <!-- Card 2 End  -->
                                    </div>
                                    {% endfor %}
                                    
                                <!--<div class="col-xxl-3 col-sm-6  col-ssm-12 mb-10">

                                    <div class="ap-po-details ap-po-details--2  radius-xl bg-white d-flex justify-content-between">
                                            <div class="overview-content">
                                                <h1>2 000 000 <small>UZS</small></h1>
                                                <p class="m-0">Vaucher</p>
                                                
                                            </div>
                                    </div>
                                </div>-->
                            
                                <div class="col-xxl-3 col-sm-6  col-ssm-12 mb-10 d-flex justify-content-center align-items-center drawer-btn">
                                    <button class="btn btn-primary btn-default btn-squared drawer-trigger" data-drawer="account">+ Balansni to'ldirish</button>
                            
                                </div>
                            </div>
                            
                            <div class="card mt-30">
                                <div class="card-body">
                                    <div class="userDatatable adv-table-table global-shadow border-0 bg-white w-100 adv-table">
                                        <div class="table-responsive">
                                            <div class="adv-table-table__header">
                                                <h4 class="mb-4">To'lovlar</h4>
                                            </div>
                                            <table class="table mb-0 table-borderless" data-sorting="true"  data-paging-current="1" data-paging-position="right" data-paging-size="10">
                                                <thead>
                                                    <tr class="userDatatable-header">
                                                        <th>
                                                            <span class="userDatatable-title">#</span>
                                                        </th>
                                                        <th>
                                                            <span class="userDatatable-title">ID</span>
                                                        </th>
                                                        <th>
                                                            <span class="userDatatable-title">To'lov</span>
                                                        </th>
                                                        <th>
                                                            <span class="userDatatable-title">To'lov turi</span>
                                                        </th>
                                                        <th data-type="html" data-name='position'>
                                                            <span class="userDatatable-title">Izoh</span>
                                                        </th>
                                                        <th>
                                                            <span class="userDatatable-title">Xodim</span>
                                                        </th>
                                                        <!-- <th data-type="html" data-name='status'>
                                                            <span class="userDatatable-title">status</span>
                                                        </th> -->
                                                        <th>
                                                            <span class="userDatatable-title float-right">Check</span>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for payment in payments %}
                                                        <tr>
                                                            <td>
                                                                <div class="userDatatable-content">{{ forloop.counter }}</div>
                                                            </td>
                                                            <td>
                                                                <div class="userDatatable-content">{{ payment.id }}</div>
                                                            </td>
                                                            <td>
                                                                <div class="userDatatable-content">
                                                                {{ payment.paid|readable_soums }}
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="userDatatable-content">
                                                                    {{ payment.payment_type|get_type_name:"payment" }}
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="userDatatable-content">
                                                                    {{ payment.comment|default:"-"}}
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="userDatatable-content">
                                                                    {{payment.receiver }}
                                                                </div>
                                                            </td>
                                                            <!-- <td> 
                                                                <div class="userDatatable-content d-inline-block">
                                                                    <span class="bg-opacity-success  color-success rounded-pill userDatatable-content-status active">active</span>
                                                                </div>
                                                            </td> -->
                                                            <td>
                                                                <ul class="orderDatatable_actions mb-0 d-flex flex-wrap">
                                                                    <li>
                                                                        <a href="#" class="view">
                                                                            <span data-feather="eye"></span></a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#" class="printer">
                                                                            <span data-feather="printer"></span></a>
                                                                    </li>
                                                                    <!-- <li>
                                                                        <a href="#" class="remove">
                                                                            <span data-feather="trash-2"></span></a>
                                                                    </li> -->
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>        
        <div class="drawer-basic-wrap">
            <div class="atbd-drawer drawer-account d-none">
                <div class="atbd-drawer__header d-flex aling-items-center justify-content-between">
                    <h6 class="drawer-title">To'lovni onlayn amalga oshiring</h6>
                    <a href="#" class="btdrawer-close"><i class="la la-times"></i></a>
                </div><!-- ends: .atbd-drawer__header -->
                <div class="atbd-drawer__body">
                    <div class="drawer-content">
                        <div class="drawer-account-form form-basic">
                            <form action="{% url 'finance:paid-services' %}" method="post" id="payid">
                                {% csrf_token %}
                                <div class="form-row align-items-center justify-content-center">
                                    <div class="form-group col-lg-6">
                                        <label for="a7">Summani kiriting</label>
                                        <input name="amount" type="text" class="form-control ih-medium ip-light radius-xs b-light px-15" id="a7" placeholder="One of Four Columns">
                                    </div>
                                   
                                    <div class="form-group tagSelect-rtl col-lg-6">
                                        <label for="exampleFormControlSelect2" class="il-gray fs-14 fw-500 align-center">To'lov maqsadini tanlang</label>
                                        <div class="atbd-select ">
                                            <select name="goal_type" id="select-tag" class="form-control">
                                                <option value="0">Umumiy balans</option>
                                                {% for group in groups %}
                                                <option value="{{group.id}}">{{group.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <input type="text" name="paid_type" id="paid_type" value="2" hidden>
                                <div class="row" onclick="document.querySelector('#paid_type').value=5;document.querySelector('#payid').submit()">
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="card cardPay">
                                            <div class="card-body">
                                                <a href="#" >
                                                <img src="https://click.uz/click/images/logo-new.png" class="w-100" style="height: 30px;"  alt="">
                                            </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="card cardPay">
                                            <div class="card-body">
                                                <a href="#" >
                                                <img src="{% static 'img/payme.png' %}"  class="w-100" style="height: 30px;" alt="">
                                            </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="card cardPay">
                                            <div class="card-body">
                                                <a href="#" >
                                                <img src="{% static 'img/svg/apelsin.svg' %}"  class="w-100" style="height: 30px;" alt="">
                                            </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="card p-0 cardPay">
                                            <div class="card-body p-0">
                                                <a href="#" >
                                                <img src="{% static 'img/stripe.png' %}"  class="w-100" style="height: 80px;" alt="">
                                            </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!-- ends: .atbd-drawer__body -->
            </div><!-- ends: .atbd-drawer -->
        </div>
    {% endblock %}