{% extends 'atomic/theme.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="social-dash-wrap">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-12 p-0 ">
                    <div class="card card-default card-md mb-4 mt-3 p-3">
                            <ul class="atbd-breadcrumb nav">
                                <li class="atbd-breadcrumb__item">

                                    <a href="#">
                                        Kurslar
                                    </a>
                                    <span class="breadcrumb__seperator">
                                        <span class="la la-slash"></span>
                                    </span>


                                </li>
                                <li class="atbd-breadcrumb__item">
                                    <a href="#">Matematika</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <!-- ends: .card -->
                </div>

            </div>
            <!-- Profile Acoount End -->
        </div>
        <div class="row">
            <div class="col-xxl-3 col-lg-3 col-sm-3">
                <!-- Profile Acoount -->
                <div class="card mb-25">
                    <div class="card-body">
                        <div class="mb-2 ml-2" style="font: size 30px; display: flex; justify-content: space-between;">
                            <strong>Matematika</strong>
                            <a href="#" class="ellipsis-more" role="button" id="ellipsis-more" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span data-feather="more-vertical"></span>
                            </a>
                        </div>
                        <div>
                            <ul>
                                <li class="list-box__item"><strong>Davomiyligi:</strong> 6 oy</li>
                                <li class="list-box__item"><strong>Narxi:</strong> 250 000 </li>
                                <li class="list-box__item"><strong>Izoh:</strong> Izoh </li>
                                <li class="list-box__item"><strong>Guruhlar:</strong> 4 </li>
                                <li class="list-box__item"><strong>O'qituvchilar:</strong> 3 </li>
                                <li class="list-box__item"><strong>O'quvchilar:</strong> 58 </li>
                                <li class="list-box__item"><strong>Qarzdorlik:</strong>1 500 000</li>
                                <li class="list-box__item"><strong>To'langan:</strong>2 500 000</li>
                                
                            </ul>
                        </div>
                        <!-- ends: .list-box -->
                    </div>
                </div>
            </div>
            <div class="col-xxl-9 col-lg-9 col-sm-9">
                <div class="knowledgebase-details knowledgebase-details--row m-0 pt-4 pb-4">
                    <div class="col-lg-12 col-md-12 col-xxl-12 ">
                        <div class="col-lg-12 col-md-12 col-xxl-12 ">
                            <ul class="nav nav-tabs knowledgebase__nav" id="knowledgebase" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="plugins-tab" data-toggle="pill" 
                                    href="#plugins" role="tab" aria-controls="plugins" aria-selected="true">Online darslar</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="themes-tab" data-toggle="pill"
                                    href="#themes" role="tab" aria-controls="themes" aria-selected="false">Imtihonlar</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="extensions-tab" data-toggle="pill" 
                                    href="#extensions" role="tab" aria-controls="extensions" aria-selected="false">Guruhlar</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="extensions1-tab" data-toggle="pill" 
                                    href="#extensions1" role="tab" aria-controls="extensions1" aria-selected="false">Darajalar</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="extensions2-tab" data-toggle="pill" 
                                    href="#extensions2" role="tab" aria-controls="extensions2" aria-selected="false">O'qituvchilar</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="extensions3-tab" data-toggle="pill" 
                                    href="#extensions3" role="tab" aria-controls="extensions3" aria-selected="false">Kurs jadvali</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xxl-12 ">
                            <div class="tab-content" id="knowledgebaseContent">
                                <div class="tab-pane fade show active" id="plugins" role="tabpanel" aria-labelledby="plugins-tab">
                                    <div class="card card-default card-md mb-4">
                                        <div class="card-body">
                                            <div class="atbd-empty text-center">
                                                <div class="atbd-empty__image">
        
                                                    <img src="{% static 'img/3.svg' %}" alt="Admin Empty">
        
                                                </div>
                                                <div class="atbd-empty__text">
        
                                                    <p>Materiallar hali yuklanmagan</p>
                                                    <div class="atbd-empty__action">
                                                        <button class="btn btn-primary btn-sm btn-squared">Qo'shish</button>
                                                    </div>
        
                                                </div>
                                            </div>
        
        
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="themes" role="tabpanel" aria-labelledby="themes-tab">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12 mb-1">
                                    

                                                    <div class="card-body p-1">
                                                        <div class="userDatatable adv-table-table global-shadow border-0 bg-white w-100 adv-table-course-detail">
                                                            <div class="table-responsive">
                                                                <div id="filter-form-container"></div>
                                                                <table class="table mb-0 table-borderless adv-table-course-detail" data-sorting="true"
                                                                    data-filter-container="#filter-form-container" data-paging-current="1"
                                                                    data-paging-position="right" data-paging-size="10">
                                                                    <thead>
                                                                        <tr class="userDatatable-header">
                                                                            <th>
                                                                                <span class="userDatatable-title">Nomi</span>
                                                                            </th>
                                                                            <th data-type="html" data-name='position'>
                                                                                <span class="userDatatable-title">Qo'shilgan vaqt</span>
                                                                            </th>
                                                                            <th>
                                                                                <span class="userDatatable-title">Muddat</span>
                                                                            </th>
                                                                            <th>
                                                                                <span class="userDatatable-title ">Status</span>
                                                                            </th>
                                                                            <th>
                                                                                <span class="userDatatable-title ">Savollar</span>
                                                                            </th>
                                                                            <th>
                                                                                <span class="userDatatable-title ">Ishtirokchilar</span>
                                                                            </th>
                                                                            <th>
                                                                                <span class="userDatatable-title ">Natija</span>
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <div class="d-flex">
                                                                                    <div class="userDatatable-inline-title">
                                                                                        <a href="#" class="text-dark fw-500">
                                                                                            <h6> Matematika b1</h6>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="userDatatable-content">
                                                                                    10.07.2022
                                                                                </div>
                                                                            </td>
                                    
                                                                            <td>
                                                                                <div class="userDatatable-content">
                                                                                    14.07.2022 10:00-12:00
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="userDatatable-content">
                                                                                    Bo'lib o'tgan
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="userDatatable-content">
                                                                                    50
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="userDatatable-content">
                                                                                    24 80%
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="userDatatable-content">
                                                                                    90%
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <ul class="atbd-pagination d-flex my-3">
                                                                    <li class="atbd-pagination__item">
                                                                        <a href="#" class="atbd-pagination__link pagination-control"><span
                                                                                class="la la-angle-left"></span></a>
                                                                        <a href="#" class="atbd-pagination__link active"><span
                                                                                class="page-number">1</span></a>
                                                                        <a href="#" class="atbd-pagination__link "><span class="page-number">2</span></a>
                                                                        <a href="#" class="atbd-pagination__link"><span class="page-number">3</span></a>
                                    
                                    
                                                                        <a href="#" class="atbd-pagination__link pagination-control"><span
                                                                                class="la la-angle-right"></span></a>
                                                                        <a href="#" class="atbd-pagination__option">
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                    
                                                    </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="extensions" role="tabpanel" aria-labelledby="extensions-tab">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-xxl-12 ">
                                                <div class="contact-breadcrumb">
                        
                                                    <div class="breadcrumb-main add-contact justify-content-sm-between ">
                                                        <div class=" d-flex flex-wrap justify-content-center breadcrumb-main__wrapper">
                                                            <form action="/" class="d-flex align-items-center add-contact__form my-sm-0 my-2">
                                                                <span data-feather="search"></span>
                                                                <input class="form-control mr-sm-2 border-0 box-shadow-none" type="search" placeholder="Qidirish" aria-label="Search">
                                                            </form>
                        
                                                        </div>
                                                        <div class="action-btn">
                                                            <a href="#" class="btn px-15 btn-primary" data-toggle="modal" data-target="#add-contact">
                                                                <i class="las la-plus fs-16"></i>Yangi qo'shish
                                                            </a>
                        
                                                            <!-- Modal -->
                                                            <div class="modal fade add-contact" id="add-contact" role="dialog" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered">
                                                                    <div class="modal-content radius-xl">
                                                                        <div class="modal-header">
                                                                            <h6 class="modal-title fw-500" id="staticBackdropLabel">Contact Information</h6>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span data-feather="x"></span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="add-new-contact">
                                                                                <form action="/">
                                                                                    <div class="form-group mb-20">
                                                                                        <label>Name:</label>
                                                                                        <input type="text" class="form-control form-control-lg" placeholder="Your Name">
                                                                                    </div>
                                                                                    <div class="form-group mb-20">
                                                                                        <label>Email Address:</label>
                                                                                        <input type="text" class="form-control form-control-lg" placeholder="Email Address">
                                                                                    </div>
                                                                                    <div class="form-group mb-20">
                                                                                        <label>Phone Number:</label>
                                                                                        <input type="text" class="form-control form-control-lg" placeholder="Phone Number">
                                                                                    </div>
                                                                                    <div class="form-group mb-20">
                                                                                        <label>Position:</label>
                                                                                        <input type="text" class="form-control form-control-lg" placeholder="Position">
                                                                                    </div>
                                                                                    <div class="form-group mb-20">
                                                                                        <label>Company Name:</label>
                                                                                        <input type="text" class="form-control form-control-lg" placeholder="Company Name">
                                                                                    </div>
                        
                                                                                    <div class="button-group d-flex pt-20">
                        
                        
                        
                                                                                        <button class="btn btn-primary btn-default btn-squared ">add new Contact
                                                                                        </button>
                        
                        
                        
                        
                        
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Modal -->
                        
                        
                                                        </div>
                                                    </div>
                        
                                                </div>
                                            </div>
                                        </div>
                        
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-xxl-12 ">
                                                <div class="contact-list-wrap mb-25">
                                                    <div class="contact-list bg-white radius-xl w-100">
                                                        <div class="table-responsive">
                        
                                                            <table class="table mb-0 table-borderless table-rounded">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            <div class="d-flex align-items-center pl-5">
                                                                                    <span>Guruh nomi</span>
                                                                            </div>
                                                                        </th>
                                                                        <th class="c-email">
                                                                            <span>Kurs turi</span>
                                                                        </th>
                                                                        <th class="c-company">
                                                                            <span>O'qituvchisi</span>
                                                                        </th>
                                                                        <th class="c-position">
                                                                            <span class="">Kunlari</span>
                                                                        </th>
                                                                        <th class="c-position">
                                                                            <span class="">Muddati</span>
                                                                        </th>
                                                                        <th class="c-phone">
                                                                            <span class="">Dars xonasi</span>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                        
                                                                    <tr>
                                                                        <td>
                                                                            <div class="contact-item d-flex align-items-center">
                                                                                <div class="contact-personal-info d-flex">
                                                                                    <a href="#" class="profile-image rounded-circle d-block m-0 wh-38" style="background-image:url('img/tm6.png'); background-size: cover;"></a>
                                                                                    <div class="contact_title">
                                                                                        <h6>
                                                                                            <a>Guruh-1</a>
                                                                                        </h6>
                                                                                    </div>
                                                                                </div>
                        
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <span class="email">Matematika fani</span>
                                                                        </td>
                                                                        <td>
                                                                            <span class="com-name">Jo'rayev Xurshid</span>
                                                                        </td>
                                                                        <td>
                                                                            <span class="position">Dush/Chor/Juma 10:00-13:00</span>
                                                                        </td>
                                                                        <td>
                                                                            <span class="email">6 oy</span>
                                                                        </td>
                                                                        <td>
                                                                            <span class="email">1-xona</span>
                                                                        </td>
                                                                    </tr>                        
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- ends: col-12 -->
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="extensions1" role="tabpanel" aria-labelledby="extensions1-tab">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-xxl-12 ">
                                                <div class="contact-breadcrumb">
                        
                                                    <div class="breadcrumb-main add-contact justify-content-sm-between ">
                                                        <div class=" d-flex flex-wrap justify-content-center breadcrumb-main__wrapper">
                                                    
                                                            <form action="/" class="d-flex align-items-center add-contact__form my-sm-0 my-2">
                                                                <span data-feather="search"></span>
                                                                <input class="form-control mr-sm-2 border-0 box-shadow-none" type="search" placeholder="Qidirish" aria-label="Search">
                                                            </form>
                        
                                                        </div>
                                                        <div class="action-btn">
                                                            <a href="#" class="btn px-15 btn-primary" data-toggle="modal" data-target="#add-contact">
                                                                <i class="las la-plus fs-16"></i>Yangi qo'shish
                                                            </a>
                        
                                                            <!-- Modal -->
                                                            <div class="modal fade add-contact" id="add-contact" role="dialog" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered">
                                                                    <div class="modal-content radius-xl">
                                                                        <div class="modal-header">
                                                                            <h6 class="modal-title fw-500" id="staticBackdropLabel">Contact Information</h6>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span data-feather="x"></span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="add-new-contact">
                                                                                <form action="/">
                                                                                    <div class="form-group mb-20">
                                                                                        <label>Name:</label>
                                                                                        <input type="text" class="form-control form-control-lg" placeholder="Your Name">
                                                                                    </div>
                                                                                    <div class="form-group mb-20">
                                                                                        <label>Email Address:</label>
                                                                                        <input type="text" class="form-control form-control-lg" placeholder="Email Address">
                                                                                    </div>
                                                                                    <div class="form-group mb-20">
                                                                                        <label>Phone Number:</label>
                                                                                        <input type="text" class="form-control form-control-lg" placeholder="Phone Number">
                                                                                    </div>
                                                                                    <div class="form-group mb-20">
                                                                                        <label>Position:</label>
                                                                                        <input type="text" class="form-control form-control-lg" placeholder="Position">
                                                                                    </div>
                                                                                    <div class="form-group mb-20">
                                                                                        <label>Company Name:</label>
                                                                                        <input type="text" class="form-control form-control-lg" placeholder="Company Name">
                                                                                    </div>
                        
                                                                                    <div class="button-group d-flex pt-20">
                        
                        
                        
                                                                                        <button class="btn btn-primary btn-default btn-squared ">add new Contact
                                                                                        </button>
                        
                        
                        
                        
                        
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Modal -->
                        
                        
                                                        </div>
                                                    </div>
                        
                                                </div>
                                            </div>
                                        </div>
                        
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-xxl-12 ">
                                                <div class="contact-list-wrap mb-25">
                                                    <div class="contact-list bg-white radius-xl w-100">
                                                        <div class="table-responsive">
                        
                                                            <table class="table mb-0 table-borderless table-rounded">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            <div class="d-flex align-items-center pl-5">
                                                                                    <span>Kurs nomi</span>
                                                                            </div>
                                                                        </th>
                                                                        <th class="c-email">
                                                                            <span>Oylik To'lovi</span>
                                                                        </th>
                                                                        <th class="c-company">
                                                                            <span>Izoh</span>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                        
                                                                    <tr>
                                                                        <td>
                                                                            <div class="contact-item d-flex align-items-center">
                                                                                <div class="contact-personal-info d-flex">
                                                                                    <div class="contact_title">
                                                                                        <h6>
                                                                                            <a>Guruh-1</a>
                                                                                        </h6>
                                                                                    </div>
                                                                                </div>
                        
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <span class="email">250 000</span>
                                                                        </td>
                                                                        <td>
                                                                            <span class="com-name">Kursda 15 yoshga o'quvchilar o'qiydi</span>
                                                                        </td>
                                                                    </tr>   
                                                                    <tr>
                                                                        <td>
                                                                            <div class="contact-item d-flex align-items-center">
                                                                                <div class="contact-personal-info d-flex">
                                                                                    <div class="contact_title">
                                                                                        <h6>
                                                                                            <a>Guruh-2</a>
                                                                                        </h6>
                                                                                    </div>
                                                                                </div>
                        
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <span class="email">350 000</span>
                                                                        </td>
                                                                        <td>
                                                                            <span class="com-name">Kurs OTMga kiruvchilar uchun</span>
                                                                        </td>
                                                                    </tr>                                 
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- ends: col-12 -->
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="extensions2" role="tabpanel" aria-labelledby="extensions2-tab">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-xxl-12 ">
                                                <div class="contact-breadcrumb">
                        
                                                    <div class="breadcrumb-main add-contact justify-content-sm-between ">
                                                        <div class=" d-flex flex-wrap justify-content-center breadcrumb-main__wrapper">
                                                            <form action="/" class="d-flex align-items-center add-contact__form my-sm-0 my-2" >
                                                                <span data-feather="search"></span>
                                                                <input class="form-control mr-sm-2 border-0 box-shadow-none" type="search" placeholder="Qidirish" aria-label="Search">
                                                            </form>
                        
                                                        </div>
                                                        <div class="action-btn">
                                                            <a href="#" class="btn px-15 btn-primary" data-toggle="modal" data-target="#add-contact">
                                                                <i class="las la-plus fs-16"></i>Yangi qo'shish
                                                            </a>
                        
                                                            <!-- Modal -->
                                                            <div class="modal fade add-contact" id="add-contact" role="dialog" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered">
                                                                    <div class="modal-content radius-xl">
                                                                        <div class="modal-header">
                                                                            <h6 class="modal-title fw-500" id="staticBackdropLabel">Contact Information</h6>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span data-feather="x"></span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="add-new-contact">
                                                                                <form action="/">
                                                                                    <div class="form-group mb-20">
                                                                                        <label>Name:</label>
                                                                                        <input type="text" class="form-control form-control-lg" placeholder="Your Name">
                                                                                    </div>
                                                                                    <div class="form-group mb-20">
                                                                                        <label>Email Address:</label>
                                                                                        <input type="text" class="form-control form-control-lg" placeholder="Email Address">
                                                                                    </div>
                                                                                    <div class="form-group mb-20">
                                                                                        <label>Phone Number:</label>
                                                                                        <input type="text" class="form-control form-control-lg" placeholder="Phone Number">
                                                                                    </div>
                                                                                    <div class="form-group mb-20">
                                                                                        <label>Position:</label>
                                                                                        <input type="text" class="form-control form-control-lg" placeholder="Position">
                                                                                    </div>
                                                                                    <div class="form-group mb-20">
                                                                                        <label>Company Name:</label>
                                                                                        <input type="text" class="form-control form-control-lg" placeholder="Company Name">
                                                                                    </div>
                        
                                                                                    <div class="button-group d-flex pt-20">
                        
                        
                        
                                                                                        <button class="btn btn-primary btn-default btn-squared ">add new Contact
                                                                                        </button>
                        
                        
                        
                        
                        
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Modal -->
                        
                        
                                                        </div>
                                                    </div>
                        
                                                </div>
                                            </div>
                                        </div>
                        
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-xxl-12 ">
                                                <div class="contact-list-wrap mb-25">
                                                    <div class="contact-list bg-white radius-xl w-100">
                                                        <div class="table-responsive">
                        
                                                            <table class="table mb-0 table-borderless table-rounded">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            <div class="d-flex align-items-center pl-5">
                                                                                    <span>F.I.O</span>
                                                                            </div>
                                                                        </th>
                                                                        <th class="c-email">
                                                                            <span>Telefon raqam</span>
                                                                        </th>
                                                                        <th class="c-company">
                                                                            <span>Guruhlari</span>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                        
                                                                    <tr>
                                                                        <td>
                                                                            <div class="contact-item d-flex align-items-center">
                                                                                <div class="contact-personal-info d-flex">
                                                                                    <div class="contact_title">
                                                                                        <h6>
                                                                                            <a>Burhon Baqoyev</a>
                                                                                        </h6>
                                                                                    </div>
                                                                                </div>
                        
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <span class="email">99 999 87 65</span>
                                                                        </td>
                                                                        <td>
                                                                            <span class="com-name">Guruh-1</span>
                                                                        </td>
                                                                    </tr>                               
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- ends: col-12 -->
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="extensions3" role="tabpanel" aria-labelledby="extensions3-tab">
                                    <div class="card card-default card-md mb-4">
                                        <div class="col-lg-12 col-md-12 col-xxl-12 col- ">
                                            <div class="atbd-empty text-center">
                                                <div class="atbd-empty__image">
        
                                                    <img src="{% static 'img/3.svg' %}" alt="Admin Empty">
        
                                                </div>
                                                <div class="atbd-empty__text">
        
                                                    <p>Materiallar hali yuklanmagan</p>
                                                    <div class="atbd-empty__action">
                                                        <button class="btn btn-primary btn-sm btn-squared">Qo'shish</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}