{% extends 'atomic/theme.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="social-dash-wrap">
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 mt-25 mb-1">
                <div class="bg-white radius-xl pt-25 px-25 pb-2">
                    <div>
                        <div>
                            <h2>2 100 000</h2>
                        </div>
                        <div style="margin-left: 0;margin-bottom: 0; margin-top:15px;">
                            <a>Umumiy summa</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 mt-25 mb-1">
                <div class="bg-white radius-xl pt-25 px-25 pb-2">
                    <div>
                        <div>
                            <h2>900 000</h2>
                        </div>
                        <div style="margin-left: 0; margin-bottom: 0; margin-top:15px;">
                            <a>Umumiy qarzdorlik</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 mt-25 mb-1">
                <div class="bg-white radius-xl pt-25 px-25 pb-2">
                    <div>
                        <div style="margin-left: 0;margin-bottom: 0;">
                            <a><strong>8 ta guruh bo'yicha</strong></a>

                            <a><strong>(01.06.2022-01.07.2022)</strong></a>

                        </div>
                        <div>
                            <a>Natija</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                <div class="card-body pl-0 pt-3 pr-0 m-2">
                    <div
                        class="userDatatable adv-table-table global-shadow border-0 bg-white w-100 adv-table-course-detail">
                        <div class="table-responsive p-3">

                            <div id="filter-form-container"></div>

                            <table class="table mb-0 ml-1 table-borderless adv-table-finance" data-sorting="true"
                                data-filter-container="#filter-form-container" data-paging-current="1"
                                data-paging-position="right" data-paging-size="5">
                                <thead>
                                    <tr class="userDatatable-header">
                                        <th>
                                            <span class="userDatatable-title">#</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Guruhlar</span>
                                        </th>
                                        
                                        <th>
                                            <span class="userDatatable-title">Kurslar</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">To'langanlar</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Qisman to'langanlar</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Qarzdorlar</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Ma'sul</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>
                                            <div class="userDatatable-content">
                                                1
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                Math-1
                                            </div>
                                        </td>
                                        
                                        <td>
                                            <div class="userDatatable-content">
                                                Matematika
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                7ta(2 100 000)
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                2ta(300 000)
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                3ta(400 000)
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                Burhon Baqoyev
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>
</div>

{% endblock %}