{% extends 'atomic/theme.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="social-dash-wrap">
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 mt-25">
                <div class="bg-white radius-xl pt-25 px-25" style="height: 140px;">
                    <div>
                        <div>
                            <h2>2 100 000</h2>
                        </div>
                        <div style="margin-left: 0;margin-bottom: 0; margin-top:15px;">
                            <a>Umumiy summa</a>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 mt-25">
                <div class="bg-white radius-xl pt-25 px-25" style="height: 140px;">
                    <div>
                        <div>
                            <h2>900 000</h2>
                        </div>
                        <div style="margin-left: 0; margin-bottom: 0; margin-top:15px;">
                            <a>Umumiy qarzdorlik</a>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 mt-25">
                <div class="bg-white radius-xl pt-25 px-25" style="height: 140px;">
                    <div>
                        <div style="margin-left: 0;margin-bottom: 0;">
                            <a>8 ta guruh bo'yicha</a>
                            
                            <a>(01.06.2022-01.07.2022)</a>
                            
                        </div>
                        <div>
                            <a>Natija:</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 mt-3">
                <div class="card-body p-0">
                    <div class="table4  p-25 bg-white mb-30">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr class="userDatatable-header">
                                        <th>
                                            <span class="userDatatable-title">#</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Guruhlar</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">O'qituvchilar</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Kurslar</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">To'langanlar</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Qisman to'langanlar</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Qarzdorlar</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Ma'sul</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
    
                                    <tr>
                                        <td>
                                            <div class="userDatatable-content">
                                                1
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                Math-1
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                Inoyatov Shaxzod
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                Matematika
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                7ta(2 100 000)
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                2ta(300 000)
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                3ta(400 000)
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                Burhon Baqoyev
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}