{% extends 'atomic/theme.html' %} 
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-between mt-2 align-items-center">
                <h4 class="text-capitalize breadcrumb-title">Xodimlar-3ta </h4> 
                
                <div class="action-btn">
                    
                

                    <button
          class="btn btn-primary btn-default btn-squared drawer-trigger"
          data-drawer="account"
        >
          Xodimlar qo'shish
        </button>
                </div>
        </div>
    </div>
</div>
<div class="container-fluid">
                <div class="row">
                    <div class="col-12 mb-1">
                        
                        <div class="card ">
                            <div class="card-body p-1">
                                <div class="userDatatable adv-table-table global-shadow border-0 bg-white w-100 adv-table1">
                                    <div class="table-responsive">
                                 
                                        <div id="filter-form-container"></div>
                                        <table class="table mb-0 table-borderless adv-table2" data-sorting="true" data-filter-container="#filter-form-container" data-paging-current="1" data-paging-position="right" data-paging-size="10">
                                            <thead>
                                                <tr class="userDatatable-header">
                                                    <th>
                                                        <span class="userDatatable-title">id</span>
                                                    </th>
                                                    <th>
                                                        <span class="userDatatable-title">FIO</span>
                                                    </th>

                                                    <th>
                                                        <span class="userDatatable-title">Telefon</span>
                                                    </th>
                                                    <th>
                                                        <span class="userDatatable-title">Roli</span>
                                                    </th>

                                                  
                                                    <th>
                                                        <span class="userDatatable-title ">Tug'ilgan kuni</span>
                                                    </th>

                                                

                                                 
                                                    <th>
                                                        <span class="userDatatable-title orderDatatable_actions  d-flex ">Amallar</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr  style=" border-radius: 40px; padding: 15px; ">
                                                    <td>
                                                        <div class="userDatatable-content">01</div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex">
                                                            <div class="userDatatable-inline-title">
                                                                <a href="#" class="text-dark fw-500">
                                                                    <h6> Burhon Baqoyev </h6>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="userDatatable-content">
                                                          +998 (94) 273 27 08
                                                        </div>
                                                    </td>
                                                   
                                                    <td>
                                                        <div class="userDatatable-content">
                                                           Manager
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="userDatatable-content">
                                                          09.19.1999
                                                        </div>
                                                    </td>
                                                 
                                                 
                                                    <td>
                                                        <ul class="orderDatatable_actions mb-0 d-flex flex-wrap">
                                                            <li>
                                                                <a href="#" class="view">
                                                                    <span data-feather="eye"></span></a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="edit">
                                                                    <span data-feather="edit"></span></a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="remove">
                                                                    <span data-feather="trash-2"></span></a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>


                                                <tr  style=" border-radius: 40px;">
                                                    <td>
                                                        <div class="userDatatable-content">02</div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex">
                                                            <div class="userDatatable-inline-title">
                                                                <a href="#" class="text-dark fw-500">
                                                                    <h6> Robert</h6>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="userDatatable-content">
                                                            +1 (712) 445 5112
                                                        </div>
                                                    </td>
                                                   
                                                    <td>
                                                        <div class="userDatatable-content">
                                                            o'qituvchi
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="userDatatable-content">
                                                            28.02.1990
                                                        </div>
                                                    </td>
                                                 
                                                    
                                                    <td>
                                                        <ul class="orderDatatable_actions mb-0 d-flex flex-wrap">
                                                            <li>
                                                                <a href="#" class="view">
                                                                    <span data-feather="eye"></span></a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="edit">
                                                                    <span data-feather="edit"></span></a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="remove">
                                                                    <span data-feather="trash-2"></span></a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>

                                                
                                                <tr  style=" border-radius: 40px; padding: 15px; ">
                                                    <td>
                                                        <div class="userDatatable-content">02</div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex">
                                                            <div class="userDatatable-inline-title">
                                                                <a href="#" class="text-dark fw-500">
                                                                    <h6>pol</h6>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="userDatatable-content">
                                                            +1(712) 355 9937
                                                        </div>
                                                    </td>
                                                   
                                                    <td>
                                                        <div class="userDatatable-content">
                                                            buxgalter
                                                        </div>
                                                    </td>
                                                 
                                                    <td>
                                                        <div class="userDatatable-content">
                                                            30.03.2000
                                                        </div>
                                                    </td>
                                                 
                                                    <td>
                                                        <ul class="orderDatatable_actions mb-0 d-flex flex-wrap">
                                                            <li>
                                                                <a href="#" class="view">
                                                                    <span data-feather="eye"></span></a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="edit">
                                                                    <span data-feather="edit"></span></a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="remove">
                                                                    <span data-feather="trash-2"></span></a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>


                                            </tbody>
                                        </table>
                                        <ul class="atbd-pagination d-flex">
                                            <li class="atbd-pagination__item">
                                                <a href="#" class="atbd-pagination__link pagination-control"><span class="la la-angle-left"></span></a>
                                                <a href="#" class="atbd-pagination__link active"><span class="page-number">1</span></a>
                                                <a href="#" class="atbd-pagination__link "><span class="page-number">2</span></a>
                                                <a href="#" class="atbd-pagination__link"><span class="page-number">3</span></a>
                                                <a href="#" class="atbd-pagination__link pagination-control"><span class="page-number">...</span></a>
                                              
                                                <a href="#" class="atbd-pagination__link pagination-control"><span class="la la-angle-right"></span></a>
                                                <a href="#" class="atbd-pagination__option">
                                                </a>
                                            </li>
                                            <li class="atbd-pagination__item">
                                                
                                           
                                          </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>




<div class="drawer-basic-wrap">
    <div class="atbd-drawer drawer-account d-none">
      <div
        class="atbd-drawer__header d-flex aling-items-center justify-content-between"
      > <h3>Xodim qo'shish</h3>
        <h6 class="drawer-title"></h6>
        <a href="#" class="btdrawer-close"><i class="la la-times"></i></a>
      </div>
      <!-- ends: .atbd-drawer__header -->
      <div class="atbd-drawer__body">
        <div class="drawer-content">
          <div class="drawer-account-form form-basic">
            <form action="#">
              
              
                
               
               


                  <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="a1" class="il-gray fs-14 fw-500 align-center">Ism</label>
                            <input type="text" class="form-control ih-medium ip-light radius-xs b-light px-15" id="a1" placeholder="Nomi">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="a1" class="il-gray fs-14 fw-500 align-center">Familiya</label>
                            <input type="text" class="form-control ih-medium ip-light radius-xs b-light px-15" id="a1" placeholder="Nomi">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="a2" class="il-gray fs-14 fw-500 align-center">Telefon</label>
                            <input type=" number" class="form-control ih-medium ip-light radius-xs b-light px-15" id="a2" placeholder="998 *** ** **">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="a2" class="il-gray fs-14 fw-500 align-center">Tugilgan kun</label>
                            <input type="date" class="form-control ih-medium ip-light radius-xs b-light px-15" id="a2" placeholder="soni">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="a2" class="il-gray fs-14 fw-500 align-center">Jinsi</label>
                        <select name="url" id="owner" class="form-control ih-medium ip-light radius-xs b-light px-15">
                            <option value="">Erkak</option>
                            <option value="">Ayol</option>
                        </select>
                   
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="a2" class="il-gray fs-14 fw-500 align-center">Manzili</label>
                        <input type="text" class="form-control ih-medium ip-light radius-xs b-light px-15" id="a2" placeholder="">
                    </div>
                </div>
              
                <div class="col-md-6">
                    <label for="a2" class="il-gray fs-14 fw-500 align-center">Rol</label>
                    <div class="checkbox-group d-flex">

                        <div class="checkbox-theme-default custom-checkbox checkbox-group__single">
                            <input class="checkbox" type="checkbox" id="check-grp-1">
                            <label for="check-grp-1">
                                <span class="checkbox-text">CEO</span>
                            </label>
                        </div>

                        <div class="checkbox-theme-default custom-checkbox checkbox-group__single">
                            <input class="checkbox" type="checkbox" id="check-grp-2">
                            <label for="check-grp-2">
                                <span class="checkbox-text">Branch director</span>
                            </label>
                        </div>

                        <div class="checkbox-theme-default custom-checkbox checkbox-group__single">
                            <input class="checkbox" type="checkbox" id="check-grp-3">
                            <label for="check-grp-3">
                                <span class="checkbox-text">Administrator</span>
                            </label>
                        </div>

                        <div class="checkbox-theme-default custom-checkbox checkbox-group__single">
                            <input class="checkbox" type="checkbox" id="check-grp-4">
                            <label for="check-grp-4">
                                <span class="checkbox-text">Limited administrator</span>
                            </label>
                        </div>

                        <div class="checkbox-theme-default custom-checkbox checkbox-group__single">
                            <input class="checkbox" type="checkbox" id="check-grp-5">
                            <label for="check-grp-5">
                                <span class="checkbox-text">Teacher</span>
                            </label>
                        </div>

                        <div class="checkbox-theme-default custom-checkbox checkbox-group__single">
                            <input class="checkbox" type="checkbox" id="check-grp-6">
                            <label for="check-grp-6">
                                <span class="checkbox-text">Marketer</span>
                            </label>
                        </div>

                        <div class="checkbox-theme-default custom-checkbox checkbox-group__single">
                            <input class="checkbox" type="checkbox" id="check-grp-7">
                            <label for="check-grp-7">
                                <span class="checkbox-text">Cashier</span>
                            </label>
                        </div>



                    </div>

                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary btn-sm">Saqlash</button>
                   
                    </div>

                </div>
                </div>
             
              
             
               
              </div>
           
          </div>
        </div>
      </div>
      <!-- ends: .atbd-drawer__body -->
    </div>
    <!-- ends: .atbd-drawer -->
</div>
<div class="overlay-dark"></div>
<div class="overlay-dark-l2"></div>





{% endblock %}