{% extends 'atomic/theme.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="social-dash-wrap">
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 mt-25">
                <div class="bg-white radius-xl pt-25 px-25">
                    <div>
                        <div>
                            <h2>5 200 000</h2>
                        </div>
                        <div style="margin-left: 0; padding-bottom: 10px; margin-top:15px">
                            <a>Barcha to'lovlar</a>
                            <a>(01.06.2022-01.07.2022)</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 mt-25">
                <div class="bg-white radius-xl pt-25 px-25">
                    <div>
                        <div>
                            <h2> 600 000</h2>
                        </div>
                        <div style="margin-left: 0; padding-bottom: 10px; margin-top:15px">
                            <a>Qaytarilgan</a>
                            <a>(01.06.2022-01.07.2022)</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 mt-25">
                <div class="bg-white radius-xl pt-25 px-25">
                    <div>
                        <div>
                            <h2>4 600 000</h2>
                        </div>
                        <div style="margin-left: 0; padding-bottom: 10px; margin-top:15px">
                            <a>Sof foyda</a>
                            <a>(01.06.2022-01.07.2022)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                <div class="card-body pl-0 pt-3 pr-0">
                    <div class="bg-white radius-xl ml-0 px-25 p-1 pt-2">
                        <div>
                            <a style="margin-left:5px;">To'lov kategoriyalari</a>
                        </div>
                        <div class="row">
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 mt-2">
                                <div style="padding-left:5px;">
                                    <h2>1 250 000</h2>
                                </div>
                                <div style="margin-top:10px;">
                                    <a class="ml-1">Naqd pul</a>
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 mt-2">
                                <div>
                                    <h2>1 250 000</h2>
                                </div>
                                <div style="margin-top:10px;">
                                    <a>Plastik</a>
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 mt-2">
                                <div>
                                    <h2>1 250 000</h2>
                                </div>
                                <div style="margin-top:10px;">
                                    <a>Terminal</a>
                                </div>
                            </div>
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 mt-2">
                                <div>
                                    <h2>1 250 000</h2>
                                </div>
                                <div style="margin-top:10px;">
                                    <a>Bank</a>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                                <div>
                                    <div style="display:flex;">
                                        <div class="drawer-btn ml-5 mr-5 mt-1" style="width:100%;">
                                            <button class="btn btn-outline-success btn-default btn-squared drawer-trigger" data-drawer="price"
                                            style="width: 100%;padding:0;">+Kirim</button>
                                        </div>
                                        <div class="drawer-btn ml-5 mr-5 mt-1" style="width:100%;">
                                            <button class="btn btn-outline-dark btn-default btn-squared drawer-trigger" data-drawer=""
                                            style="width: 100%;padding:0;">-Chiqim</button>
                                        </div>
                                    </div>
                                    <div style="display:flex;">
                                        <div class="drawer-btn ml-5 mr-5 mt-1" style="width:100%;">
                                            <button class="btn btn-outline-warning btn-default btn-squared drawer-trigger" data-drawer="basic"
                                            style="width: 100%;padding:0;">Vaucher</button>
                                        </div>                                        
                                    </div>
                                </div>                               
                            </div>
                        </div>
                
                    </div>
                    <div class="row">
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                            <div class="card-body pl-0 pt-3 pr-0 mt-2">
                                <div style="border-radius: 10px;"
                                    class="userDatatable adv-table-table global-shadow border-0 bg-white w-100 adv-table-course-detail">
                                    <div class="table-responsive p-3">
                                     
                                        <div id="filter-form-container"></div>
                                        
                                        <table class="table mb-0 ml-1 table-borderless adv-table-finance"
                                            data-sorting="true"
                                            data-filter-container="#filter-form-container"
                                            data-paging-current="1" data-paging-position="right"
                                            data-paging-size="5">
                                            <thead>
                                                <tr class="userDatatable-header">
                                                    <th>
                                                        <span class="userDatatable-title">#</span>
                                                    </th>
                                                    <th>
                                                        <span class="userDatatable-title">F.I.O & Telefon</span>
                                                    </th>
                                                    <th>
                                                        <span class="userDatatable-title">To'lov turi & Sana</span>
                                                    </th>
                                                    <th>
                                                        <span class="userDatatable-title ">Summa & Tranzaksiya</span>
                                                    </th>
                                                    <th>
                                                        <span
                                                            class="userDatatable-title ">Izoh</span>
                                                    </th>
                                                    <th>
                                                        <span class="userDatatable-title ">Xodim</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="userDatatable-content">
                                                            1
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex">
                                                            <div class="userDatatable-inline-title">
                                                                <a href="#" class="text-dark fw-500">
                                                                    <h6>Burhon Baqoyev</h6>
                                                                </a>
                                                                <p class="d-block mb-0">
                                                                    (99) 500-50-50
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="userDatatable-inline-title">
                                                            <a href="#" class="text-dark fw-500">
                                                                <h6>Cash</h6>
                                                            </a>
                                                            <p class="d-block mb-0">
                                                                12.12.2022 14:00
                                                            </p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="userDatatable-inline-title">
                                                            <a href="#" class="text-dark fw-500">
                                                                <h6>250 000</h6>
                                                            </a>
                                                            <p class="d-block mb-0">
                                                                Kirim
                                                            </p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="userDatatable-content">
                                                            Kurs uchun
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="userDatatable-inline-title">
                                                            <a href="#" class="text-dark fw-500">
                                                                <h6>Burhon Baqoyev</h6>
                                                            </a>
                                                            <p class="d-block mb-0">
                                                                12.12.2022 14:00
                                                            </p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <ul class="atbd-pagination d-flex my-3">
                                            <li class="atbd-pagination__item">
                                                <a href="#"
                                                    class="atbd-pagination__link pagination-control"><span
                                                        class="la la-angle-left"></span></a>
                                                <a href="#" class="atbd-pagination__link active"><span
                                                        class="page-number">1</span></a>
                                                <a href="#" class="atbd-pagination__link "><span
                                                        class="page-number">2</span></a>
                                                <a href="#" class="atbd-pagination__link"><span
                                                        class="page-number">3</span></a>


                                                <a href="#"
                                                    class="atbd-pagination__link pagination-control"><span
                                                        class="la la-angle-right"></span></a>
                                                <a href="#" class="atbd-pagination__option">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(function() {
    $('.adv-table-finance').footable({
      filtering: {
        enabled: true
      },
      "paging": {
              "enabled": true,
			  "current": 1
	  },
      strings: {
        enabled: false
      },
      "filtering": {
              "enabled": true
          },
      components: {
          filtering: FooTable.MyFiltering
      },
    }); 
  });
  
  
FooTable.MyFiltering = FooTable.Filtering.extend({
	construct: function(instance){
		this._super(instance);
		// props for the first dropdown
		this.statuses = ['Web Developer','Senior Manager','UX/UI Desogner','Content Writer','Graphic Designer','Marketer','Project Manager','UI Designer','Business Development'];
		this.statusDefault = 'Status';
		this.$status = null;
		// courses
		this.courses = ['IT','English','Math'];
		this.courseDefault = 'Kurslar';
		this.$course = null;
		//teacher
		this.teachers = ['Aziz','Burhon','Jonibek'];
		this.teacherDefault = "O'qituvchi";
		this.$teacher = null;
		//day
		this.days = ['dushanba','seshanba','chorshanba','payshanba','juma','shanba','yakshanba'];
		this.dayDefault = 'kunlar';
		this.$day = null;
	},
	$create: function(){
		this._super();
		var self = this;
		// create the status form group and dropdown
		var $status_form_grp = $('<div/>', {'class': 'form-group atbd-select d-flex align-items-center adv-table-searchs__position '})
			.append($('<label/>', {'class': 'd-flex align-items-center mb-sm-0 mb-2', text: ''}))
			.prependTo(self.$form);

		self.$status = $('<select/>', { 'class': 'form-control ml-sm-10 ml-0' })
			.on('change', {self: self}, self._onStatusDropdownChanged)
			.append($('<option/>', {text: self.statusDefault}))
			.appendTo($status_form_grp);

		$.each(self.statuses, function(i, status){
			self.$status.append($('<option/>').text(status));
		});


		// courses
		var $course_form_grp = $('<div/>', {'class': 'form-group atbd-select d-flex align-items-center adv-table-searchs__position'})
			.append($('<label/>', {'class': 'd-flex align-items-center mb-sm-0 mb-2', text: ''}))
			.prependTo(self.$form);

		self.$course = $('<select/>', { 'class': 'form-control ml-sm-10 ml-0' })
			.on('change', {self: self}, self._onCourseDropdownChanged)
			.append($('<option/>', {text: self.courseDefault}))
			.appendTo($course_form_grp);

		$.each(self.courses, function(i, status){
			self.$course.append($('<option/>').text(status));
		});
		
		//teacher 
		var $teacher_form_grp = $('<div/>', {'class': 'form-group atbd-select d-flex align-items-center adv-table-searchs__position'})
		.append($('<label/>', {'class': 'd-flex align-items-center mb-sm-0 mb-2', text: ''}))
		.prependTo(self.$form);

	self.$teacher = $('<select/>', { 'class': 'form-control ml-sm-10 ml-0' })
		.on('change', {self: self}, self._onTeacherDropdownChanged)
		.append($('<option/>', {text: self.teacherDefault}))
		.appendTo($teacher_form_grp);

	$.each(self.teachers, function(i, status){
		self.$teacher.append($('<option/>').text(status));
	});

			//day
			var $day_form_grp = $('<div/>', {'class': 'form-group atbd-select d-flex align-items-center adv-table-searchs__position'})
			.append($('<label/>', {'class': 'd-flex align-items-center mb-sm-0 mb-2', text: ''}))
			.prependTo(self.$form);
	
		self.$day = $('<select/>', { 'class': 'form-control ml-sm-10 ml-0' })
			.on('change', {self: self}, self._onDayDropdownChanged)
			.append($('<option/>', {text: self.dayDefault}))
			.appendTo($day_form_grp);
	
		$.each(self.days, function(i, status){
			self.$day.append($('<option/>').text(status));
		});
	},
	_onStatusDropdownChanged: function(e){
		var self = e.data.self,
			selected = $(this).val();
		if (selected !== self.jobTitleDefault){
			self.addFilter('status', selected, ['status']);
		} else {
			self.removeFilter('status');
		}
		self.filter();
	},

	_onCourseDropdownChanged: function(e){
		var self = e.data.self,
			selected = $(this).val();
		if (selected !== self.courseDefault){
			self.addFilter('course', selected, ['course']);
		} else {
			self.removeFilter('course');
		}
		self.filter();
	},

	_onTeacherDropdownChanged: function(e){
		var self = e.data.self,
			selected = $(this).val();
		if (selected !== self.teacherDefault){
			self.addFilter('teacher', selected, ['teacher']);
		} else {
			self.removeFilter('teacher');
		}
		self.filter();
	},

	_onDayDropdownChanged: function(e){
		var self = e.data.self,
			selected = $(this).val();
		if (selected !== self.dayDefault){
			self.addFilter('day', selected, ['day']);
		} else {
			self.removeFilter('day');
		}
		self.filter();
	},

	
	draw: function(){
		this._super();
		// handle the status filter if one is supplied
		var status = this.find('position');
		if (status instanceof FooTable.Filter){
			this.$status.val(status.query.val());
		} else {
			this.$status.val(this.statusDefault);
		}

		// handle the course filter if one is supplied
		var course = this.find('course');
		if (course instanceof FooTable.Filter){
			this.$course.val(status.query.val());
		} else {
			this.$course.val(this.courseDefault);
		}

		 // handle the teacher filter if one is supplied
				var teacher = this.find('teacher');
				if (teacher instanceof FooTable.Filter){
					this.$teacher.val(status.query.val());
				} else {
					this.$teacher.val(this.teacherDefault);
				}
	
		 // handle the day filter if one is supplied
		 var day = this.find('day');
		 if (day instanceof FooTable.Filter){
			 this.$day.val(status.query.val());
		 } else {
			 this.$day.val(this.dayDefault);
		 }
	}
});
</script>
{% endblock %}