{% extends 'atomic/theme.html' %}
{% load static %}
{% block content %}
<div class="col-lg-6">
    <div class="card card-default card-md mb-4">
        <div class="card-header">
            <h6>Input Groups</h6>
        </div>
        <div class="card-body py-md-30">
            <form action="#">
                <div class="form-group row mb-n25">
                    <div class="col-md-6 mb-25">
                        <div class="with-icon">
                            <span class="la-user lar color-light"></span>
                            <input type="text" class="form-control  ih-medium ip-lightradius-xs b-light" id="inputNameIcon" placeholder="Login">
                        </div>
                    </div>
                    <div class="col-md-6 mb-25">
                        <div class="with-icon">
                            <span class="las la-envelope color-light"></span>
                            <input type="text" class="form-control  ih-medium ip-lightradius-xs b-light" id="inputNameIcon" placeholder="Parol">
                        </div>
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}