{% extends 'atomic/theme.html' %} 
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-between mt-2 align-items-center">
               
             
                <div class="action-btn">
              
                    <button class="btn btn-primary btn-default btn-squared " data-toggle="modal" data-target="#modal-basic" ><span data-feather="plus"></span>
                     Guruh qo'shish
                    </button>
                    
                </div>
                
        </div>
    </div>
</div>
<div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 mb-30">
                        
                        <div class="card mt-30">
                            <div class="card-body">
                                <div class="userDatatable adv-table-table global-shadow border-0 bg-white w-100 adv-table">
                                    <div class="table-responsive">
                                        <div class="adv-table-table__header">
                                            <h4></h4>
                                            <div class="adv-table-table__button">
                                                <div class="dropdown">
                                                   

                                                   
                                                </div>
                                            </div>
                                        </div>
                                        <div id="filter-form-container"></div>
                                        <table class="table mb-0 table-borderless adv-table" data-sorting="true" data-filter-container="#filter-form-container" data-paging-current="1" data-paging-position="right" data-paging-size="10">
                                            <thead>
                                                <tr class="userDatatable-header">
                                                    <th>
                                                        <span class="userDatatable-title">#</span>
                                                    </th>
                                               <th>
                                                    <span class="userDatatable-title">Nomi</span>
                                                </th>
                                                <th data-type="html" data-name='position'>
                                                    <span class="userDatatable-title">Kurs</span>
                                                </th>
                                            <th>
                                                    <span class="userDatatable-title">O'qituvchi</span>
                                                </th>
                                                <th>
                                                    <span class="userDatatable-title ">Kunlari</span>
                                                </th>
                                                <th>
                                                    <span class="userDatatable-title ">Dars vaqtlari</span>
                                                </th>
                                                <th>
                                                    <span class="userDatatable-title ">O'quvchilar</span>
                                                </th>
                                                <th>
                                                    <span class="userDatatable-title ">Narx</span>
                                                </th>
                                                    <th>
                                                        <span class="userDatatable-title ">Amallar</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr>
                                                    <td>
                                                        <div class="userDatatable-content">01</div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex">
                                                            <div class="userDatatable-inline-title">
                                                                <a href="#" class="text-dark fw-500">
                                                                    <h6> Matematika<sub>b1</sub></h6>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="userDatatable-content">
                                                           Matematika
                                                        </div>
                                                    </td>
                                                   
                                                    <td>
                                                        <div class="userDatatable-content">
                                                           B.Baqoyev
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="userDatatable-content">
                                                         Du/Se/Chor
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="userDatatable-content">
                                                           10:10-12:00
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="userDatatable-content">
                                                           15
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="userDatatable-content">
                                                           350 000
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="userDatatable-content">
                                                           ...
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="userDatatable-content d-inline-block">
                                                            <span class="bg-opacity-success  color-success rounded-pill userDatatable-content-status active">active</span>
                                                        </div>
                                                    </td>
                                                   
                                                </tr>


                                                  
                                               
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
</div>
            <!--   oqituvchi qoshish-->>
<div class="modal-basic modal fade show" id="modal-basic" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content modal-bg-white ">
            <div class="modal-header">

                <h6 class="modal-title"> + qo’shish</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span data-feather="x"></span></button>
            </div>
            <div class="modal-body">
                <form action="#">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="a1" class="il-gray fs-14 fw-500 align-center">Nomi</label>
                                <input type="text" class="form-control ih-medium ip-light radius-xs b-light px-15" id="a1" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="a2" class="il-gray fs-14 fw-500 align-center">Kurs</label>
                                <input type="text" class="form-control ih-medium ip-light radius-xs b-light px-15" id="a2" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="a2" class="il-gray fs-14 fw-500 align-center">Statusi</label>
                                <input type="number" class="form-control ih-medium ip-light radius-xs b-light px-15" id="a2" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="a2" class="il-gray fs-14 fw-500 align-center">O'qituvchi</label>
                                <input type="text" class="form-control ih-medium ip-light radius-xs b-light px-15" id="a2" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="a2" class="il-gray fs-14 fw-500 align-center">Yordamchi o'qituvchi</label>
                                <input type="text" class="form-control ih-medium ip-light radius-xs b-light px-15" id="a2" placeholder="O'qituvchi/asistent">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="a2" class="il-gray fs-14 fw-500 align-center">Kunlar</label>
                                <input type="text" class="form-control ih-medium ip-light radius-xs b-light px-15" id="a2" placeholder="">
                                
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="a2" class="il-gray fs-14 fw-500 align-center">Vaqt</label>
                                <input type="text" class="form-control ih-medium ip-light radius-xs b-light px-15" id="a2" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="a2" class="il-gray fs-14 fw-500 align-center">Turi</label>
                                <input type="text" class="form-control ih-medium ip-light radius-xs b-light px-15" id="a2" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="a2" class="il-gray fs-14 fw-500 align-center">Turi</label>
                                <input type="type" class="form-control ih-medium ip-light radius-xs b-light px-15" id="a2" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="a2" class="il-gray fs-14 fw-500 align-center">Turi</label>
                                <input type="type" class="form-control ih-medium ip-light radius-xs b-light px-15" id="a2" placeholder="">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="a2" class="il-gray fs-14 fw-500 align-center">Xona</label>
                                <input type="type" class="form-control ih-medium ip-light radius-xs b-light px-15" id="a2" placeholder="">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="a2" class="il-gray fs-14 fw-500 align-center">O'quv limiti</label>
                                <input type="type" class="form-control ih-medium ip-light radius-xs b-light px-15" id="a2" placeholder="">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="a2" class="il-gray fs-14 fw-500 align-center">To'lov formati</label>
                                <input type="type" class="form-control ih-medium ip-light radius-xs b-light px-15" id="a2" placeholder="">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="a2" class="il-gray fs-14 fw-500 align-center">Dars boshlanish vaqti</label>
                                <input type="type" class="form-control ih-medium ip-light radius-xs b-light px-15" id="a2" placeholder="">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="a2" class="il-gray fs-14 fw-500 align-center">Tugash vaqti</label>
                                <input type="type" class="form-control ih-medium ip-light radius-xs b-light px-15" id="a2" placeholder="">
                            </div>
                        </div>
                       
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm">Saqlash</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Bekor qilish</button>
            </div>
        </div>
    </div>
</div>

<ul class="atbd-pagination d-flex">
    <li class="atbd-pagination__item">
        <a href="#" class="atbd-pagination__link pagination-control"><span class="la la-angle-left"></span></a>
        <a href="#" class="atbd-pagination__link active"><span class="page-number">1</span></a>
        <a href="#" class="atbd-pagination__link "><span class="page-number">2</span></a>
        <a href="#" class="atbd-pagination__link"><span class="page-number">3</span></a>
        
      
        <a href="#" class="atbd-pagination__link pagination-control"><span class="la la-angle-right"></span></a>
        <a href="#" class="atbd-pagination__option">
        </a>
    </li>
   
</ul>

!-- ends: .atbd-drawer -->
{% endblock %}