
{% for module in modules %}
<div class="col-xl-9 col-sm-7">
    <div class="mb-30">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade  show active" id="v-pills-profile-1" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="card h-100 shadow-lg pb-md-50 pb-30 mb-md-50 mb-30">
                    <div class="card-header px-30 pt-0 pb-0 border-bottom-0" style="min-height: 20px;">
                    </div>
                    <div class="card-body pt-0">
                        <div class="application-faqs">
                            {% for lesson in lessons %}
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <!-- panel 1 -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title d-flex">
                                                <a data-toggle="collapse" data-parent="#accordion"
                                                    href="#collapseOne-lesson-{{lesson.id }}" aria-expanded="true"
                                                    aria-controls="collapseOne-lesson-{{lesson.id }}" style="font-size: 16px !important;" >
                                                    {{ forloop.counter }}. {{ lesson.title }}
                                                </a>
                                                
                                                <button class="btn btn-light px-2  d-flex justify-content-center align-items-center mr-2" data-toggle="modal" data-target="#modal-basic3">
                                                    <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 0;" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"/><line x1="12" y1="8" x2="12" y2="16"/><line x1="8" y1="12" x2="16" y2="12"/></svg>
                                                </button>
                                                <span role="button" class="selling-badge order-bg-opacity-primary color-primary  mr-5 cursor-pointer" id="todo10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">...</span>
            
                                                <div class="dropdown-menu" aria-labelledby="todo10" x-placement="left-start" style="position: absolute; transform: translate3d(-190px, 14px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                    <a class="dropdown-item" style="text-transform: none;" href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"/></svg>
                                                        Yuqoriga ko'tarish</a>
                                                    <a class="dropdown-item" style="text-transform: none;" href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"/></svg>
                                                            Pastga tushirish</a>
                                                    <a class="dropdown-item" href="#"  data-toggle="modal" data-target="#modal-basic-active">
                                                        <svg style="transform: scale(3.5);margin-right: 7px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#20c997" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"/><polyline points="22 4 12 14.01 9 11.01"/></svg>
                                                        <span class="text-success">Aktivlashtirish</span>/
                                                        <svg style="transform: scale(3.5);margin:0 7px;"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pause-circle"><circle cx="12" cy="12" r="10"/><line x1="10" y1="15" x2="10" y2="9"/><line x1="14" y1="15" x2="14" y2="9"/></svg> 
                                                        muzlatish</a>
                                                    <a class="dropdown-item" href="#">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"/></svg>
                                                        Tahrirlash</a>
                                                    <a class="dropdown-item text-danger" href="#"  data-toggle="modal" data-target="#modal-basic-delete">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"/><line x1="15" y1="9" x2="9" y2="15"/><line x1="9" y1="9" x2="15" y2="15"/></svg>
                                                        O'chirish</a>
                                                </div>  
                                            
                                            </h4>
                                        </div>
                                        <div id="collapseOne-lesson-{{lesson.id }}" class="panel-collapse collapse in show"
                                            role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">

                                                <ul class="draggable-list" id="draggable-list"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                </div>
            </div>
        </div>
        <div class="tab-pane fade  show" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <!-- Edit Profile -->

        <div class="card h-100 shadow-lg pb-md-50 pb-30 mb-md-50 mb-30">
            <div class="card-header px-30 pt-0 pb-0 border-bottom-0" style="min-height: 20px;">
        
            </div>
            <div class="card-body pt-0">
                <div class="application-faqs">
                    <div class="panel-group" id="accordion" role="tablist"
                        aria-multiselectable="true">
                        <!-- panel 1 -->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        1-Dars
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in show"
                                role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">

                                    <ul class="draggable-list" id="draggable-list"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- panel 2 -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse"
                                    data-parent="#accordion" href="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    2-Dars
                                </a>
                            </h4>

                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse"
                            role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <!-- <ul class="draggable-list" id="draggable-list"></ul> -->
                            </div>
                        </div>
                </div>
                <!-- panel 3 -->
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse"
                                data-parent="#accordion" href="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                3-Dars
                            </a>
                        </h4>

                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                        aria-labelledby="headingThree">
                        <div class="panel-body">

                            asdasdasd
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endfor %}