{% extends 'atomic/theme.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'main1.css' %}">
{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12 p-0">
            <div class="col-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12 p-0">
                <div style="display:flex;" class="card m-0 mt-2 p-0">
                    <div style="display:flex;">
                        <h3 style="margin: auto; margin-left: 20px;">Lidlar - 112 ta</h3>
                        <div style="margin:auto auto;">
                            <ul class="nav nav-tabs knowledgebase__nav" id="knowledgebase" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="kanban-tab" data-toggle="pill" href="#kanban"
                                        role="tab" aria-controls="kanban" aria-selected="true">Kanban</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="ryhot-tab" data-toggle="pill" href="#ryhot" role="tab"
                                        aria-controls="ryhot" aria-selected="false">Ro'yhat</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="split-tab" data-toggle="pill" href="#split" role="tab"
                                        aria-controls="split" aria-selected="false">Split</a>
                                </li>
                            </ul>
                        </div>
                        <div style="display: flex; margin:auto auto;" class="ml-3 p-2">
                            <button class="btn btn-primary btn-default btn-squared drawer-trigger ml-1"
                                data-drawer="basic">
                                + Lid qo'shish
                            </button>
                            <button class="btn btn-primary btn-default btn-squared drawer-trigger ml-1"
                                data-drawer="basic">
                                Vazifalar
                            </button>
                            <button class="btn btn-primary btn-default btn-squared drawer-trigger ml-1"
                                data-drawer="basic">
                                Formalar
                            </button>
                            <button class="btn btn-primary btn-default btn-squared drawer-trigger ml-1"
                                data-drawer="basic">
                                Arxiv
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12 p-0">
                <div class="tab-pane fade" id="kanban" role="tabpanel" aria-labelledby="kanban-tab">

                </div>
                <div class="tab-pane fade" id="kanban" role="tabpanel" aria-labelledby="kanban-tab">

                </div>
                <div class="tab-pane fade" id="split" role="tabpanel" aria-labelledby="split-tab">
                    <div class="row">
                        <div class="col-3 col-lg-3 col-md-3 col-xl-3 col-xxl-3 p-0">
                            <div class="changelog mt-1 ml-3">
                                <div>
                                    <div class="card-header" style="border-radius: 10px;">
                                        <div class="changelog__title">
                                            <form action="/"
                                                class="d-flex align-items-center add-contact__form my-sm-0 my-2">
                                                <span data-feather="search" class="ml-1"></span>
                                                <input class="form-control mr-sm-2 border-0 box-shadow-none"
                                                    type="search" placeholder="Qidirish" aria-label="Search"
                                                    style="background-color:white;">
                                            </form>
                                        </div>
                                    </div>

                                    <div class="mt-2">
                                        <div class="hweq">
                                            <div style="display:inline;margin:auto;margin-right: 0; margin-left:20px;">
                                                <input type="checkbox" style="display:inline;">
                                            </div>
                                            <div style="display:inline;margin-left:15px;">
                                                <h6 style="font-size:15px;margin:auto;margin-left: 10px;color:black; padding:auto;">
                                                    Burhon Baqoyev</h6>
                                                <h6 style="font-size:15px;margin:auto;margin-left: 10px;color:black; padding:auto;">
                                                    +998 99 999 99 99</h6>
                                            </div>
                                        </div>
                                        <div class="hweq">
                                            <div style="display:inline;margin:auto;margin-right: 0; margin-left:20px;">
                                                <input type="checkbox" style="display:inline;">
                                            </div>
                                            <div style="display:inline;margin-left:15px;">
                                                <h6 style="font-size:15px;margin:auto;margin-left: 10px;color:black; padding:auto;">
                                                    Burhon Baqoyev</h6>
                                                <h6 style="font-size:15px;margin:auto;margin-left: 10px;color:black; padding:auto;">
                                                    +998 99 999 99 99</h6>
                                            </div>
                                        </div>
                                        <div class="hweq">
                                            <div style="display:inline;margin:auto;margin-right: 0; margin-left:20px;">
                                                <input type="checkbox" style="display:inline;">
                                            </div>
                                            <div style="display:inline;margin-left:15px;">
                                                <h6 style="font-size:15px;margin:auto;margin-left: 10px;color:black; padding:auto;">
                                                    Burhon Baqoyev</h6>
                                                <h6 style="font-size:15px;margin:auto;margin-left: 10px;color:black; padding:auto;">
                                                    +998 99 999 99 99</h6>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="col-9 col-lg-9 col-md-9 col-xl-9 col-xxl-9 p-0">
                            <div class="card ml-1 mt-1 p-2 ">
                                <div class="card-body">
                                    <div class="tab-wrapper">

                                        <div class="atbd-tab tab-horizontal">
                                            <ul class="nav nav-tabs vertical-tabs" role="tablist">

                                                <li class="nav-item">
                                                    <a class="nav-link active" id="tab-v-1-tab" data-toggle="tab"
                                                        href="#tab-v-1" role="tab" aria-controls="tab-v-1"
                                                        aria-selected="true">Ma'lumotlar</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="tab-v-2-tab" data-toggle="tab"
                                                        href="#tab-v-2" role="tab" aria-controls="tab-v-2"
                                                        aria-selected="false">Topshiriqlar</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="tab-v-4-tab" data-toggle="tab"
                                                        href="#tab-v-4" role="tab" aria-controls="tab-v-4"
                                                        aria-selected="false">Muloqot</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="tab-v-3-tab" data-toggle="tab"
                                                        href="#tab-v-3" role="tab" aria-controls="tab-v-3"
                                                        aria-selected="false">Tarix</a>
                                                </li>



                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane fade show active" id="tab-v-1" role="tabpanel"
                                                    aria-labelledby="tab-v-1-tab">

                                                    <div class="table-responsive">

                                                        <table>

                                                            <tbody>
                                                                <tr class="p-1">
                                                                    <td>
                                                                        <a style="padding-top:7px;">F.I.O:</a>

                                                                    </td>
                                                                    <td style="padding:3px;">
                                                                        <a style="padding-top:7px;color: black;">Baqoyev
                                                                            Burhon</a>
                                                                    </td>
                                                                </tr>
                                                                <tr class="p-1">
                                                                    <td>
                                                                        <a style="padding-top:7px;">Telefon 1:</a>
                                                                    </td>
                                                                    <td style="padding:3px;">
                                                                        <a
                                                                            style="padding-top:7px;color: black;">+998</a>
                                                                        <a style="padding-top:7px;color: black;">99
                                                                            123-12-12</a>
                                                                    </td>
                                                                </tr>
                                                                <tr class="p-1">
                                                                    <td>
                                                                        <a style="padding-top:7px;">Telefon 2:</a>
                                                                    </td>
                                                                    <td style="padding:3px;">
                                                                        <a
                                                                            style="padding-top:7px;color: black;">+998</a>
                                                                        <a style="padding-top:7px;color: black;">99
                                                                            123-12-12</a>
                                                                    </td>
                                                                </tr>
                                                                <tr class="p-1">
                                                                    <td>
                                                                        <a style="padding-top:7px;">Manzil:</a>
                                                                    </td>
                                                                    <td style="padding:3px;">
                                                                        <a
                                                                            style="padding-top:7px;color: black;">Manzil-uy-raqami</a>
                                                                    </td>
                                                                </tr>
                                                                <tr class="p-1">
                                                                    <td>
                                                                        <a style="padding-top:7px;">Manba:</a>
                                                                    </td>
                                                                    <td style="padding:3px;">
                                                                        <a
                                                                            style="padding-top:7px;color: black;">Instagram</a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                    <div>
                                                        <div class="single mt-2"
                                                            style="height: 60px;padding:5px;
                                                        border:1px rgb(148, 148, 148) solid;border-radius:5px;background-color:rgba(246, 246, 246, 0.885);">
                                                            <span data-feather="file-text" class="ml-1"></span>
                                                            <h6 style="display:inline;">Notes (0)</h6>
                                                            <div class="drawer-btn" style="float:right;">
                                                                <button
                                                                    class="button123 btn btn-white btn-default btn-squared drawer-trigger btn-shadow-white"
                                                                    data-drawer="basic">New</button>
                                                            </div>
                                                            

                                                        </div>
                                                        <div class="single mt-2"
                                                            style="height: 60px;padding:5px;
                                                            border:1px rgb(148, 148, 148) solid;border-radius:5px;background-color:rgba(246, 246, 246, 0.885);">
                                                            <span data-feather="file" class="ml-1"></span>
                                                            <h6 style="display:inline;">Files (0)</h6>
                                                            <div class="atbd-tag-wrap"
                                                                style="display:inline;float:right;padding:0 20px;margin:0;padding: 0;">

                                                                <div class="atbd-upload">
                                                                    <div class="atbd-upload__button">
                                                                        <a href="javascript:void(0)"
                                                                            class="button123 btn btn-lg btn-outline btn-white btn-shadow-white btn-upload"
                                                                            onclick="$('#upload-1').click()"></span>Add
                                                                            file</a>
                                                                        <input type="file" name="upload-1"
                                                                            class="upload-one" id="upload-1">
                                                                    </div>
                                                                    <div class="atbd-upload__file">
                                                                        <ul>

                                                                        </ul>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="tab-v-2" role="tabpanel"
                                                    aria-labelledby="tab-v-2-tab">
                                                    <div class="row">
                                                        <div class="col-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">
                                                            <div class="chat-box p-0 pt-2"
                                                                style="background-color:rgb(246, 245, 255);">
                                                                <div class="mb-2">
                                                                    <a>Topshiriqlar soni - 14ta | Bugun - 0</a>
                                                                    <button
                                                                        class="btn btn-primary btn-default btn-squared drawer-trigger"
                                                                        data-drawer="basic" style="float:right;">+
                                                                        Qo'shish</button>
                                                                </div>
                                                                <div class="flex-1 incoming-chat">
                                                                    <div class="chat-text-box">
                                                                        <div class="media ">
                                                                            <div
                                                                                class="chat-text-box__photo mr-2 pl-2 ">
                                                                                <span data-feather="users"></span>
                                                                            </div>
                                                                            <div class="media-body">
                                                                                <div class="chat-text-box__content">
                                                                                    <div
                                                                                        class="chat-text-box__title d-flex align-items-center">

                                                                                    </div>
                                                                                    <div class="d-flex align-items-center mb-20 mt-10 p-0 pl-2 pt-1"
                                                                                        style="width:100%;">
                                                                                        <div class="chat-text-box__subtitle  bg-white"
                                                                                            style="width:100%;">
                                                                                            <div style="padding:10px">

                                                                                                <a>Meeting</a>
                                                                                                <span
                                                                                                    data-feather="more-vertical"
                                                                                                    style="float:right;"></span>
                                                                                            </div>
                                                                                            <div
                                                                                                style="padding-left:10px;">
                                                                                                <a
                                                                                                    style="color:green;">Today</a>
                                                                                                <a
                                                                                                    style="margin:auto 10px;">CEO</a>
                                                                                                <span
                                                                                                    data-feather="user"></span>
                                                                                                <a>Hoshimjon</a>
                                                                                            </div>
                                                                                            <div
                                                                                                style="background-color:rgb(249, 242, 230); padding: 10px;margin-top:5px;">
                                                                                                Test uchun yozildi
                                                                                            </div>
                                                                                        </div>

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="tab-v-4" role="tabpanel"
                                                    aria-labelledby="tab-v-4-tab">
                                                    <div class="row">
                                                        <div class="col-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">
                                                            <div class="chat-box p-0 pt-2"
                                                                style="background-color:rgb(246, 245, 255);">
                                                                <!-- Start: Incomming -->
                                                                <div class="flex-1 incoming-chat">
                                                                    <div class="chat-text-box">
                                                                        <div class="media ">
                                                                            <div
                                                                                class="chat-text-box__photo mr-2 pl-2 ">
                                                                                <span data-feather="users"></span>
                                                                            </div>
                                                                            <div class="media-body">
                                                                                <div class="chat-text-box__content">
                                                                                    <div
                                                                                        class="chat-text-box__title d-flex align-items-center">

                                                                                    </div>
                                                                                    <div class="d-flex align-items-center mb-20 mt-10 p-0 pl-2 pt-1"
                                                                                        style="width:100%;">
                                                                                        <div class="chat-text-box__subtitle  bg-white"
                                                                                            style="width:100%;">
                                                                                            <div style="padding:10px">

                                                                                                <a>Meeting</a>
                                                                                                <span
                                                                                                    data-feather="more-vertical"
                                                                                                    style="float:right;"></span>
                                                                                            </div>
                                                                                            <div
                                                                                                style="padding-left:10px;">
                                                                                                <a
                                                                                                    style="color:green;">Today</a>
                                                                                                <a
                                                                                                    style="margin:auto 10px;">CEO</a>
                                                                                                <span
                                                                                                    data-feather="user"></span>
                                                                                                <a>Hoshimjon</a>
                                                                                            </div>
                                                                                            <div
                                                                                                style="background-color:rgb(249, 242, 230); padding: 10px;margin-top:5px;">
                                                                                                Test uchun yozildi
                                                                                            </div>
                                                                                        </div>

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="tab-v-3" role="tabpanel"
                                                    aria-labelledby="tab-v-3-tab">
                                                    <div class="row">
                                                        <div class="col-12 p-0 ">

                                                            <div class="card mb-25">
                                                                <div class="card-body pt-0 pb-0">
                                                                    <div class="drag-drop-wrap">
                                                                        <div
                                                                            class="drag-drop table-responsive-lg bg-white w-100 mb-30">
                                                                            <table class="table mb-0 table-basic">
                                                                                <tbody>

                                                                                    <tr class="p-1" class="draggable">
                                                                                        <td>
                                                                                            <div>
                                                                                                <div
                                                                                                    class="atbd-badge-list d-flex align-items-center">
                                                                                                    <span
                                                                                                        class="badge badge-round badge-light badge-lg badge-outlined">
                                                                                                        Burhon Baqoyev
                                                                                                    </span>
                                                                                                </div>
                                                                                                <h6 class="mt-2"> user
                                                                                                    authed</h6>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td>
                                                                                            94 123 56 78
                                                                                        </td>
                                                                                        <td>
                                                                                            12.12.2020
                                                                                        </td>
                                                                                    </tr>


                                                                                    <tr class="draggable">
                                                                                        <td>
                                                                                            <div>
                                                                                                <div
                                                                                                    class="atbd-badge-list d-flex align-items-center">
                                                                                                    <span
                                                                                                        class="badge badge-round badge-light badge-lg badge-outlined">
                                                                                                        Burhon Baqoyev
                                                                                                    </span>
                                                                                                </div>
                                                                                                <h6 class="mt-2"> user
                                                                                                    authed</h6>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td>
                                                                                            94 123 56 78
                                                                                        </td>
                                                                                        <td>
                                                                                            12.12.2020
                                                                                        </td>
                                                                                    </tr>


                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="drawer-basic-wrap">
        <div class="atbd-drawer drawer-basic d-none">
            <div class="atbd-drawer__header">
                <h6 class="drawer-title">Note qo'shish</h6>
            </div><!-- ends: .atbd-drawer__header -->
            <div class="atbd-drawer__body">
                
                <div class="drawer-content">
                    <textarea class="form-control"
                        style="height:200px;margin-top:15px; background-color: rgb(243, 246, 250);"
                        id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="mt-2">
                    <button class="btn btn-primary btn-default btn-squared" style="float:right;">Saqlash</button>
                </div>
            </div><!-- ends: .atbd-drawer__body -->
        </div><!-- ends: .atbd-drawer -->
        <div class="atbd-drawer drawer-account d-none">
            <div class="atbd-drawer__header d-flex aling-items-center justify-content-between">
                <h6 class="drawer-title">Create a new account</h6>
                <a href="#" class="btdrawer-close"><i class="la la-times"></i></a>
            </div><!-- ends: .atbd-drawer__header -->
            <div class="atbd-drawer__body">
                <div class="drawer-content">
                    <div class="drawer-account-form form-basic">
                        <form action="#">
                            <div class="form-row">
                                <div class="form-group col-lg-6">
                                    <label for="username">Name</label>
                                    <input type="text" name="name" id="username" class="form-control form-control-sm"
                                        placeholder="Please Enter Your Name">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="url">Url</label>
                                    <input type="url" name="name" id="url" class="form-control form-control-sm"
                                        placeholder="Please Enter URL">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="owner">Owner</label>
                                    <select name="url" id="owner" class="form-control-sm">
                                        <option value="">Jack Ma</option>
                                        <option value="">Tom liu</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="type">Type</label>
                                    <select name="url" id="type" class="form-control-sm">
                                        <option value="">Jack Ma</option>
                                        <option value="">Tom liu</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="approver">Approver</label>
                                    <select name="url" id="approver" class="form-control-sm">
                                        <option value="">Jack Ma</option>
                                        <option value="">Tom liu</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="datepicker">DateTime</label>
                                    <input type="text" name="name" id="datepicker" class="form-control form-control-sm"
                                        placeholder="Please Enter URL">
                                </div>
                                <div class="form-group col-12">
                                    <label for="description">Discription</label>
                                    <textarea name="description" id="description" class="form-control form-control-sm"
                                        placeholder="PLease Enter Url Description"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- ends: .atbd-drawer__body -->
        </div><!-- ends: .atbd-drawer -->




        <div class="atbd-drawer drawer-profile d-none">
            <div class="atbd-drawer__body">
                <div class="drawer-content">
                    <h6>User Profile</h6>
                    <div class="profile-info-box">
                        <div class="profile-info-box__single">
                            <h6>Personal</h6>
                            <div class="profile-info d-flex flex-wrap">
                                <div class="profile-info__single">
                                    <span class="profile-info__label">Full Name:</span>
                                    <span class="profile-info__text">Lily</span>
                                </div><!-- ends: .profile-info__single -->
                                <div class="profile-info__single">
                                    <span class="profile-info__label">Account:</span>
                                    <span class="profile-info__text">adminDesign@example.com</span>
                                </div><!-- ends: .profile-info__single -->
                                <div class="profile-info__single">
                                    <span class="profile-info__label">City:</span>
                                    <span class="profile-info__text">Toronto</span>
                                </div><!-- ends: .profile-info__single -->
                                <div class="profile-info__single">
                                    <span class="profile-info__label">Country:</span>
                                    <span class="profile-info__text">Canada</span>
                                </div><!-- ends: .profile-info__single -->
                                <div class="profile-info__single">
                                    <span class="profile-info__label">Birthday:</span>
                                    <span class="profile-info__text">February 21,2020</span>
                                </div><!-- ends: .profile-info__single -->
                                <div class="profile-info__single">
                                    <span class="profile-info__label">Website:</span>
                                    <span class="profile-info__text">-</span>
                                </div><!-- ends: .profile-info__single -->
                            </div>
                            <div class="profile-info-extra">
                                <span class="profile-info__label">Message:</span>
                                <span class="profile-info__text">Make things as simple as possible but no
                                    simpler.</span>
                            </div>
                        </div><!-- ends: .aprofile-info-box__single -->
                        <div class="profile-info-box__single">
                            <h6>Company</h6>
                            <div class="profile-info d-flex flex-wrap">
                                <div class="profile-info__single">
                                    <span class="profile-info__label">Position:</span>
                                    <span class="profile-info__text">Programmer</span>
                                </div><!-- ends: .profile-info__single -->
                                <div class="profile-info__single">
                                    <span class="profile-info__label">Responsibilities:</span>
                                    <span class="profile-info__text">Coding</span>
                                </div><!-- ends: .profile-info__single -->
                                <div class="profile-info__single">
                                    <span class="profile-info__label">Department:</span>
                                    <span class="profile-info__text">XTech</span>
                                </div><!-- ends: .profile-info__single -->
                                <div class="profile-info__single">
                                    <span class="profile-info__label">Supervisor:</span>
                                    <span class="profile-info__text">Canada</span>
                                </div><!-- ends: .profile-info__single -->
                                <div class="profile-info__single">
                                    <span class="profile-info__label">Birthday:</span>
                                    <span class="profile-info__text">February 21,2020</span>
                                </div><!-- ends: .profile-info__single -->
                                <div class="profile-info__single">
                                    <span class="profile-info__label">Website:</span>
                                    <span class="profile-info__text">-</span>
                                </div><!-- ends: .profile-info__single -->
                            </div>
                            <div class="profile-info-extra">
                                <span class="profile-info__label">Skills:</span>
                                <span class="profile-info__text">C / C + +, data structures, software engineering,
                                    operating systems, computer networks, databases, compiler theory, computer
                                    architecture, Microcomputer Principle and Interface Technology, Computer English,
                                    Java, ASP, etc.</span>
                            </div>
                        </div><!-- ends: .aprofile-info-box__single -->
                        <div class="profile-info-box__single">
                            <h6>Conact</h6>
                            <div class="profile-info d-flex flex-wrap">
                                <div class="profile-info__single">
                                    <span class="profile-info__label">Email:</span>
                                    <span class="profile-info__text">adminDesign@example.com</span>
                                </div><!-- ends: .profile-info__single -->
                                <div class="profile-info__single">
                                    <span class="profile-info__label">Phone Number:</span>
                                    <span class="profile-info__text">+86 181 0000 0000</span>
                                </div><!-- ends: .profile-info__single -->
                                <div class="profile-info__single">
                                    <span class="profile-info__label">Github:</span>
                                    <span class="profile-info__text"><a href="#">github.com/admin-desing/</a></span>
                                </div><!-- ends: .profile-info__single -->
                            </div>
                        </div><!-- ends: .aprofile-info-box__single -->
                    </div>
                </div>
            </div><!-- ends: .atbd-drawer__body -->
        </div><!-- ends: .atbd-drawer -->


    </div>

</div>

<div class="overlay-dark">
</div>
<div class="overlay-dark-l2">
</div>
<div class="overlay-dark-sidebar">
</div>
<div class="customizer-overlay">
</div>

{% endblock %}