{% extends 'atomic/theme.html' %}
{% load static %}


{% block title %}
Online darslar tahrirlash- Lemix
{% endblock %}


{% block style %}
<style>
    .cardPay {
        position: relative;
    }

    .cardPay:hover {
        border: 1px solid #5f63f2;

    }

    .cardPay:hover::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        border-radius: 5px;
        height: 100%;
        width: 100%;
        background-color: #5f63f288;
    }

    .feature-card--1 figcaption h5 {
        margin: 0 0 0.5rem 0 !important;
    }

    .feature-cards:hover {
        cursor: pointer;
        box-shadow: 0 0 5px #5f63f2;
    }

    .atbd-tab .tab-content p {
        font-size: 12px !important;
    }
    .v-num{
        font-size: 14px;
    }
    .application-faqs .panel-title a{
        font-size: 12px !important;
    }
    .forms-view{
        display: flex;
        flex-wrap: wrap;
    }
    .forms-view > .form-group{
        display: flex;
        align-items: center;
    }
    .table-responsive tr td>div{
        text-transform: none;
    }
    .atbd-select .select2-selection,
    .select2-container--default .select2-selection--single{
        height: 1.875rem;
padding: 0;
font-size: 12px;
line-height: 1.5;
-webkit-border-radius: 0.2rem;
border-radius: 0.2rem;
margin-right: 7px;
    }
</style>
{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-lg-12">
            <div class="card card-horizontal card-default card-md mb-4">
                <div class="card-header">
                    <h6  style="text-transform: none;">Matnli dars qo'shish</h6>
                </div>
                <div class="card-body py-md-30">
                    <div class="horizontal-form">
                        <form action="#">
                            <div class="form-group row mb-3">
                                <div class="col-sm-3 d-flex aling-items-center">
                                    <label for="id_title" class=" col-form-label color-dark fs-14 fw-500 align-center">Nomi</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" name="title" class="form-control ih-medium ip-light radius-xs b-light px-15" id="id_title" placeholder="Matnli dars nomini kiriting" value="{{ content.title }}">
                                </div>
                            </div>
                            <!-- <div class="form-group row">
                                <div class="col-sm-3 d-flex aling-items-center">
                                    <label for="element-text" class=" col-form-label color-dark fs-14 fw-500 align-center">Video havola manzili</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control ih-medium ip-light radius-xs b-light px-15" id="element-text" placeholder="Video dars manzili">
                                </div>
                            </div> -->
                            <div class="form-group row" style="min-height: 80px;">
                                <div class="col-sm-3 d-flex aling-items-center">
                                    <label for="mail-reply-message2" class=" col-form-label color-dark fs-14 fw-500 align-center">Dars matni</label>
                                </div>
                                <div class="col-sm-9">
                                    <div class="form-group formElement-editor mb-0">
                                        <textarea name="message" id="mail-reply-message2" class="form-control-lg" placeholder="Dars matni kiriting...">{{ content.text }}</textarea>
                                    </div>
                                  </div>
                            
                           
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3 d-flex aling-items-center">
                                <label for="radio" class=" col-form-label color-dark fs-14 fw-500 align-center">Ko'rinish</label>
                            </div>
                            <div class="col-sm-9 ">
                                <div class="radio-theme-default custom-radio mb-2">
                                    <input class="radio" type="radio" name="radio-default" value=0 {% if content.required %}checked{% endif %} id="radio-un2">
                                    <label for="radio-un2">
                                        <span class="radio-text">Dars tugatilmasa keyingi dars ko'rinmasin</span>
                                    </label>
                                </div>
                                
                                <div class="radio-theme-default custom-radio ">
                                    <input class="radio" type="radio" name="radio-default" value=0 {% if content.required is False %}checked{% endif %} id="radio-un3">
                                    <label for="radio-un3">
                                        <span class="radio-text">Ixtiyoriy paytda ko'rinsin</span>
                                    </label>
                                </div>

                             </div>
                        </div>
                            
                        </form>
                    </div>
                </div>
            </div>
            <!-- ends: .card -->

        </div>
        <div class="col-lg-12">
            <div class="card card-horizontal card-default card-md mb-4">
                <div class="card-header">
                    <h6  style="text-transform: none;">Qo'llanmalar</h6>
                </div>
                <div class="card-body py-md-30">
                  
                    <div class="atbd-tag-wrap">

                        <div class="atbd-upload">
                            <div class="atbd-upload__button mb-3">
                                <a href="javascript:void(0)" class="btn btn-lg btn-outline-lighten btn-upload" onclick="$('#upload').click()"> <span data-feather="upload"></span> Yuklash</a>
                                    <input type="file" name="upload" class="upload-one" id="upload" multiple>
                            </div>
                            
                            <div class="atbd-upload__file">
                                <section class="progress-area d-flex flex-wrap">
                                    
                                </section>
                                 <section class="uploaded-area d-flex flex-wrap">
                                    {% if resources %}
                                    {% for resource in resources %}
                                    <div class="fileM-single m-2">

                                        {% if resource.file %}
                                        <div class="fileM-card resource-id-{{ resource.id }}">
                                            <div class="card border-0">
                                                <div class="card-body pb-40 pt-45">
                                                    <div class="fileM-img">
                                                        <img class="wh-50" src="{% static 'img/zip.png' %}" alt="">
                                                    </div>
                                                    <a href="{{ resource.file.url }}" download> 
                                                        <p class="fileM-excerpt">{{ resource.file }} </p></a>
                                                    <span class="size"></span>
                                                    <div class="fileM-action">
                                                        <div class="fileM-action__right ">
                                                            <div class="dropdown dropleft position-absolute">
                                                                <button class="btn-link border-0 bg-transparent p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                                                                </button>
                                                                <div class="dropdown-menu">
                                                                    <a class="dropdown-item text-danger" onclick="deleteResource('{{ resource.id }}','')" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#f00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                                                        O'chirish</a>                        </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% else %}
                                            <div class="fileM-card ">
                                                <div class="card border-0">
                                                    <div class="card-body pb-40 pt-45">
                                                        <div class="fileM-img">
                                                            <img class="wh-50" src="{% static 'img/zip.png' %}" alt="">
                                                        </div>
                                                        <a href="{{ resource.link }}"> <p class="fileM-excerpt">{{ resource.video_link }} </p></a>
                                                        <span class="size"></span>
                                                        <div class="fileM-action">
                                                            <div class="fileM-action__right ">
                                                                <div class="dropdown dropleft position-absolute">
                                                                    <button class="btn-link border-0 bg-transparent p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                                                                    </button>
                                                                    <div class="dropdown-menu">
                                                                        <a class="dropdown-item text-danger" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#f00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>O'chirish</a>                        </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        
                                        </div>
                                    {% endfor %}
                                    {% endif %}

                                 </section>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card  shadow-lg pb-md-50 pb-30 mb-md-50 mb-30">
                <div class="card-header px-30 pt-30 pb-25 border-bottom-0">
                    <h4 class="fw-500">FAQ (Eng ko'p beriladigan savollarga javob)</h4>
                </div>
                <div class="card-body pt-0">
                    <div class="application-faqs">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <!-- panel 1 -->
                            
                            {% if faqs %}
                            {% for faq in faqs %}
                                    <div class="panel panel-default panel-faq-{{faq.id}}">
                                        <div class="panel-heading" role="tab" id="headingOne-faq-{{faq.id}}">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne-faq-{{faq.id}}" aria-expanded="true" aria-controls="collapseOne-faq-{{faq.id}}">
                                                    <p>{{ forloop.counter }}. {{ faq.question }}</p>
                                                </a>
                                            </h4>

                                        </div>
                                        <div id="collapseOne-faq-{{faq.id}}" class="panel-collapse collapse in show" role="tabpanel" aria-labelledby="headingOne-faq-{{faq.id}}">
                                            <div class="panel-body">
                                                <p class="mb-sm-35 mb-20" >{{ faq.answer }}</p>
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <button type="button" class="btn btn-outline-secondary btn-default btn-squared mr-2"  data-toggle="modal" data-target="#modalBasicFaq-{{ faq.id }}-del"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#f00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>O'chirish</button>
                                                    <button type="button" class="btn btn-primary btn-default btn-squared "  data-toggle="modal" data-target="#modalBasicFaq-{{ faq.id }}">Tahrirlash</button>
                                                </div>
                                                
                                            </div>
                                        
                                            <div class="modal-basic modal fade" id="modalBasicFaq-{{ faq.id }}" tabindex="-1" role="dialog" aria-hidden="true">


                                                <div class="modal-dialog modal-md" role="document">
                                                    <div class="modal-content modal-bg-white ">
                                                        <div class="modal-header">
                                            
                                            
                                            
                                                            <h6 class="modal-title">Savol-Javob tahrirlash</h6>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span data-feather="x"></span></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <label for="edit-faq-{{faq.id}}-question" class="il-gray fs-14 fw-500 align-center">Savol matni</label>
                                                                <input type="text" class="form-control ih-small ip-light radius-xs b-light px-15" id="edit-faq-{{faq.id}}-question" placeholder="" value="{{ faq.question }}">
                                                            </div>
                                                            <div class="form-group form-element-textarea mb-20">
                                                                <label for="edit-faq-{{faq.id}}-answer" class="il-gray fs-14 fw-500 align-center">Javob matni</label>
                                                                <textarea class="form-control" id="edit-faq-{{faq.id}}-answer" rows="3"> {{ faq.answer }}</textarea>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Bekor qilish</button>
                                                            <button type="button" class="btn btn-primary btn-sm " onClick="updateFAQ('{{faq.id}}')">Tahrirlash</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                             
                                            </div>
                                            

                                            <div class="modal-basic modal fade" id="modalBasicFaq-{{ faq.id }}-del" tabindex="-1" role="dialog" aria-hidden="true">


                                                <div class="modal-dialog modal-md" role="document">
                                                    <div class="modal-content modal-bg-white ">
                                                        <div class="modal-header">
                                            
                                            
                                            
                                                            <h6 class="modal-title">Savol-Javobni o'chirish</h6>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span data-feather="x"></span></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Rostan ham <b>{{ faq.question }}</b>ni o'chirmoqchimisiz?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" onclick="deleteFAQ({{faq.id}})">O'chirish</button>

                                                        </div>
                                                    </div>
                                                </div>
                                                
                                             
                                            </div>
                                        
                                        </div>
                                        
                                        
                                        
                                    </div>
                                
                                    

                                {% endfor %}
                            {% endif %}
                          
                    </div>
                    <button class="btn btn-primary btn-xs mt-3" data-toggle="modal" data-target="#modal-basic-faq">+ Qo'shish</button>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card card-horizontal card-default card-md mb-4">
                <div class="card-header">
                    <h6  style="text-transform: none;">Ushbu darsni saqlaysizmi?</h6>
                </div>
                <div class="card-body py-md-30">
                    <div class="atbd-button-list d-flex flex-wrap">
                        <button class="btn btn-outline-secondary btn-default btn-squared " data-toggle="modal" data-target="#modal-basic-delete">O'chirish </button>
                        <button class="btn btn-outline-primary btn-default btn-squared" data-toggle="modal" data-target="#modal-basic-draft">Draft
                        </button>
                        <button class="btn btn-primary btn-default btn-squared " data-toggle="modal" data-target="#modal-basic-saqlash">Saqlash
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="drawer-basic-wrap">
    <div class="atbd-drawer drawer-account d-none"  style="overflow: scroll;">
        <div class="atbd-drawer__header d-flex aling-items-center justify-content-between">
            <h6 class="drawer-title">Yangi lid qo’shish</h6>
            <a href="#" class="btdrawer-close"><i class="la la-times"></i></a>
        </div><!-- ends: .atbd-drawer__header -->
        <div class="atbd-drawer__body">
            <div class="drawer-content">
                <div class="drawer-account-form form-basic">
                </div>
            </div>
        </div><!-- ends: .atbd-drawer__body -->
    </div><!-- ends: .atbd-drawer -->


    <div class="modal-basic modal fade show" id="modal-basic-faq" tabindex="-1" role="dialog" aria-hidden="true">


        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white ">
                <div class="modal-header">



                    <h6 class="modal-title">Savol-Javob qo'shish</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span data-feather="x"></span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="id_question" class="il-gray fs-14 fw-500 align-center">Savol matni</label>
                        <input type="text" class="form-control ih-small ip-light radius-xs b-light px-15" id="id_question" placeholder="">
                    </div>
                    <div class="form-group form-element-textarea mb-20">
                        <label for="id_faq_answer" class="il-gray fs-14 fw-500 align-center">Javob matni</label>
                        <textarea class="form-control" id="id_faq_answer" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Bekor qilish</button>
                    <button type="button" class="btn btn-primary btn-sm" id="add_faq">Qo'shish</button>
                </div>
            </div>
        </div>


    </div>
    <div class="modal-basic modal fade show" id="modal-basic-delete" tabindex="-1" role="dialog" aria-hidden="true">


        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white ">
                <div class="modal-header">



                    <h6 class="modal-title">O'chirish</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span data-feather="x"></span></button>
                </div>
                <div class="modal-body">
                    <p>Ushbu dars uchun kiritilgan barcha ma'lumotlar o'chiriladi</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Bekor qilish</button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="deleteBtn()">Ha, o'chirilsin</button>
                </div>
            </div>
        </div>


    </div>
    <div class="modal-basic modal fade show" id="modal-basic-draft" tabindex="-1" role="dialog" aria-hidden="true">


        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white ">
                <div class="modal-header">



                    <h6 class="modal-title">Draft</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span data-feather="x"></span></button>
                </div>
                <div class="modal-body">
                    <p>Ushbu dars uchun kiritilgan ma'lumotlar tizimda saqlanadi, ammo o'quvchilar uchum joriy etilmaydi. 
                        </p>
                        <p>
                        Siz darsni tahrirlab yoki o'zgartirishlar kiritib bo'lganingizdan keyin saqlash tugmasini bossangiz bu dars faollashadi.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Bekor qilish</button>
                    <button type="button" class="btn btn-primary btn-sm" id="draft_save_content">Draft saqlash</button>
                </div>
            </div>
        </div>


    </div>
    <div class="modal-basic modal fade show" id="modal-basic-saqlash" tabindex="-1" role="dialog" aria-hidden="true">


        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white ">
                <div class="modal-header">



                    <h6 class="modal-title">Saqlash</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span data-feather="x"></span></button>
                </div>
                <div class="modal-body">
                    <p>Ushbu dars uchun kiritgan barcha ma'lumotlar saqlanadi va o'quvchilarga ko'rinadi.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Bekor qilish</button>
                    <button type="button" class="btn btn-primary btn-sm" id="save_content">Ha, Saqlash</button>
                </div>
            </div>
        </div>


    </div>

{% endblock %}

{% block script %}
<script>

    var fileList = [];
    var forms = document.querySelectorAll('.forms-view')
    for (let i = 0; i < forms.length; i++) {
         forms[i].style.display='none'
        }
    var array=[]
    function handleClickIcon(x) {
        if(array.includes(x)){
        forms[array[array.indexOf(x)]].style.display='none';
        array = array.filter(e=>e!=x);
        }
        else {
        forms[x].style.display='flex';
        array.push(x)
        }
       console.log(array)
    //   forms.forEach((e)=>  console.log(e.innerHTML=''))
    }
    // file upload
    const form = document.querySelector("form"),
fileInput = document.querySelector("#upload"),
progressArea = document.querySelector(".progress-area"),
uploadedArea = document.querySelector(".uploaded-area");

form.addEventListener("click", () =>{
fileInput.click();
});

fileInput.onchange = ({target})=>{
let file = target.files[0];
if(file){
    fileList.push(file);     
let fileName = file.name;
if(fileName.length >= 12){
  let splitName = fileName.split('.');
  fileName = splitName[0].substring(0, 13) + "... ." + splitName[1];
}
uploadFile(fileName);
}
}

var counter1 = 0;
function uploadFile(name){
let xhr = new XMLHttpRequest();
xhr.open("POST", "");
xhr.upload.addEventListener("progress", ({loaded, total}) =>{
let fileLoaded = Math.floor((loaded / total) * 100);
let fileTotal = Math.floor(total / 1000);
let fileSize;
(fileTotal < 1024) ? fileSize = fileTotal + " KB" : fileSize = (loaded / (1024*1024)).toFixed(2) + " MB";
let progressHTML = `<li class="row">
                      <i class="fas fa-file-alt"></i>
                      <div class="content">
                        <div class="details">
                          <span class="name">${name} • Uploading</span>
                          <span class="percent">${fileLoaded}%</span>
                        </div>
                        <div class="progress-bar">
                          <div class="progress" style="width: ${fileLoaded}%"></div>
                        </div>
                      </div>
                    </li>`;
uploadedArea.classList.add("onprogress");
progressArea.innerHTML = progressHTML;
if(loaded == total){
  progressArea.innerHTML = "";
  let uploadedHTML = `
  <div class="fileM-single m-2">

<div class="fileM-card created counter1-id-${counter1}">
<div class="card border-0">
    <div class="card-body pb-40 pt-45">
        <div class="fileM-img">
            <img class="wh-50" src="{% static 'img/zip.png' %}" alt="">
        </div>
        <p class="fileM-excerpt">${name} </p>
        <span class="size">${fileSize}</span>
        <div class="fileM-action">
            <div class="fileM-action__right ">
                <div class="dropdown dropleft position-absolute">
                    <button class="btn-link border-0 bg-transparent p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item text-danger" onclick="deleteResource('','${counter1}')" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#f00" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>O'chirish</a>                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>

</div>
`;
  uploadedArea.classList.remove("onprogress");
  uploadedArea.insertAdjacentHTML("afterbegin", uploadedHTML);
  counter1 = counter1 + 1;
}
});
let data = new FormData(form);
xhr.send(data);
}
var completed = false;
function saveResources(id){
    console.log("saveResources");
    if(id != null || id != ''){
        var url = `/education/onlines/resources/?content=${id}`;

        var formData = new FormData();
        
        for(var i=0;i<fileList.length;i++){
            formData.append('resources', fileList[i], fileList[i].name);
        }
        formData.append('csrftokenmiddleware','{{ csrf_token }}')
        fetch(url, {
            method: 'post',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: formData,
        })
        .then(res=>res.json()).then(res=>{
            url = `/education/online_text/update/${id}/`;
            window.location.assign(url);
        })
        .catch(err=>{
            console.log(err);
        })
    } else{
        console.log("No id");
    }
}


function deleteResource(id, counter){
    if(id === null || id == ''){
        console.log("delete Resource : ", id)

        var divs = document.getElementsByClassName(`counter1-id-${counter}`);
        var name = divs[0].getElementsByClassName('fileM-excerpt')[0].value;
        for(var i=0;i< fileList.length; i++){
            if(fileList[i].name == name){
                fileList.splice(i, 1);
                break;
            }
        }
        divs[0].remove();

    } else{
        var url = `/education/onlines/resources/delete/${id}/`;
        fetch(url, {
            method: 'post',
            headers: {
                'Accept':'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(res=>res.json())
        .then(res=>{
            console.log(res);
            divs = document.getElementsByClassName(`resource-id-${id}`);
            divs[0].remove();
            alert("Qo'shimcha material yo'q qilindi.");
        })
        .catch(err=>{
            console.log(err);
        })
    }
}





function SaveContent(is_ready){
    var formData = new FormData();
    var id = 0;
    formData.append('title', document.getElementById('id_title').value);
    formData.append('text', document.getElementById('mail-reply-message2').value);
    var required = document.getElementById('radio-un2').checked;
    formData.append('required', required);
    formData.append('status', is_ready);
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
    var url = window.location.href;

    fetch(url, {
        method: 'post',
        headers:{
            'Accept':'application/json',
            'X-CSRFToken':'{{ csrf_token }}',
        },
        body: formData
    })
    .then(res => res.json())
    .then(res => {
        saveFAQs(res.id, last_save=true);
        return res;

    }).then(res=>{
        saveResources(res.id);
        return res;
    })
    .then(res=>{
        var url = `/education/onlines/${res.redirect_id}/`
        window.location.assign(url);
    })
    .catch(err=>{
        console.log(err);
    })
    console.log("ID: ", id)

    if(id && id != 0){
        window.location.assign(url);
    }
}



function updateFAQ(id){
    var url = `/education/faqs/${id}/update/`;
    var formData = new FormData();
    formData.append('question', document.getElementById(`edit-faq-${id}-question`).value);
    formData.append('answer', document.getElementById(`edit-faq-${id}-answer`).value);
    formData.append('csrftokenmiddleware', '{{ csrf_token }}');
    fetch(url, {
        method: 'post',
        headers: {
            'Accept': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: formData,
    })
    .then(res=>res.json()).then(res=>{
        var faq_div = document.getElementsByClassName(`panel-faq-${id}`);
        var question = faq_div[0].getElementsByTagName('p')[0];
        question.textContent = `${ question.textContent.split('. ')[0]}. ${res.question}`;
        var answer = faq_div[0].getElementsByTagName('p');
        answer[1].textContent = `${res.answer}`;
        alert("FAQ yangilandi.");
    })
    .catch(err=>{
        console.log(err)
        alert("Amaliyot bajarilmadi.Birozdan so'ng qayta urinib ko'ring")
    })
}

function deleteFAQ(id){
    if(id != ''){
        var url = `/education/faqs/${id}/delete/`;
        fetch(url, {
            method: 'post',
            headers: {
                'Accept': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
        })
        .then(res=>{
            var faq_div = document.getElementsByClassName(`panel-faq-${id}`);
            faq_div[0].remove();
            alert("FAQ o'chirildi.");
        })
        .catch(err=>{
            alert("Amaliyot bajarilmadi.Birozdan so'ng qayta urinib ko'ring")
        })
    } else {
    }
}









    var counter = 1;
    function addFAQ(){
        var question = document.getElementById('id_question').value;
        var answer = document.getElementById('id_faq_answer').value;

        if (question != "" && answer != ""){
            const faq_cards = document.getElementById('accordion');
            
            const div = document.createElement('div');
            div.className = `panel panel-default created counter-${counter}`;
            var element = `
                <div class="panel-heading" role="tab" id="headingOne-${counter}">
                    <h4 class="panel-title">
                        <a class="faq question" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-${counter}" aria-expanded="true" aria-controls="collapseOne-${counter}">
                            ${question}
                        </a>
                    </h4>
    
                </div>
                <div id="collapseOne-${counter}" class="panel-collapse collapse in show" role="tabpanel" aria-labelledby="headingOne-${counter}">
                    <div class="panel-body">
                        <p class="mb-sm-35 mb-20 faq answer">${ answer }</p>
                        
                        </div>
                    </div>
                </div>
            `
            counter++;
            div.innerHTML = element;
            faq_cards.appendChild(div);
            console.log("FAQ Added");
        }
    }

    function saveFAQs(content_id, last_save=false, cb = () => {}){
        console.log("last_save: ", last_save)
        if(last_save != true){
            addFAQ();
        }
        if(content_id != null || content_id != ''){
            var url = `/education/faqs/?content=${content_id}`;

            var created_faqs = document.getElementsByClassName('panel panel-default created');
            if (created_faqs.length == 0){
                return 0;
            }
            var formData = new FormData();
            formData.append('form-TOTAL_FORMS', created_faqs.length);
            formData.append('form-INITIAL_FORMS', '0');
            formData.append('form-MAX_NUM_FORMS', created_faqs.length);
            
            for(var i=0; i< created_faqs.length; i++){
                var question = created_faqs[i].getElementsByClassName('faq question')[0].textContent;
                var answer   = created_faqs[i].getElementsByClassName('faq answer')[0].textContent; 
                formData.append(`form-${i}-question`, question);
                formData.append(`form-${i}-answer`, answer);
                formData.append(`form-${i}-content`, content_id);
            }
            fetch(url, {
                method: 'post',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',                
                },
                body: formData,
            })
            .then(res=>res.json()).then(res=>{
                for(var i=0; i< created_faqs.length; i++){
                    created_faqs[i].classList.remove('created');
                }
            })
            .catch(err=>{
                console.log(`Savol-javoblar saqlanmadi: ${err}`);
            })
        }
    }


    function deleteBtn(){
        var id = window.location.pathname.split('/')[4];
        if (window.location.pathname.split('/')[3] != 'create'){
        var url =`/education/online_video/delete/${id}/`;
        fetch(url, {
            method: 'post',
            headers:{
                'Accept': 'application/json',
                'X-CSRFToken':'{{ csrf_token }}',
            },
        })
        .then(res=>res.json()).then(res=>{
            window.location.assign(res.url);
        })
        .catch(err=>{
            console.log(err);
        })
    }
        window.location.assign('/education/online/');
    }


document.getElementById('save_content').addEventListener('click', function(){
    SaveContent(true);
});
document.getElementById('add_faq').addEventListener('click', function(){
    addFAQ();
});


document.getElementById('draft_save_content').addEventListener('click', function(){
    SaveContent(false);
});

</script>

{% endblock %}