{% extends 'atomic/theme.html' %}
{% load static %}


{% block title %}
Uyga vazifa- Lemix
{% endblock %}


{% block style %}
<style>
    .cardPay {
        position: relative;
    }

    .cardPay:hover {
        border: 1px solid #5f63f2;

    }

    .cardPay:hover::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        border-radius: 5px;
        height: 100%;
        width: 100%;
        background-color: #5f63f288;
    }

    .feature-card--1 figcaption h5 {
        margin: 0 0 0.5rem 0 !important;
    }

    .feature-cards:hover {
        cursor: pointer;
        box-shadow: 0 0 5px #5f63f2;
    }

    .atbd-tab .tab-content p {
        font-size: 12px !important;
    }
    .v-num{
        font-size: 14px;
    }
    .application-faqs .panel-title a{
        font-size: 12px !important;
    }
    .forms-view{
        display: flex;
        flex-wrap: wrap;
    }
    .forms-view > .form-group{
        display: flex;
        align-items: center;
    }
    .table-responsive tr td>div{
        text-transform: none;
    }
    .atbd-select .select2-selection,
    .select2-container--default .select2-selection--single{
        height: 1.875rem;
padding: 0;
font-size: 12px;
line-height: 1.5;
-webkit-border-radius: 0.2rem;
border-radius: 0.2rem;
margin-right: 7px;
    }
</style>
</style>
{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-lg-12">
            <div class="card card-horizontal card-default card-md mb-4">
                <div class="card-header">
                    <h6  style="text-transform: none;">Uyga vazifa {{ action|default:"qo'shish"}}</h6>
                </div>
                <div class="card-body py-md-30">
                    <div class="horizontal-form">
                        <form action="#">
                            <div class="form-group row mb-3">
                                <div class="col-sm-3 d-flex aling-items-center">
                                    <label for="inputName" class=" col-form-label color-dark fs-14 fw-500 align-center">Uyga vazifa nomi</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control ih-medium ip-light radius-xs b-light px-15" id="inputName" placeholder="Uyga vazifa nomini kiriting" value="{{ content.title|default:'' }}">
                                </div>
                            </div>
    
                            <div class="form-group row" style="min-height: 80px;">
                                <div class="col-sm-3 d-flex aling-items-center">
                                    <label for="mail-reply-message2" class=" col-form-label color-dark fs-14 fw-500 align-center">Uyga vazifa matni(topshiriqlar)</label>
                                </div>
                                <div class="col-sm-9">
                                    <div class="form-group formElement-editor mb-0">
                                        <textarea name="text" id="mail-reply-message2" class="form-control-lg" placeholder="Topshiriqlarni yozing...">{{ content.text }}</textarea>
                                    </div>
                                  </div> 
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-3 d-flex aling-items-center">
                                    <label for="formFile" class=" col-form-label color-dark fs-14 fw-500 align-center">Uy vazifasi uchun fayl</label>
                                </div>
                                <div class="col-sm-9">
                                    {% if content.homework %}
                                        <a href="{{ content.homework.url }}" download>{{ content.homework.name}}</a>
                                    {% endif %}
                                    <input class="form-control ih-medium ip-light radius-xs b-light px-15" type="file" id="videoFile">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3 d-flex aling-items-center">
                                    <label for="radio" class=" col-form-label color-dark fs-14 fw-500 align-center">Ko'rinish</label>
                                </div>
                                <div class="col-sm-9 ">
                                    <div class="radio-theme-default custom-radio mb-2">
                                        <input class="radio" type="radio" name="radio-default" value=0 id="radio-un2" {% if content.required %}checked{% endif %}>
                                        <label for="radio-un2">
                                            <span class="radio-text">Dars tugatilmasa keyingi dars ko'rinmasin</span>
                                        </label>
                                    </div>
                                    
                                    <div class="radio-theme-default custom-radio ">
                                        <input class="radio" type="radio" name="radio-default" value=0 id="radio-un3" {% if content.required is False %}checked{% endif %}>
                                        <label for="radio-un3">
                                            <span class="radio-text">Ixtiyoriy paytda ko'rinsin</span>
                                        </label>
                                    </div>

                                </div>
                            </div>
                        <div class="atbd-button-list d-flex flex-wrap mt-5">

                            <div class="modal-basic modal fade show" id="modal-basic-delete" tabindex="-1" role="dialog" aria-hidden="true">


                                <div class="modal-dialog modal-md" role="document">
                                    <div class="modal-content modal-bg-white ">
                                        <div class="modal-header">
                        
                        
                        
                                            <h6 class="modal-title">O'chirish</h6>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span data-feather="x"></span></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Ushbu dars uchun kiritilgan barcha ma'lumotlar o'chiriladi</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Bekor qilish</button>
                                            <button type="button" class="btn btn-primary btn-sm"  onclick="deleteBtn()">Ha, o'chirilsin</button>
                                        </div>
                                    </div>
                                </div>
                        
                        
                            </div>
                            <div class="modal-basic modal fade show" id="modal-basic-draft" tabindex="-1" role="dialog" aria-hidden="true">
                        
                        
                                <div class="modal-dialog modal-md" role="document">
                                    <div class="modal-content modal-bg-white ">
                                        <div class="modal-header">
                        
                        
                        
                                            <h6 class="modal-title">Draft</h6>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span data-feather="x"></span></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Ushbu dars uchun kiritilgan ma'lumotlar tizimda saqlanadi, ammo o'quvchilar uchum joriy etilmaydi. 
                                                </p>
                                                <p>
                                                Siz darsni tahrirlab yoki o'zgartirishlar kiritib bo'lganingizdan keyin saqlash tugmasini bossangiz bu dars faollashadi.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Bekor qilish</button>
                                            <button type="button" class="btn btn-primary btn-sm"  onclick="saveBtn('false')">Draft saqlash</button>
                                        </div>
                                    </div>
                                </div>
                        
                        
                            </div>
                            <div class="modal-basic modal fade show" id="modal-basic-saqlash" tabindex="-1" role="dialog" aria-hidden="true">
                        
                        
                                <div class="modal-dialog modal-md" role="document">
                                    <div class="modal-content modal-bg-white ">
                                        <div class="modal-header">
                        
                        
                        
                                            <h6 class="modal-title">Saqlash</h6>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span data-feather="x"></span></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Ushbu dars uchun kiritgan barcha ma'lumotlar saqlanadi va o'quvchilarga ko'rinadi.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Bekor qilish</button>
                                            <button type="button" class="btn btn-primary btn-sm"  onclick="saveBtn('true')">Ha, Saqlash</button>
                                        </div>
                                    </div>
                                </div>
                        
                        
                            </div>

                            <button type="button" class="btn btn-outline-secondary btn-default btn-squared " data-toggle="modal" data-target="#modal-basic-delete">O'chirish </button>
                            <button  type="button" class="btn btn-outline-primary btn-default btn-squared" data-toggle="modal" data-target="#modal-basic-draft">Draft
                            </button>
                            <button type="button" class="btn btn-primary btn-default btn-squared " data-toggle="modal" data-target="#modal-basic-saqlash">Saqlash
                            </button>

                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- ends: .card -->

        </div>
      
    </div>
</div>


{% comment %} <div class="drawer-basic-wrap">
    <div class="atbd-drawer drawer-account d-none"  style="overflow: scroll;">
        <div class="atbd-drawer__header d-flex aling-items-center justify-content-between">
            <h6 class="drawer-title">Yangi lid qo’shish</h6>
            <a href="#" class="btdrawer-close"><i class="la la-times"></i></a>
        </div><!-- ends: .atbd-drawer__header -->
        <div class="atbd-drawer__body">
            <div class="drawer-content">
                <div class="drawer-account-form form-basic">
                    
                </div>
            </div>
        </div><!-- ends: .atbd-drawer__body -->
    </div><!-- ends: .atbd-drawer -->


    <div class="overlay-dark"></div>
    <div class="overlay-dark-l2"></div>
</div> {% endcomment %}

<div class="overlay-dark"></div>
    


{% endblock %}

{% block script %}
<script>
        var forms = document.querySelectorAll('.forms-view')
        for (let i = 0; i < forms.length; i++) {
             forms[i].style.display='none'
            }
        var array=[]
        function handleClickIcon(x) {
            if(array.includes(x)){
            forms[array[array.indexOf(x)]].style.display='none';
            array = array.filter(e=>e!=x);
            }
            else {
            forms[x].style.display='flex';
            array.push(x)
            }
           console.log(array)
        //   forms.forEach((e)=>  console.log(e.innerHTML=''))
        }
        // file upload




function saveBtn(is_ready){
    var url = window.location.href;

    var formData = new FormData();
    formData.append('title', document.getElementById('inputName').value);
    formData.append('text', document.getElementById('mail-reply-message2').value);
    var video = document.getElementById('videoFile').files[0];
    if (video){
        formData.append('homework', video, video.name);
    }
    var required = document.getElementById('radio-un2').checked;
    if (required == false && document.getElementById('radio-un2').checked == false){
        required = false;
    }
    formData.append('required', required);
    formData.append('status', is_ready);
    formData.append('csrftokenmiddleware', '{{ csrf_token }}')

    fetch(url, {
        method: 'post',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
        },
        body: formData,
    })
    .then(res=>res.json()).then(res=>{
        
        if(res.id){
            window.location.replace(`/education/online_hwork/update/${res.id}/`);
        }
    })
    .catch(err=>{
        console.log(err);
    }) 
}


function deleteBtn(){
    var id = window.location.pathname.split('/')[4];
    if (window.location.pathname.split('/')[3] != 'create'){
    var url =`/education/online_video/delete/${id}/`;
    fetch(url, {
        method: 'post',
        headers:{
            'Accept': 'application/json',
            'X-CSRFToken':'{{ csrf_token }}',
        },
    })
    .then(res=>res.json()).then(res=>{
        window.location.assign(res.url);
    })
    .catch(err=>{
        console.log(err);
    })
}
    window.location.assign('/education/online/');
}

    </script>

{% endblock %}