<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse"
                data-parent="#accordion" href="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                {{ lesson.title }}
            </a>
        </h4>

    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
        aria-labelledby="headingThree">
        <div class="panel-body">

            <!-- <ul class="draggable-list" id="draggable-list"></ul> --> 
        </div>
    </div>
</div>