{% extends 'atomic/theme.html' %} 
{% load static %}
{% block style %}
<style>
    .cardPay {
        position: relative;
    }

    .cardPay:hover {
        border: 1px solid #5f63f2;

    }

    .cardPay:hover::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        border-radius: 5px;
        height: 100%;
        width: 100%;
        background-color: #5f63f288;
    }

    .feature-card--1 figcaption h5 {
        margin: 0 0 0.5rem 0 !important;
    }

    .feature-cards:hover {
        cursor: pointer;
        box-shadow: 0 0 5px #5f63f2;
    }

    .atbd-tab .tab-content p {
        font-size: 12px !important;
    }

    .v-num {
        font-size: 14px;
    }

    .application-faqs .panel-title a {
        font-size: 12px !important;
    }

    .forms-view {
        display: flex;
        flex-wrap: wrap;
    }

    .forms-view>.form-group {
        display: flex;
        align-items: center;
    }

    .table-responsive tr td>div {
        text-transform: none;
    }

    .atbd-select .select2-selection,
    .select2-container--default .select2-selection--single {
        height: 1.875rem;
        padding: 0;
        font-size: 12px;
        line-height: 1.5;
        -webkit-border-radius: 0.2rem;
        border-radius: 0.2rem;
        margin-right: 7px;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        width: auto !important;
    }

    .atbd-menu.menu-vertical .atbd-menu__item.has-submenu>.atbd-menu__link:before {
        margin-top: 0;
    }

    #infoUser {
        overflow: hidden;
        height: 120px;
    }
</style>
{% endblock %}
{% block content %}
<div class="atbd-page-content">


    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-main d-flex justify-content-between mt-4 align-items-center">
                    <h4 class=" breadcrumb-title">Ota-onalar - 10ta </h4>
                    <div class="breadcrumb-action justify-content-center flex-wrap">

                        <button class="btn btn-primary btn-default btn-squared mb-10 mr-2 dropdown-toggle drawer-trigger"
                            type="button" data-drawer="profile" aria-haspopup="true" aria-expanded="false"
                            onclick="checkSMS()">
                            <span data-feather="mail"></span> SMS Jo'natish</button>
                        <button class="btn btn-primary btn-default btn-squared drawer-trigger mr-2 mb-10" type="button"
                            id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <span data-feather="download"></span> Export </button>

                        <button class="btn btn-primary btn-default btn-squared drawer-trigger mr-2 mb-10" type="button"
                            id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <span data-feather="archive"></span> Arxiv </button>
                        <button class="btn btn-primary btn-default btn-squared drawer-trigger mr-2 mb-10"
                            data-drawer="account">
                            <span data-feather="plus"></span>Ota-ona qo'shish
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-1">
                <div class="card p-3">
                    <div class="card-body p-1">
                        <div
                            class="userDatatable adv-table-table global-shadow border-0 bg-white w-100 adv-table-students">
                            <form class="filter-form mb-4">
                                <div class="row">
                                    <div class="col-2">
                                        <input class="form-control mr-sm-2 box-shadow-none" type="text"
                                            placeholder="Search...">
                                    </div>
                                    <div class="col-2">
                                        <div class="atbd-select">
                                            <select name="select-courses" id="select-courses"
                                                class="form-control">
                                                <option value="" selected disabled>Kurslar</option>
                                                <option value="01">Option 1</option>
                                                <option value="02">Option 2</option>
                                                <option value="05">Option 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="atbd-select ">
                                            <select name="select-groups" id="select-groups"
                                                class="form-control">
                                                <option value="" selected disabled>Guruhlar</option>
                                                <option value="01">Option 1</option>
                                                <option value="02">Option 2</option>
                                                <option value="05">Option 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="atbd-select ">
                                            <select name="select-teacher" id="select-teacher"
                                                class="form-control">
                                                <option value="" selected disabled>O'qituvchi</option>
                                                <option value="01">Option 1</option>
                                                <option value="02">Option 2</option>
                                                <option value="05">Option 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="atbd-select ">
                                            <select name="select-status" id="select-status"
                                                class="form-control">
                                                <option value="" selected disabled>Talaba Holati</option>
                                                <option value="01">Option 1</option>
                                                <option value="02">Option 2</option>
                                                <option value="05">Option 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="atbd-select ">
                                            <select name="select-status" id="select-status"
                                                class="form-control">
                                                <option value="" selected disabled>Moliyaviy Holati</option>
                                                <option value="01">Option 1</option>
                                                <option value="02">Option 2</option>
                                                <option value="05">Option 3</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </form>
                            <div class="table-responsive">
                                <table class="table mb-0 table-borderless adv-table-students"
                                    data-sorting="true" data-filter-container="#filter-form-container"
                                    data-paging-current="1" data-paging-position="left"
                                    data-paging-size="10">
                                    <thead>
                                        <tr class="userDatatable-header">
                                            <th>
                                                <div class="d-flex align-items-center">
                                                    <div class="custom-checkbox  check-all">
                                                        <input class="checkbox" type="checkbox"
                                                            id="check-3">
                                                        <label for="check-3">
                                                            <span
                                                                class="checkbox-text userDatatable-title">Id</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </th>
                                            <th>
                                                <span class="userDatatable-title">FIO</span>
                                            </th>

                                            <th data-type="html" data-name='position'>
                                                <span class="userDatatable-title">Telefon</span>
                                            </th>

                                            <th>
                                                <span class="userDatatable-title ">Farzandi</span>
                                            </th>

                                            <th data-type="html" data-name='position'>
                                                <span class="userDatatable-title">Status</span>
                                            </th>

                                            <th>
                                                <span
                                                    class="userDatatable-title d-inline-block ">Amallar</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for parent in parents %}
                                        <tr>
                                            <td>
                                                <div class="d-flex">
                                                    <div
                                                        class="userDatatable__imgWrapper d-flex align-items-center">
                                                        <div class="checkbox-group-wrapper">
                                                            <div class="checkbox-group d-flex">
                                                                <div
                                                                    class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                                                    <input class="checkbox studentCheckbox"
                                                                        type="checkbox"
                                                                        id="check-grp-{{student.id}}">
                                                                    <label for="check-grp-{{student.id}}">
                                                                        <span
                                                                            class="checkbox-text userDatatable-title">#1</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex">
                                                    <div class="userDatatable-inline-title">
                                                        <a href="#" class="text-dark fw-500">
                                                            <h6>{{ parent.full_name}} </h6>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="userDatatable-content">
                                                    {{ parent.phone_number }}
                                                </div>
                                            </td>

                                            <td>
                                                <div class="userDatatable-content">
                                                    {{parent.student_count}}
                                                </div>
                                            </td>

                                            <td>
                                                {% if parent.status %}
                                                <div class="userDatatable-content d-inline-block">
                                                    <span
                                                        class="bg-opacity-success color-success rounded-pill userDatatable-content-status active">Aktiv</span>
                                                </div>
                                                {% else %}
                                                <div class="userDatatable-content d-inline-block">
                                                    <span
                                                        class="bg-opacity-warning color-warning rounded-pill userDatatable-content-status active">Aktiv
                                                        emas</span>
                                                </div>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <ul class="orderDatatable_actions mb-0 d-flex flex-wrap"
                                                    style="justify-content: flex-start;">
                                                    <li>
                                                        <a href=""
                                                            class="view">
                                                            <span data-feather="eye"></span></a>
                                                    </li>
                                                    <li>
                                                        <a href=""
                                                            class="edit">
                                                            <span data-feather="edit"></span></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="remove">
                                                            <span data-feather="trash-2"></span></a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex align-items-center justify-content-between m-4">
                                <nav class="atbd-page ml-auto">
                                    <ul class="atbd-pagination d-flex">
                                        <li class="atbd-pagination__item">
                                            <a href="#"
                                                class="atbd-pagination__link pagination-control"><span
                                                    class="la la-angle-left"></span></a>
                                            <a href="#" class="atbd-pagination__link"><span
                                                    class="page-number">1</span></a>
                                            <a href="#" class="atbd-pagination__link active"><span
                                                    class="page-number">2</span></a>
                                            <a href="#" class="atbd-pagination__link"><span
                                                    class="page-number">3</span></a>
                                            <a href="#"
                                                class="atbd-pagination__link pagination-control"><span
                                                    class="page-number">...</span></a>
                                            <a href="#" class="atbd-pagination__link"><span
                                                    class="page-number">12</span></a>
                                            <a href="#"
                                                class="atbd-pagination__link pagination-control"><span
                                                    class="la la-angle-right"></span></a>
                                            <a href="#" class="atbd-pagination__option">
                                            </a>
                                        </li>
                                        <li class="atbd-pagination__item">
                                            <div class="paging-option">
                                                <select name="page-number" class="page-selection">
                                                    <option value="20">20/page</option>
                                                    <option value="40">40/page</option>
                                                    <option value="60">60/page</option>
                                                </select>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-basic modal" id="modal-basic1" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white ">
                <div class="modal-header">
                    <h6 class="modal-title">Sms matni.</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span data-feather="x"></span></button>
                </div>
                <div class="modal-body">
                    <form action="#">
                        <div class="form-row">
                            <div class="sms-status-message"></div>
                            <div class="form-group col-lg-12">
                                <label for="id_message" class="modal-title">Xabar matni</label>
                                <textarea type="text" name="id_message" id="id_message"
                                    class="form-control form-control-sm border-light"
                                    placeholder="Xabar matni..."></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" id="sendSMS">Jo'natish</button>
                    <button type="button" class="btn btn-secondary btn-sm" id="cancelSMS" ,
                        data-dismiss="modal">Bekor qilish</button>
                </div>
            </div>
        </div>


    </div>

    <div class="drawer-basic-wrap">
        <div class="atbd-drawer drawer-account d-none">
            <div class="atbd-drawer__header d-flex aling-items-center justify-content-between">
                <h3 class="drawer-title">Ota-ona qo'shish</h3>
                <a href="#" class="btdrawer-close"><i class="la la-times"></i></a>
            </div>
            <!-- ends: .atbd-drawer__header -->
            <div class="atbd-drawer__body">
                <div class="drawer-content overflow-auto">
                    <div class="drawer-account-form form-basic">
                        <form action="{% url 'admintion:students' %}" method="post"
                            class="student-add-form was-validate" autocomplete="off">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-row mx-n15 p-3">
                                    <div class="col-md-6 mb-3">
                                        <label for="validationServer02"
                                            class="il-gray fs-14 fw-500 align-center">Kursni tanlang</label>
                                        <select
                                            class="custom-select form-control select-arrow-none ih-medium radius-xs b-light shadow-none color-light form-course fs-14"
                                            id="validationServer02"
                                            aria-describedby="validationServer02Feedback" required name="course" onchange="selectStudent(event)">
                                            <option selected value="">Kursni tanlang</option>
                                            {% for course in courses %}
                                            <option value="{{course.id}}">{{course.title}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="valid-feedback">
                                            Yaxshi!
                                        </div>
                                        <div id="validationServer04Feedback" class="invalid-feedback">
                                            Iltimos Kursni tanlang
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="validationServer03"
                                            class="il-gray fs-14 fw-500 align-center">Guruhni
                                            tanlang</label>
                                        <select
                                            class="custom-select form-control select-arrow-none ih-medium radius-xs b-light shadow-none color-light form-group fs-14"
                                            id="validationServer03"
                                            aria-describedby="validationServer03Feedback" required name="group" onchange="selectStudent(event)">
                                            <option selected disabled value="">Guruhni tanlang</option>
                                        </select>
                                        <div class="valid-feedback">
                                            Yaxshi!
                                        </div>
                                        <div id="validationServer03Feedback" class="invalid-feedback">
                                            Iltimos Guruhni tanlang
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="validationServer05"
                                            class="il-gray fs-14 fw-500 align-center">O'quvchi
                                            tanlang</label>
                                        <select
                                            class="custom-select form-control select-arrow-none ih-medium radius-xs b-light shadow-none color-light form-student fs-14"
                                            id="validationServer05"
                                            aria-describedby="validationServer05Feedback" required name="student" onchange="selectStudent(event)">
                                            <option selected disabled value="">O'quvchi tanlang</option>>
                                        </select>
                                        <div class="valid-feedback">
                                            Yaxshi!
                                        </div>
                                        <div id="validationServer05Feedback" class="invalid-feedback">
                                            Iltimos o'quvchi tanlang
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="name" class="il-gray fs-14 fw-500 align-center">Ota-ona
                                            FIO</label>
                                        <input name="text" type="text"
                                            class="form-control ih-medium ip-light radius-xs b-light px-15 form-name"
                                            id="name" placeholder="FIO" required>
                                        <div class="valid-feedback">
                                            Yaxshi!
                                        </div>
                                        <div id="validationServer05Feedback" class="invalid-feedback">
                                            Iltimos ism-familiyani kiriting
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="phone" class="il-gray fs-14 fw-500 align-center">Telefon
                                            raqami</label>
                                        <input name="text" type="text"
                                            class="form-control ih-medium ip-light radius-xs b-light px-15 form-phone"
                                            id="phone" placeholder="+998********" maxlength="13"
                                            value="+998" required>
                                        <div class="valid-feedback">
                                            Yaxshi!
                                        </div>
                                        <div id="validationServer05Feedback" class="invalid-feedback">
                                            Iltimos telefon raqamini kiriting
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="exampleFormControlSelect3"
                                            class="il-gray fs-14 fw-500 align-center">Parol</label>
                                        <input name="password" type="password"
                                            class="form-control ih-medium ip-light radius-xs b-light px-15 form-password"
                                            id="password" placeholder="parol" required>
                                        <div class="valid-feedback">
                                            Yaxshi!
                                        </div>
                                        <div id="validationServer05Feedback" class="invalid-feedback">
                                            Iltimos parolni kiriting
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Saqlash</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="atbd-drawer drawer-profile d-none">
            <div class="atbd-drawer__header d-flex aling-items-center justify-content-between">
                <h6 class="drawer-title">SMS yuborish</h6>
                <a href="#" class="btdrawer-close"><i class="la la-times"></i></a>
            </div><!-- ends: .atbd-drawer__header -->
            <div class="atbd-drawer__body">
                <div class="drawer-content">
                    <div class="drawer-account-form form-basic">
                        <form action="#">
                            <div class="form-row">

                                <div class="form-group col-12">
                                    <label for="description">Xabar matni</label>
                                    <textarea name="description" id="description"
                                        class="form-control form-control-sm"
                                        placeholder="Xabar matnini kiriting..."></textarea>
                                </div>

                                <div class="form-group col-12">
                                    <small id="small_code"></small>
                                </div>
                                <div class="form-group col-12">
                                    <a href="./sms_yoriqnoma.html">SMSda simvollarni ishlatish bo'yicha
                                        yo'riqnoma</a>
                                </div>
                                <div class="form-group col-12">
                                    <div class="btn btn-primary">Yuborish</div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- ends: .atbd-drawer__body -->
        </div>
        <!-- ends: .atbd-drawer__body -->
    </div>
    <!-- ends: .atbd-drawer -->
</div>

<div class="overlay-dark"></div>
<div class="overlay-dark-l2"></div>

{% endblock %}

{% block script %}
<script>
    function checkSMS() {

        var formData = new FormData();
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        var checkboxes = document.getElementsByClassName('group-checkboxes');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked == true) {
                formData.append('parents', checkboxes[i].id.split("-")[3]);
            }
        }
        fetch("{% url 'admintion:check-sms-availability' %}", {
            method: 'post',
            headers: {
                'Accept': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: formData
        })
            .then(res => res.json())
            .then(res => {
                var div = document.getElementsByClassName('sms-status-message')[0];
                //div.classList.add('d-flex m-2 p-2')
                div.innerHTML = `<p class="mb-3">Sms yuboriladigan foydalanuvchilar soni: ${res.users}<br>
                         Sizda jami ${res.sms_limit} ta miqdorida bonus sifatidagi smslar mavjud. Bu limit tugagach,
                        sizdan sms integratsiya qilingan email va parol so'raladi.  </p>             
        `
            })
            .catch(err => {
                console.log(err);
            })
    }
    var cancelBtn = document.getElementById('cancelSMS');
    cancelBtn.addEventListener('click', () => {
        var input = document.getElementById('id_message');
        input.value = '';
    })

    var sendSMS = document.getElementById('sendSMS');
    sendSMS.addEventListener('click', () => {
        var formData = new FormData();
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
        var input = document.getElementById('id_message');
        formData.append('message', input.value);
        var checkboxes = document.getElementsByClassName('group-checkboxes');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked == true) {
                formData.append('parents', checkboxes[i].id.split("-")[3]);
            }
        }
        var url = "{% url 'admintion:send_sms_to_parent' %}"
        fetch(url, {
            method: 'post',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: formData,
        })
            .then(res => {
                var status = res.status
                if (status == 200) {
                    alert("Xabar Ota-onalarga yuborildi.");
                    var input = document.getElementById('id_message');
                    input.value = '';
                } else {
                    console.log(status)
                    alert("Ma'lumotlar to'liq kiritilmadi");
                }
            })
    })

    var checkAllBtn = document.getElementById('check-3');
    console.log(checkAllBtn, checkAllBtn.checked)
    checkAllBtn.addEventListener('click', () => {
        var checkboxes = document.getElementsByClassName('group-checkboxes')
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = checkAllBtn.checked;
        }
    })

    var formGroup = document.querySelector(".form-group")
    var formCourse = document.querySelector(".form-course")
    var formStudent = document.querySelector(".form-student")
    var formName = document.querySelector(".form-name")
    var formPhone = document.querySelector(".form-phone")
    var formPassword = document.querySelector(".form-password")

    function validation(element, action) {
        element.addEventListener(action, (evt) => {
            if (evt.target.value) {
                evt.target.className = "is-valid form-control ih-medium ip-light radius-xs b-light";
            } else {
                evt.target.className = "is-invalid form-control ih-medium ip-light radius-xs b-light";
            }
        })
    }

    formPhone.addEventListener("input", (evt) => {
        if (evt.target.value.length <= 4) {
            evt.target.value = "+998"
        }
        if (evt.target.value.length <= 9) {
            var value = "+" + evt.target.value.match(/\d/g).join("")
            evt.target.value = value
        }
        if (evt.target.value.length == 12) {
            validation(formPhone, "input")
        }
    })
    validation(formGroup, "change")
    validation(formCourse, "change")
    validation(formStudent, "change")
    validation(formName, "input")
    validation(formPassword, "input")
</script>
<script type="text/javascript">
    var url_path = '/admintion/leads/filter?';
    var detailUrl="/admintion/groups/<int:id>/detail/"
    var params = {
        source__id:'',
        status__id:'',
        author__id:'',
        created_at__gte:'',
        created_at__lte:''
    }
    function generate_path(url,params){
        parms = new URLSearchParams(params);
        return url+parms
    }
    //students list 
    function request_form(url,headers,func){
        return fetch(url, headers)
        .then(res=>res.json())
        .then(res=>{
            if(res.status==200){
                func(res.data)
            } else {
                alert("Ma'lumotlar to'liq kiritilmadi");;
            } 
        }).catch(err=>{  
        })
    }
    function get_request(url,func){
        return (
            request_form(url,{
            method:'get',
            headers:{
                'X-CSRFToken': '{{ csrf_token }}'
            },
        },func)
        )
    }

    function createCheckbox(dflex,student_id,idx){
        var wrapimg = document.createElement('div');
        wrapimg.className='userDatatable__imgWrapper d-flex align-items-center';
        var checkboxWrap = document.createElement('div');                                 
        checkboxWrap.className='checkbox-group-wrapper';
        var checkboxGroup = document.createElement('div');
        checkboxGroup.className='checkbox-group d-flex';
        var checkboxTheme = document.createElement('div');
        checkboxTheme.className='checkbox-theme-default custom-checkbox checkbox-group__single d-flex';
        var checkInput = document.createElement('input');
        checkInput.className='checkbox studentCheckbox';
        checkInput.type='checkbox';
        checkInput.id=`check-grp-${student_id}`;
        var label = document.createElement('label');
        label.for = `check-grp-${student_id}`
        var span = document.createElement('span');
        span.className='checkbox-text userDatatable-title';
        span.textContent=`#${++idx}`;
        label.appendChild(span);
        checkboxTheme.appendChild(checkInput)
        checkboxTheme.appendChild(label)
        checkboxGroup.appendChild(checkboxTheme)
        checkboxWrap.appendChild(checkboxGroup);
        wrapimg.appendChild(checkboxWrap);
        return wrapimg;
    }

    function createAction(detailU,_id,title){
        var ul = document.createElement('ul');
        ul.className="orderDatatable_actions mb-0 d-flex flex-wrap";
        var li = document.createElement('li');
        var a = document.createElement('a');
        a.className='view';
        a.href=detailU
        a.innerHTML=`<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>`
        li.appendChild(a);
        ul.appendChild(li);
        var a = document.createElement('a');
        var li = document.createElement('li');
        a.className='edit';
        a.innerHTML=`<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>`
        li.appendChild(a);
        ul.appendChild(li);
        var a = document.createElement('a');
        var li = document.createElement('li');
        a.className='remove';
        a.innerHTML=`<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>`
        a.addEventListener('click',()=>setDelModal(_id,title))
        li.appendChild(a);
        ul.appendChild(li);
        return ul;
    }

    function dataList(datas){
        var tbody = document.querySelector('tbody');

        while(tbody.firstChild) {
            tbody.removeChild(tbody.firstChild);
            }
        datas.forEach((element,idx) => {
            var tr = document.createElement('tr');
            tr.id = `student-${element.student_ids}`
            var columns = {{keys|safe}};
            
            for(var i=0;i<columns.length;i++){
                if(columns[i]=='check'){
                    var td = document.createElement('td');
                    var dflex = document.createElement('dev');
                    dflex.className='d-flex';
                    dflex.appendChild(createCheckbox(dflex,element.id,idx));
                    td.appendChild(dflex);
                    tr.appendChild(td);
                }
                else if(columns[i] == 'action'){
                    var td = document.createElement('td');
                    td.appendChild(createAction(detailUrl.replace("<int:id>",element.id),element.id,element.title));
                    tr.appendChild(td);  
                }
                else if(columns[i] == 'status'){
                    var td = document.createElement('td');
                    if(element.status){
                        td.innerHTML = `
                        <div class="userDatatable-content d-inline-block">
                            <span
                                class="bg-opacity-success color-success rounded-pill userDatatable-content-status active">Aktiv</span>
                        </div>
                        `
                    }
                    else{
                        td.innerHTML = `
                        <div class="userDatatable-content d-inline-block">
                            <span
                                class="bg-opacity-warning color-warning rounded-pill userDatatable-content-status active">No Faol</span>
                        </div>
                        `
                    }
                    tr.appendChild(td); 
                }
                else {
                    
                    var td = document.createElement('td');
                    var dcontent = document.createElement('dev');
                    // td.style.display='block'
                    dcontent.className='userDatatable-content'
                    td.textContent=element[columns[i]];
                    // td.appendChild(dcontent);
                    tr.appendChild(td);
                }
            }
            tbody.appendChild(tr);
            var dvTd = document.createElement('div');
            dvTd.className='userDatatable-content';
        });
    }
    function dropdownChanged (e,name){
        var selected = e.target.value;
        if (selected != 0){
            params[name]=e.target.value
        } else {
            params[name]=''
        }
        get_request(generate_path(url_path,params),dataList)

}
var selectData = {
        course:'',
        group:''
    }
    function selectFunct(datas){
        if(selectData['course']!=''){
            var elmn = document.querySelector('#validationServer03');
            var elmnstudent = document.querySelector('#validationServer05');
            var option = document.createElement('option');
            option.text="Guruhni tanlang";
            option.selected=true;
            option.disabled=false;
            elmn.innerHTML="";
            elmnstudent.innerHTML=""
            
            elmn.appendChild(option);
            option = document.createElement('option');
            option.text="O'quvchi tanlang";
            option.selected=true;
            option.disabled=false;
            elmnstudent.appendChild(option)
            datas.groups.forEach(item=>{
                var option = document.createElement('option');
                option.value=item.id
                option.text=item.title
                elmn.appendChild(option);
            })
        }
        if(selectData['group']!=''){
            var elmn = document.querySelector('#validationServer05');
            var option = document.createElement('option');
            option.text="O'quvchi tanlang";
            option.selected=true;
            option.disabled=false;
            elmn.innerHTML="";
            elmn.appendChild(option);
            datas.students.forEach(item=>{
                var option = document.createElement('option');
                option.value=item.id
                option.text=item.title
                elmn.appendChild(option);
            })
        }
        
    }
    function selectStudent(event){
        if(event.target.name=='course'){
            selectData['course'] = event.target.value;
            selectData['group']='';
        }
        else if(event.target.name=='group'){
            selectData['group']=event.target.value;
            selectData['course']='';
        }
        get_request(generate_path('/admintion/parent/data?',selectData),selectFunct)
    }
</script>
{% endblock %}