{% extends 'atomic/theme.html' %} 
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-between mt-2 align-items-center">
            <h4 class="text-capitalize breadcrumb-title">Ota-onalar-10ta  </h4> 
                <div class="action-btn d-flex">
                  <button
                    class="btn btn-primary btn-default btn-squared drawer-trigger mb-10" data-drawer="account">
                    Ota-ona qo'shish
                  </button>
                </div>
        </div>
    </div>
</div>
<div class="container-fluid">
                <div class="row">
                    <div class="col-12 mb-1">
                        
                        <div class="card px-20">
                            <div class="card-body p-1">
                                <div class="userDatatable adv-table-table global-shadow border-0 bg-white w-100 adv-table-students">
                                    <div class="table-responsive">
                                     
                                        <div id="filter-form-container"></div>
                                        <div class="row">
                                            <div class="col-12 mb-10">
                                                <div class="version-list d-flex justify-content-between">
                                                    <div class="version-list__single d-flex mr-5">
                                                        <div></div>
                                                      
                                                    </div>
                                                    
    
                                                    <div class="has-subMenu-left  d-flex ">
                                                        <ul class="subMenu mr-2">
                                                            <button class="btn btn-sm btn-default btn-primary dropdown-toggle"
                                                            type="button" data-toggle="modal" data-target="#modal-basic1"
                                                            aria-haspopup="true" aria-expanded="false"  onclick="checkSMS()">
                                                            <i class="la la-message"></i> SMS Jo'natish</button>
                                                        </ul>
                                                        <ul class="subMenu mr-2">
                                                            <button class="btn btn-sm btn-default btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="la la-download"></i> Export </button>
                                                        </ul>
                                                       
                                                    
                                                       
                                                        <ul class="subMenu mr-2">  <button class="btn btn-sm btn-default btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="la la-download"></i> Arxiv </button>
                                                        </ul>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table mb-0 table-borderless adv-table-students" data-sorting="true" data-filter-container="#filter-form-container" data-paging-current="1" data-paging-position="left" data-paging-size="10">
                                            <thead>
                                                <tr class="userDatatable-header">
                                                    <th>
                                                        <span class="userDatatable-title"></span>
                                                    </th>
                                                    <th>
                                                        <span class="userDatatable-title">id</span>
                                                    </th>
                                                    <th>
                                                        <span class="userDatatable-title">FIO</span>
                                                    </th>
                                                   
                                                    <th data-type="html" data-name='position'>
                                                        <span class="userDatatable-title">Telefon</span>
                                                    </th>
                                                    
                                                    <th>
                                                        <span class="userDatatable-title">Guruhlar</span>
                                                    </th>
                                                 
                                                    <th>
                                                        <span class="userDatatable-title ">Farzandi</span>
                                                    </th>

                                                    <th data-type="html" data-name='position'>
                                                        <span class="userDatatable-title">Telefon</span>
                                                    </th>

                                                

                                                    <th>
                                                        <span class="userDatatable-title d-inline-block ">Amallar</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for parent in parents %}
                                                <tr>
                                                    <td style="margin:auto;display: flex;justify-content:center;align-content:center;height: 100%;">
                                                        <div class="d-flex">
                                                            <div class="userDatatable__imgWrapper d-flex align-items-center">
                                                                <div class="checkbox-group-wrapper">
                                                                    <div class="checkbox-group d-flex">
                                                                        <div class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                                                            <input class=" checkbox-theme-default custom-checkbox checkbox-group__single d-flex check-grp-teacher-{{parent.id}} group-checkboxes" type="checkbox" id="check-grp-teacher-{{parent.id}}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- <a href="#" class="profile-image rounded-circle d-block m-0 wh-38" style="background-image:url('img/tm6.png'); background-size: cover;"></a> -->
                                                            </div>
                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="userDatatable-content">{{ forloop.counter }}</div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex">
                                                            <div class="userDatatable-inline-title">
                                                                <a href="#" class="text-dark fw-500">
                                                                    <h6>{{ parent.full_name}} </h6>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="userDatatable-content">
                                                           {{ parent.phone_number }}
                                                        </div>
                                                    </td>
                                                   
                                                    <td>
                                                        <div class="userDatatable-content">
                                                            -
                                                        </div>
                                                    </td>


                                                    <td>
                                                        <div class="userDatatable-content">
                                                        -
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="userDatatable-content">
                                                            -
                                                        </div>
                                                    </td>
                                                    
                                                  
                                                    <td>
                                                        <div class="userDatatable-content d-inline-block">
                                                            <span class="bg-opacity-warning  color-warning rounded-pill userDatatable-content-status active">deactivate</span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        ...
                                                        
                                                    </td>
                                                </tr>
                                                 
                                                {% endfor %}
                                            
                                            
                                           
                                                
                                            </tbody>
                                        </table>
                              
                                        <div class="d-flex align-items-center m-4">
                                            <div class="custom-checkbox  check-all">
                                                <input class="checkbox" type="checkbox" id="check-3">
                                                <label for="check-3">
                                                    Barchani tanlash
                                                </label>
                                            </div>
                                        </div>
            
                                        
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal-basic modal fade show" id="modal-basic1" tabindex="-1" role="dialog" aria-hidden="true">


                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content modal-bg-white ">
                        <div class="modal-header">
            
            
            
                            <h6 class="modal-title">Sms matni.</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span data-feather="x"></span></button>
                        </div>
                        <div class="modal-body">
                            <form action="#">
                                <div class="form-row">
                                    <div class="sms-status-message"></div>
                                    <div class="form-group col-lg-12">
                                        <label for="id_message" class="modal-title">Xabar matni</label>
                                        <textarea type="text" name="id_message" id="id_message" class="form-control form-control-sm border-light" placeholder="Xabar matni..."></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-sm" id="sendSMS">Jo'natish</button>
                            <button type="button" class="btn btn-secondary btn-sm" id="cancelSMS", data-dismiss="modal">Bekor qilish</button>
                        </div>
                    </div>
                </div>
            
            
            </div>

            <div class="drawer-basic-wrap">
    <div class="atbd-drawer drawer-account d-none">
      <div
        class="atbd-drawer__header d-flex aling-items-center justify-content-between"
      >
        <h3 class="drawer-title">O'quvchi qo'shish</h3>
        <a href="#" class="btdrawer-close"><i class="la la-times"></i></a>
      </div>
      <!-- ends: .atbd-drawer__header --> 
      <div class="atbd-drawer__body">
        <div class="drawer-content"> 
          <div class="drawer-account-form form-basic">
            
              

              

              <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="a1" class="il-gray fs-14 fw-500 align-center" style="border-color:black">Ota-ona qo'shish</label>
                        <input type="text" class="form-control ih-medium ip-light radius-xs b-light px-15 border-primary" id="a1" placeholder="">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="a1" class="il-gray fs-14 fw-500 align-center">Guruh</label>
                        <select name="url" id="owner" class="form-control ih-medium ip-light radius-xs b-light px-15 border-primary">
                            <option value="">Asistent</option>
                            <option value="">oqituvchi</option>
                        </select>
                    </div>
                </div>  
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="a2" class="il-gray fs-20 fw-500 align-center">O'quvchi</label>
                        <select name="url" id="owner" class="form-control ih-medium ip-light radius-xs b-light px-15 border-primary">
                            <option value="">Asistent</option>
                            <option value="">oqituvchi</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="a2" class="il-gray fs-20 fw-500 align-center">FIO</label>
                        <input type=" Text" class="form-control ih-medium ip-light radius-xs b-light px-15 border-primary" id="a2" placeholder="">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="a2" class="il-gray fs-14 fw-500 align-center">Telefon raqami</label>
                        <input type="number" class="form-control ih-medium ip-light radius-xs b-light px-15 border-primary" id="a2" placeholder="998 *** ** **">
                    </div>
                </div>

       

       

                  <!--           dssddff       -->
          


          
            <div class="col-md-6">
                <button type="button" class="btn btn-primary btn-sm mb-10">Parol qo'shish</button>
            </div>
           
        <!--           dssddff       -->


            <div class="col-md-12">
                <button type="button" class="btn btn-primary btn-sm mb-10">Saqlash</button>
           
            </div>
          
            

              


            </div>
            </div>
         
            
          </div>
        </div>
      </div>
      <!-- ends: .atbd-drawer__body -->
    </div>
    <!-- ends: .atbd-drawer -->
</div>

<div class="overlay-dark"></div>
<div class="overlay-dark-l2"></div>

{% endblock %}

{% block script %}
<script>
    function checkSMS(){
    
    var formData = new FormData();
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    var checkboxes = document.getElementsByClassName('group-checkboxes');
    for(var i=0;i<checkboxes.length;i++){
        if(checkboxes[i].checked == true){
            formData.append('parents', checkboxes[i].id.split("-")[3]);
        }
    }
    fetch("{% url 'admintion:check-sms-availability' %}", {
        method:'post',
        headers:{
            'Accept':'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: formData
    })
    .then(res=>res.json())
    .then(res=>{
        var div = document.getElementsByClassName('sms-status-message')[0];
        //div.classList.add('d-flex m-2 p-2')
        div.innerHTML = `<p class="mb-3">Sms yuboriladigan foydalanuvchilar soni: ${res.users}<br>
                         Sizda jami ${res.sms_limit} ta miqdorida bonus sifatidagi smslar mavjud. Bu limit tugagach,
                        sizdan sms integratsiya qilingan email va parol so'raladi.  </p>             
        `
    })
    .catch(err=>{
        console.log(err);
    })
}
var cancelBtn = document.getElementById('cancelSMS');
        cancelBtn.addEventListener('click', ()=>{
            var input = document.getElementById('id_message');
            input.value = '';
        })
        
        var sendSMS = document.getElementById('sendSMS');
        sendSMS.addEventListener('click', ()=>{
            var formData = new FormData();
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
            var input = document.getElementById('id_message');
            formData.append('message', input.value);
            var checkboxes = document.getElementsByClassName('group-checkboxes');
            for(var i=0;i<checkboxes.length;i++){
                if(checkboxes[i].checked == true){
                    formData.append('parents', checkboxes[i].id.split("-")[3]);
                }
            } 
            var url = "{% url 'admintion:send_sms_to_parent' %}"
            fetch(url, {
                method:'post',
                headers:{
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: formData,
            })
            .then(res=>{
                var status = res.status
                if(status==200){
                    alert("Xabar Ota-onalarga yuborildi.");
                    var input = document.getElementById('id_message');
                    input.value = '';
                } else {
                    console.log(status)
                    alert("Ma'lumotlar to'liq kiritilmadi");
                } 
            })
        })

        var checkAllBtn = document.getElementById('check-3');
        console.log(checkAllBtn, checkAllBtn.checked)
        checkAllBtn.addEventListener('click', ()=>{
            var checkboxes = document.getElementsByClassName('group-checkboxes')
            for(var i=0;i<checkboxes.length;i++){
                checkboxes[i].checked = checkAllBtn.checked;
            }
            
        })

    
</script>
{% endblock %}