{% extends 'atomic/theme.html' %}
{% load static %}
{% load custom_tags %}
{% load user_tags %}
{% block content %}

<div class="container-fluid p-2">
    <div class="row">
		<div class="col-12 mt-2" style="display:flex;justify-content: space-between;">
			<h3 style="display:inline;">Topshiriqlar</h3>
			<button class="btn btn-primary btn-default btn-squared drawer-trigger mb-10" data-drawer="account">
				+ Qo'shish
			</button>
		</div>
        <div class="col-12 mb-1">
            <div class="card px-20 mb-3 ">
                <div class="card-body p-1">
                    <div class="userDatatable adv-table global-shadow border-0 bg-white w-100 adv-table-task">
                        <div class="table-responsive">
                            <div id="filter-form-container"></div>
                            <table class="table mb-0 table-borderless adv-table-task" data-sorting="true"
                                data-filter-container="#filter-form-container" data-paging-current="1"
                                data-paging-position="left" data-paging-size="10">
                                <thead>
                                    <tr class="userDatatable-header">
                                        <th>
                                            <span class="userDatatable-title">#</span>
                                        </th>
                                        <th data-type="html" data-name='name_type'>
                                            <span class="userDatatable-title">Nomi</span>
                                        </th>
                                        <th data-type="html" data-name='position'>
                                            <span class="userDatatable-title">Tavsif</span>
                                        </th>
                                        <th data-type="html" data-name='status'>
                                            <span class="userDatatable-title">Holati</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title ">Vaqti</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title ">Muddati</span>
                                        </th>
                                        <th data-type="html" data-name='for_who'>
                                            <span class="userDatatable-title ">Kim uchun</span>
                                        </th>
                                        <th data-type="html" data-name='executor'>
                                            <span class="userDatatable-title ">Javobgar(bajaruvchi)</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for task in tasks %}
                                    <tr>
                                        <td>
                                            <div class="userDatatable-content">{{ forloop.counter }}</div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {{ task.task_type.task_type }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {{ task.comment|default:'' }}
                                            </div>
                                        </td>

                                        <td>
                                            <div class="userDatatable-content">
                                                <span
                                                    class="bg-opacity-{{ task.status|get_status2}}  color-{{ task.status|get_status2}} rounded-pill userDatatable-content-status active">
                                                    {{task.status|get_type_name:'task'}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {{ task.created_at|date:'d.m.Y H:i'}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {{ task.deadline|date:'d.m.Y H:i'}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content d-flex justify-content-between align-center">
                                                <span style="display:inline;"
                                                    class="selling-badge order-bg-opacity-primary color-primary">{{ task.user_status.whom }}</span>
                                                    <div>{% if task.user_status.id == 1 %}
                                                        {% for user in task.leads.all %}<a href="{% url 'admintion:lead-detail' user.id %}" style="color: black;"> {{user.user.full_name|default:'' }}<br></a>{% endfor %}
                                                        {% elif task.user_status.id == 3 %}
                                                        {% for user in task.groups.all %}<a href="{% url 'admintion:group-detail' user.id %}" style="color: black;"> {{user.title }}<br></a>{% endfor %}
                                                        {% elif task.user_status.id == 2 %}
                                                        {% for user in task.students.all %}<a href="{% url 'admintion:student-detail' user.id %}" style="color: black;"> {{user.user.full_name }}<br></a>{% endfor %}
                                                        {% elif task.user_status.id == 6 %}
                                                        {% for user in task.courses.all %}<a href="{% url 'admintion:course-detail' user.id %}" style="color: black;"> {{user.title }}<br></a>{% endfor %}
                                                        {% elif task.user_status.id == 8 %}
                                                        {% for user in task.parents.all %}<a href="#" style="color: black;"> {{user.title }}<br></a>{% endfor %}
                                                        {% elif task.user_status.id == 7 %}
                                                        {% for user in task.courses.all %}<a href="{% url 'admintion:course-detail' user.id %}" style="color: black;"> {{user.title }}<br></a>{% endfor %}
                                                        
                                                        {% endif %}
                                                    </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content  d-flex justify-content-between align-center">
                                                <div>{% for user in task.responsibles.all %}<a href="{% if user.id|user_role == 'Manager' or user.id|user_role == 'Admin' %}#{% else %}{% url 'education:teacher_detail' user.id %}{% endif %}" style="color: black;"> {{user.full_name }}| {{user|user_role}}<br></a>{% endfor %}</div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="drawer-basic-wrap">
    <div class="atbd-drawer drawer-account d-none" style="overflow-y: scroll !important;">
        <div class="atbd-drawer__header d-flex aling-items-center justify-content-between">
            <h3 class="drawer-title">Yangi topshiriq qo'shish</h3>
            <a href="#" class="btdrawer-close"><i class="la la-times"></i></a>
        </div>
        <div>
            <!-- ends: .atbd-drawer__header -->
            <div class="atbd-drawer__body">
                <div class="drawer-content">
                    <div class="drawer-account-form form-basic">
                        <form action="#">
                            <div class="form-row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="a2" class="il-gray fs-14 fw-500 align-center">Kim uchun</label>
                                            <select name="url" id="selectWhom"
                                                class="form-control ih-medium ip-light radius-xs b-light px-15">
                                                {% for user_status in whom %}
                                                    <option value="{{user_status.id}}">{{user_status.whom}}</option>
                                                {% endfor %}

                                            </select>
                                        </div>
                                    </div>

									<div class="col-md-6">
                                        <div class="form-group">
                                            <label for="a2" class="il-gray fs-14 fw-500 align-center">Mavzu</label>
                                            <select name="url" id="taskType"
                                                class="form-control ih-medium ip-light radius-xs b-light px-15">
                                                {% for type in task_types %}
                                                    <option value="{{type.id}}">{{type.task_type}}</option>
                                                {% endfor %}
                                                
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="a2" class="il-gray fs-14 fw-500 align-center">
                                                Vaqti</label>
                                            <input type="datetime-local"
                                                class="form-control ih-medium ip-light radius-xs b-light px-15" id="Deadline"
                                                placeholder="soni">
                                        </div>
                                    </div>

									<div class="col-md-6">
                                        <div class="form-group">
                                            <label for="select-tag" class="il-gray fs-14 fw-500 align-center">Mas'ul</label>
                                            <select name="url" id="select-tag"
                                                class="form-control ih-medium ip-light radius-xs b-light px-15" multiple="multiple">
                                                {% for res in responsibles %}
                                                    <option value="{{res.id}}">{{res.first_name}} {{res.last_name}} | {{res.id|user_role}}</option>
                                                {% endfor %}

                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-md-12">
                                        <label for="id_comment"
                                            class="il-gray fs-14 fw-500 align-center">Matni</label>
                                        <textarea class="form-control form-row" id="id_comment"
                                            rows="2"></textarea>
                                    </div>


                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-primary btn-sm  "
                                            style="margin-top:20px ;" onclick="saveBtn()">Saqlash</button>

                                    </div>


                                </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- ends: .atbd-drawer__body -->
    </div>
    <!-- ends: .atbd-drawer -->
</div>
<div class="overlay-dark"></div>
<div class="overlay-dark-l2"></div>



{% endblock %}









{% block script %}
<script>
    // .adv-table-task
    $(function() {
    $('.adv-table-task').footable({
      filtering: {
        enabled: true
      },
      "paging": {
              "enabled": true,
			  "current": 1
	  },
      strings: {
        enabled: false
      },
      "filtering": {
              "enabled": true
          },
      components: {
          filtering: FooTable.MyFiltering
      },
    }); 
  });
  
FooTable.MyFiltering = FooTable.Filtering.extend({
	construct: function(instance){
		this._super(instance);
		// props for the first dropdown
		this.types = ['Telefon qilish','Sms jo\'natish','Probniy dars'];
		this.typeDefault = 'All';
		this.$type = null;
		// props for the second dropdown
        this.jobTitles = ['Active','deactivate','Blocked'];
		this.jobTitleDefault = 'All';
		this.$jobTitle = null;
        // props for third dropdown
		this.for_whoes = ['Hoshimov Daler'];
		this.for_whoDefault = 'All';
		this.$for_who = null;
        // props for forth dropdown
		this.executors = ['Burhon Baqoyev'];
		this.executorDefault = 'All';
		this.$executor = null;
        
        
	},
	$create: function(){
		this._super();
		var self = this;
        // create the type form group and dropdown
		var $type_form_grp = $('<div/>', {'class': 'form-group atbd-select d-flex align-items-center adv-table-searchs__position my-md-25 my-15 mr-sm-20 mr-0 '})
			.prependTo(self.$form);

		self.$type = $('<select/>', { 'class': 'form-control ml-sm-10 ml-0' })
			.on('change', {self: self}, self._onTypeDropdownChanged)
			.append($('<option/>', {text: self.typeDefault}))
			.appendTo($type_form_grp);

		$.each(self.types, function(i, type){
			self.$type.append($('<option/>').text(type));
		});

		// create the status form group and dropdown
		var $jobTitle_form_grp = $('<div/>', {'class': 'form-group atbd-select d-flex align-items-center adv-table-searchs__status my-md-25 mt-15 mb-0 mr-sm-30 mr-0'})
			.prependTo(self.$form);

		self.$jobTitle = $('<select/>', { 'class': 'form-control ml-sm-10 ml-0' })
			.on('change', {self: self}, self._onJobTitleDropdownChanged)
			.append($('<option/>', {text: self.jobTitleDefault}))
			.appendTo($jobTitle_form_grp);

		$.each(self.jobTitles, function(i, jobTitle){
			self.$jobTitle.append($('<option/>').text(jobTitle));
		});

        // create the for who form group and dropdown
		var $for_who_form_grp = $('<div/>', {'class': 'form-group atbd-select d-flex align-items-center adv-table-searchs__status my-md-25 mt-15 mb-0 mr-sm-30 mr-0'})
			.prependTo(self.$form);

		self.$for_who = $('<select/>', { 'class': 'form-control ml-sm-10 ml-0' })
			.on('change', {self: self}, self._onForWhoDropdownChanged)
			.append($('<option/>', {text: self.for_whoDefault}))
			.appendTo($for_who_form_grp);

		$.each(self.for_whoes, function(i, for_who){
			self.$for_who.append($('<option/>').text(for_who));
		});

        // create the for executor group and dropdown
		var $executor_form_grp = $('<div/>', {'class': 'form-group atbd-select d-flex align-items-center adv-table-searchs__status my-md-25 mt-15 mb-0 mr-sm-30 mr-0'})
			.prependTo(self.$form);

		self.$executor = $('<select/>', { 'class': 'form-control ml-sm-10 ml-0' })
			.on('change', {self: self}, self._onExecutorDropdownChanged)
			.append($('<option/>', {text: self.executorDefault}))
			.appendTo($executor_form_grp);

		$.each(self.executors, function(i, executor){
			self.$executor.append($('<option/>').text(executor));
		});
	},
    _onTypeDropdownChanged: function(e){
		var self = e.data.self,
			selected = $(this).val();
		if (selected !== self.typeDefault){
			self.addFilter('name_type', selected, ['name_type']);
		} else {
			self.removeFilter('name_type');
		}
		self.filter();
	},
	_onJobTitleDropdownChanged: function(e){
		var self = e.data.self,
			selected = $(this).val();
		if (selected !== self.jobTitleDefault){
			self.addFilter('status', selected, ['status']);
		} else {
			self.removeFilter('status');
		}
		self.filter();
	},
    _onForWhoDropdownChanged: function(e){
		var self = e.data.self,
			selected = $(this).val();
		if (selected !== self.for_whoDefault){
			self.addFilter('for_who', selected, ['for_who']);
		} else {
			self.removeFilter('for_who');
		}
		self.filter();
	},
    _onExecutorDropdownChanged: function(e){
		var self = e.data.self,
			selected = $(this).val();
		if (selected !== self.executorDefault){
			self.addFilter('executor', selected, ['executor']);
		} else {
			self.removeFilter('executor');
		}
		self.filter();
	},
	draw: function(){
		this._super();
        // handle the type filter if one is supplied
		var type = this.find('name_type');
		if (type instanceof FooTable.Filter){
			this.$type.val(type.query.val());
		} else {
			this.$type.val(this.typeDefault);
		}

		// handle the status filter if one is supplied
		var jobTitle = this.find('status');
		if (jobTitle instanceof FooTable.Filter){
			this.$jobTitle.val(jobTitle.query.val());
		} else {
			this.$jobTitle.val(this.jobTitleDefault);
		}

        // handle the for who filter if one is supplied
		var for_who = this.find('for_who');
		if (for_who instanceof FooTable.Filter){
			this.$for_who.val(for_who.query.val());
		} else {
			this.$for_who.val(this.for_whoDefault);
		}

         // handle the executor filter if one is supplied
		var executor = this.find('executor');
		if (executor instanceof FooTable.Filter){
			this.$executor.val(executor.query.val());
		} else {
			this.$executor.val(this.executorDefault);
		}
	}
});

function saveBtn(){
    var url = `/education/task/add/`;
    var formData = new FormData();
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
    
    var user_status = document.getElementById('selectWhom');
    formData.append('user_status', user_status.value);

    var task_type = document.getElementById('taskType');
    formData.append('task_type', task_type.value);

    var deadline = document.getElementById('Deadline');
    formData.append('deadline', deadline.value);

    var responsibles = document.getElementById('select-tag');
    for (var i=0;i< responsibles.selectedOptions.length;i++){
        formData.append('responsibles', responsibles.selectedOptions[i].value);
    }
    
    var comment = document.getElementById('id_comment');
    formData.append('comment', comment.value);

    fetch(url, {
        method: 'post',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
        },
        body: formData
    })
    .then(res=>{
        var status = res.status

        if(status==201){
            window.location.reload();
        }
    })
    .catch(err => {
        console.log(err);
    })
}
</script>
{% endblock %}