{% extends 'atomic/theme.html' %}
{% load static %}
{% block content %}

<div class="container-fluid p-2">
    <div class="row">
        <div class="col-3 col-lg-3 col-xl-3 col-xxl-3 p-1 ">
            <div class="card">
                <div class="card-body p-3 ">
                    <div style="display: flex;justify-content: space-between;
                    border-bottom: 1px rgb(170, 170, 170) solid;padding-bottom: 15px;">
                        <h6>Matematika B1</h6>
                        <a href="#" style="color:black;">
                            <span data-feather="more-horizontal"></span>
                        </a>
                    </div>
                    <div class="ry pt-3 " style="border-bottom: 1px rgb(170, 170, 170) solid;padding-bottom: 15px;">
                        <div style="display:flex;justify-content: space-between;">
                            <a>O'qituvchi :</a>
                            <a style="color:black;">Burhon Baqoyev</a>
                        </div>
                        <div style="display:flex;justify-content: space-between;">
                            <a>O'quvchi :</a>
                            <a style="color:black;">Burhon Baqoyev</a>
                        </div>
                        <div style="display:flex;justify-content: space-between;">
                            <a>Sana:</a>
                            <a style="color:black;">12.12.1221</a>
                        </div>
                        <div style="display:flex;justify-content: space-between;">
                            <a>Manzil :</a>
                            <a style="color:black;">Vobkent tuman</a>
                        </div>
                    </div>
                    <div>
                        <a class="atbd-menu__link active" href="#" style="display:block;">
                            <span data-feather="folder"></span>
                            <span class="atbd-menu__text">Onlayn darslar</span>
                        </a>
                        <a class="atbd-menu__link active" href="#" style="display:block;">
                            <span data-feather="folder"></span>
                            <span class="atbd-menu__text">Onlayn darslar</span>
                        </a>

                        <a class="atbd-menu__link active" href="#" style="display:block;">
                            <span data-feather="folder"></span>
                            <span class="atbd-menu__text">Onlayn darslar</span>
                        </a>
                        <a class="atbd-menu__link active" href="#" style="display:block;">
                            <span data-feather="folder"></span>
                            <span class="atbd-menu__text">Onlayn darslar</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9 col-lg-9 col-xl-9 col-xxl-9">
            <div class="card">
                <div class="card-body p-2 ">
                    <div class="tab-wrapper">

                        <div class="atbd-tab tab-horizontal">
                            <ul class="nav nav-tabs vertical-tabs" role="tablist">

                                <li class="nav-item">
                                    <a class="nav-link active" id="tab-v-1-tab" data-toggle="tab" href="#tab-v-1" role="tab" aria-controls="tab-v-1" aria-selected="true">Online</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-v-2-tab" data-toggle="tab" href="#tab-v-2" role="tab" aria-controls="tab-v-2" aria-selected="false">Davomat</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-v-3-tab" data-toggle="tab" href="#tab-v-3" role="tab" aria-controls="tab-v-3" aria-selected="false">To'lov</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-v-4-tab" data-toggle="tab" href="#tab-v-4" role="tab" aria-controls="tab-v-4" aria-selected="false">Chegirma</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-v-5-tab" data-toggle="tab" href="#tab-v-5" role="tab" aria-controls="tab-v-5" aria-selected="false">Kurs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-v-6-tab" data-toggle="tab" href="#tab-v-6" role="tab" aria-controls="tab-v-6" aria-selected="false">tarix</a>
                                </li>
                                
                            </ul>
                            <div class="tab-content">

                                <div class="tab-pane fade show active" id="tab-v-1" role="tabpanel" aria-labelledby="tab-v-1-tab">
                                   
                                </div>
                                <div class="tab-pane fade" id="tab-v-2" role="tabpanel" aria-labelledby="tab-v-2-tab">
                                    <div class="card-body p-1 ">
                                        <div class="card-header">
                                            <h6>Davomat | 12.08.2022 </h6>
                                            <div class="card-extra">
                                                <ul class="card-tab-links mr-3 nav-tabs nav">
                                                    <li>
                                                        <a class="active" href="#t_channel-today" data-toggle="tab" id="t_channel-today-tab" role="tab" area-controls="t_channel-table" aria-selected="true">Avgust</a>
                                                    </li>
                                                    <li>
                                                        <a href="#t_channel-week" data-toggle="tab" id="t_channel-week-tab" role="tab" area-controls="t_channel-table" aria-selected="false">Iyul</a>
                                                    </li>
                                                    <li>
                                                        <a href="#t_channel-month" data-toggle="tab" id="t_channel-month-tab" role="tab" area-controls="t_channel-table" aria-selected="fasle">Iyun</a>
                                                    </li>
                                                    <li>
                                                        <a href="#t_channel-year" data-toggle="tab" id="t_channel-year-tab" role="tab" area-controls="t_channel-table" aria-selected="false">May</a>
                                                    </li>
                                                </ul>
                                                <div class="dropdown dropleft">
                                                    <a href="#" role="button" id="traffic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span data-feather="more-horizontal"></span>
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="traffic">
                                                        <a class="dropdown-item" href="#">Action</a>
                                                        <a class="dropdown-item" href="#">Another action</a>
                                                        <a class="dropdown-item" href="#">Something else here</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table--default traffic-table">
                                                <thead>
                                                    <tr>
                                                        <th>Fio</th>
                                                        <th>Foiz</th>
                                                        <th>20</th>
                                                        <th>21</th>
                                                        <th>22</th>
                                                        <th>23</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Burhon Baqoyev</td>
                                                        <td>
                                                            <div class="userDatatable-content d-inline-block">
                                                                <span class="bg-opacity-success  color-success rounded-pill userDatatable-content-status active">100%</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <select name="jin" id="125">
                                                                <option value="1">Keldi</option>
                                                                <option value="2">Kech qoldi</option>
                                                                <option value="3">KElmadi</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="jin" id="125">
                                                                <option value="1">Keldi</option>
                                                                <option value="2">Kech qoldi</option>
                                                                <option value="3">KElmadi</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="jin" id="125">
                                                                <option value="1">Keldi</option>
                                                                <option value="2">Kech qoldi</option>
                                                                <option value="3">KElmadi</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="jin" id="125">
                                                                <option value="1">Keldi</option>
                                                                <option value="2">Kech qoldi</option>
                                                                <option value="3">KElmadi</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-v-3" role="tabpanel" aria-labelledby="tab-v-3-tab">
                                    
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}