<aside class="sidebar">
    <div class="sidebar__menu-group">
        <ul class="sidebar_nav mt-2">
            <li>
                <a class="">
                    <span data-feather="grid" class="nav-icon"></span>
                    <span class="menu-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{% url 'education:lid-sk' %}" class="">
                    <span data-feather="inbox" class="nav-icon"></span>
                    <span class="menu-text">Lidlar</span>
                </a>
            </li>
            <li>
                <a href="{% url 'education:task' %}" class="">
                    <span data-feather="clipboard" class="nav-icon"></span>
                    <span class="menu-text">Topshiriqlar</span>
                </a>
            </li>   
            <li>
                <a href="{% url 'education:groups-list' %}" class="">
                    <span data-feather="layers" class="nav-icon"></span>
                    <span class="menu-text">Guruhlar</span>
                </a>
            </li>
            <li>
                <a href="{% url 'education:students-list' %}" class="">
                    <span data-feather="users" class="nav-icon"></span>
                    <span class="menu-text">O'quvchilar</span>
                </a>
            </li>
            <li class="has-child">
                <a href="#" class="">
                    <span data-feather="book-open" class="nav-icon"></span>
                    <span class="menu-text">Ta’lim</span>
                    <span class="toggle-icon"></span>
                </a>
                <ul>
                    <li>
                        <a class="" href="{% url 'education:courses-list' %}">Kurslar</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'education:teachers' %}">O’qituvchilar</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'education:parents-list' %}">Ota-onalar</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'education:teachers' %}">Imtihonlar</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'education:teachers' %}">Kutubxona</a>
                    </li>
                </ul>
            </li>  
            <li class="has-child">
                <a href="#" class="">
                    <span data-feather="refresh-cw" class="nav-icon"></span>
                    <span class="menu-text">Moliya</span>
                    <span class="toggle-icon"></span>
                </a>
                <ul>
                    <li>
                        <a class="" href="{% url 'education:finance-list' %}">Barcha to'lovlar</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'education:debt_course' '1' %}">Kurs to'lovlari</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'education:debt_groups' '1' %}">Guruh to'lovlari</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'education:debt-list' %}">Qarzdorlik</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'education:expenses-list' %}">Xarajatlar</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'education:teachers' %}">Maoshlar</a>
                    </li>
                </ul>
            </li> 
            <li class="has-child">
                <a href="#" class="">
                    <span data-feather="pie-chart" class="nav-icon"></span>
                    <span class="menu-text">Hisobotlar</span>
                    <span class="toggle-icon"></span>
                </a>
                <ul>
                    <li>
                        <a class="" href="index.html">Dars jadvali</a>
                    </li>
                    <li>
                        <a class="" href="business.html">Konversiya</a>
                    </li>
                    <li>
                        <a class="" href="performance.html">Davomat</a>
                    </li>
                    <li>
                        <a class="" href="performance.html">SMS jurnallar</a>
                    </li>
                    <li>
                        <a class="" href="performance.html">Harakatlar tarixi</a>
                    </li>
                </ul>
            </li>
            <li class="has-child">
                <a href="#" class="">
                    <span data-feather="settings" class="nav-icon"></span>
                    <span class="menu-text">Sozlamalar</span>
                    <span class="toggle-icon"></span>
                </a>
                <ul>
                    <li>
                        <a class="" href="{% url 'education:rooms-list' %}">Xonalar</a>
                    </li>
                    <li>
                        <a class="" href="business.html">Rollar</a>
                    </li>
                    <li>
                        <a class="" href="performance.html">Lid formalar</a>
                    </li>
                    <li>
                        <a class="" href="performance.html">Billing</a>
                    </li>
                </ul>
            </li>
                 
        </ul>
    </div>
</aside>