<aside class="sidebar">
    <div class="sidebar__menu-group">
        <ul class="sidebar_nav mt-2">

            {% if is_teacher %}
            <li>
                <a href="{% url 'admintion:dashboard' %}" class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-grid nav-icon">
                        <rect x="3" y="3" width="7" height="7"></rect>
                        <rect x="14" y="3" width="7" height="7"></rect>
                        <rect x="14" y="14" width="7" height="7"></rect>
                        <rect x="3" y="14" width="7" height="7"></rect>
                    </svg>
                    <span class="menu-text">Dashboard </span>
                </a>
            </li>
            <li>
                <a href="{% url 'education:task' %}" class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clipboard  nav-icon"><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"/><rect x="8" y="2" width="8" height="4" rx="1" ry="1"/></svg>
                    <span class="menu-text">Topshiriqlar </span>
                </a>
            </li>
            <li>
                <a href="{% url 'admintion:groups' %}" class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers nav-icon"><polygon points="12 2 2 7 12 12 22 7 12 2"/><polyline points="2 17 12 22 22 17"/><polyline points="2 12 12 17 22 12"/></svg>
                    <span class="menu-text">Guruhlar </span>
                </a>
            </li>
        
            <li>
                <a href="{% url 'education:onlin' %}" class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-folder  nav-icon">
                        <path
                            d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z" />
                    </svg>
                    <span class="menu-text">Darslar</span>
                </a>
            </li>
            <li>
                <a href="{% url 'education:onlin' %}" class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-bookmark nav-icon">
                        <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z" />
                    </svg> <span class="menu-text">Uyga vazifa</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admintion:students' %}" class="">

                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send nav-icon"><line x1="22" y1="2" x2="11" y2="13"/><polygon points="22 2 15 22 11 13 2 9 22 2"/></svg>
                    <span class="menu-text">Savol-javob</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admintion:students' %}" class="">

                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-check-square nav-icon">
                        <polyline points="9 11 12 14 22 4" />
                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11" />
                    </svg>
                    <span class="menu-text">Imtihonlar</span>
                </a>
            </li>
            <li>
                <a href="changelog.html" class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-book-open  nav-icon">
                        <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z" />
                        <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z" />
                    </svg>
                    <span class="menu-text">Kutubxona</span>
                </a>
            </li>
            <li>
                <a href="/education/students/list/" class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-pie-chart  nav-icon">
                        <path d="M21.21 15.89A10 10 0 1 1 8 2.83" />
                        <path d="M22 12A10 10 0 0 0 12 2v10z" />
                    </svg>
                    <span class="menu-text">Reyting</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admintion:teacher_pay' %}" class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-credit-card  nav-icon">
                        <rect x="1" y="4" width="22" height="16" rx="2" ry="2" />
                        <line x1="1" y1="10" x2="23" y2="10" />
                    </svg>
                    <span class="menu-text">To'lovlar</span>
                </a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'admintion:dashboard' %}" class="">
                    <span data-feather="grid" class="nav-icon"></span>
                    <span class="menu-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admintion:lead-list' %}" class="">
                    <span data-feather="inbox" class="nav-icon"></span>
                    <span class="menu-text">Lidlar</span>
                </a>
            </li>
            <li>
                <a href="{% url 'education:task' %}" class="">
                    <span data-feather="clipboard" class="nav-icon"></span>
                    <span class="menu-text">Topshiriqlar</span>
                </a>
            </li>   
            <li>
                <a href="{% url 'admintion:groups' %}" class="">
                    <span data-feather="layers" class="nav-icon"></span>
                    <span class="menu-text">Guruhlar</span>
                </a>
            </li>
            <li>
                <a href="{% url 'admintion:students' %}" class="">
                    <span data-feather="users" class="nav-icon"></span>
                    <span class="menu-text">O'quvchilar</span>
                </a>
            </li>
            <li class="has-child">
                <a href="#" class="">
                    <span data-feather="book-open" class="nav-icon"></span>
                    <span class="menu-text">Ta’lim</span>
                    <span class="toggle-icon"></span>
                </a>
                <ul>
                    <li>
                        <a class="" href="{% url 'admintion:courses' %}">Kurslar</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'admintion:teachers' %}">O’qituvchilar</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'education:parents-list' %}">Ota-onalar</a>
                    </li>
                    {% if 'Admintion' not in groups_name_list %}
                    <li>
                        <a class="" href="{% url 'education:onlin' %}">Onlayn darslar</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'education:homeworks' %}">Uy vazifalari</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'education:teachers' %}">Imtihonlar</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'education:teachers' %}">Kutubxona</a>
                    </li>
                    {% endif %}
                </ul>
            </li>  
            {% if 'Manager' in groups_name_list or 'Director' in groups_name_list %}
            <li class="has-child">
                <a href="#" class="">
                    <span data-feather="refresh-cw" class="nav-icon"></span>
                    <span class="menu-text">Moliya</span>
                    <span class="toggle-icon"></span>
                </a>
                <ul>
                    <li>
                        <a class="" href="{% url 'education:finance-list' %}">Barcha to'lovlar</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'education:debt_course' '1' %}">Kurs to'lovlari</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'education:debt_groups' '1' %}">Guruh to'lovlari</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'education:debt-list' %}">Qarzdorlik</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'education:expenses-list' %}">Xarajatlar</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'education:teachers' %}">Maoshlar</a>
                    </li>
                </ul>
            </li> 
            <li class="has-child">
                <a href="#" class="">
                    <span data-feather="pie-chart" class="nav-icon"></span>
                    <span class="menu-text">Hisobotlar</span>
                    <span class="toggle-icon"></span>
                </a>
                <ul>
                    <li>
                        <a class="" href="{% url 'finance:reports' %}">Moliyaviy hisobotlar</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'admintion:reports' %}">Dars jadvali</a>
                    </li>
                    <li>
                        <a class="" href="business.html">Konversiya</a>
                    </li>
                    <li>
                        <a class="" href="performance.html">Davomat</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'sms:sms-journal' %}">SMS jurnallar</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'admintion:reports-finance' %}">Harakatlar tarixi</a>
                    </li>

                </ul>
            </li>
            <li class="has-child">
                <a href="#" class="">
                    <span data-feather="settings" class="nav-icon"></span>
                    <span class="menu-text">Sozlamalar</span>
                    <span class="toggle-icon"></span>
                </a>
                <ul>
                    <li>
                        <a class="" href="{% url 'admintion:settings' %}">Umumiy Sozlamalar</a>
                    </li>
                    {% if perms.admintion.view_educenters %}
                    <li>
                        <a class="" href="{% url 'admintion:edu-centers' %}">Filiallar</a>
                    </li>
                    {% endif %}
                    <li>
                        <a class="" href="{% url 'admintion:rooms' %}">Xonalar</a>
                    </li>
                    {% if perms.admintion.view_educenters %}
                    <li>
                        <a class="" href="business.html">Rollar</a>
                    </li>
                    {% endif %}
                    {% if perms.admintion.view_leadforms %}
                    <li>
                        <a class="" href="{% url 'admintion:forms' %}">Lid formalar</a>
                    </li>
                    {% endif %}
                    <li>
                        <a class="" href="performance.html">Billing</a>
                    </li>
                </ul>
            </li>
            {% endif %}
        {% endif %}
        </ul>
    </div>
</aside>