{% load  static %}
<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>InTech Academy</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    {% include 'atomic/injectcss.html' %}
    {% block style %}
    {% endblock %}
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon.png' %}">
</head>

<body class="layout-light side-menu overlayScroll">
    <div class="mobile-search">
        <form class="search-form">
            <span data-feather="search"></span>
            <input class="form-control mr-sm-2 box-shadow-none" type="text" placeholder="Search...">
        </form>
    </div>

    <div class="mobile-author-actions"></div>
    {% include 'atomic/header.html' %}
    <main class="main-content">
        {% include 'atomic/sidebar.html' %}
        <div class="contents {% if is_director %}crm{% endif %}">
            {% block content %}
            {% endblock %}
        </div>
        {% include 'atomic/footer.html' %}
    </main>
    <div class="overlay-dark"></div>
    <div class="alert-wrapper"></div>
        <div class="overlay-dark-l2"></div>
    <div id="overlayer">
        <span class="loader-overlay">
            <div class="atbd-spin-dots spin-lg">
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
            </div>
        </span>
    </div>
    
    {% block customizer %}
    {% endblock %}
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDduF2tLXicDEPDMAtC6-NLOekX0A5vlnY"></script>
    {% include 'atomic/injectjs.html' %}
</body>
<style>
    #ui-datepicker-div
    {
            z-index: 9999 !important;
    }
</style>
<style>
    .alert-wrapper{
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100073537562736720;
        margin: 20px auto;
    }
    .timer-indicator{
        width: 100%;
        height: 3px;
    }
    .timer-inner{
        height: 3px;
        position: relative;
        animation: width 3s ease-in-out;
    }
    @keyframes width {
        0%{
            width: 0;
        } 
        100%{
            width: 100%;
        }
    }
</style>
<script>
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();

    today = dd + '/' + mm + '/' + yyyy;
    var wrapper = document.querySelector(".alert-wrapper")
    function getAlert(message, type, duration){

        var alertElement = `
        <div class="alert alert-${type}  alert-dismissible " role="alert">
            <div class="alert-content">
                <p>${message}</p>
                <div class="timer-indicator bg-opacity-${type} mt-3">
                    <div class="timer-inner bg-${type}"></div>
                </div>
                <button type="button" class="close text-capitalize" data-dismiss="alert" aria-label="Close">
                    <span data-feather="x" aria-hidden="true"></span>
                </button>
            </div>
        </div>`
        
        wrapper.innerHTML = alertElement;
        for(let i=0;i<=100;i++){
                var timerIndicator = document.querySelector(".timer-inner")
                timerIndicator.style.width = `${i}%`
        }
        setTimeout(function(){
            $(document).find(`.alert-${type}`).remove();
        },3000);
    }

    function getSpinner(isActive, wrapper){
        var spinnerElement = `
            <span class="loader-overlay d-inline-block">
                <div class="atbd-spin-dots spin-lg">
                    <span class="spin-dot badge-dot dot-primary"></span>
                    <span class="spin-dot badge-dot dot-primary"></span>
                    <span class="spin-dot badge-dot dot-primary"></span>
                    <span class="spin-dot badge-dot dot-primary"></span>
                </div>
            </span>
        `

        if(isActive){
            wrapper.innerHTML = spinnerElement;
        }
    }

</script>
        {% for message in messages %}
        <script>getAlert("{{message}}",'danger');</script>
        {% endfor %}
{% block script %}
{% endblock %}
</html>