{% extends 'atomic/theme.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-between mt-2 align-items-center">
            <h4>Kurslar-{{objs.count}}ta </h4>
            <h4 class="text-capitalize breadcrumb-title"></h4>
            {% if perms.admintion.add_courses %}
            <button class="btn btn-primary btn-default btn-squared drawer-trigger mb-10" data-drawer="account"> Kurs
                qo'shish
            </button>
            {% endif %}

        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="row">
        <div class="col-12 mb-1">
            <div class="card px-20">
                <div class="card-body p-1">
                    <div
                        class="userDatatable adv-table-table global-shadow border-0 bg-white w-100 adv-table-course-list">
                        <div class="table-responsive">
                            <div id="filter-form-container"></div>
                            <table class="table mb-0 table-borderless adv-table-course-list" data-sorting="true"
                                data-filter-container="#filter-form-container" data-paging-current="1"
                                data-paging-position="left" data-paging-size="10">
                                <thead>
                                    <tr class="userDatatable-header">
                                        <th>
                                            <span class="userDatatable-title">id</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Nomi</span>
                                        </th>
                                        <th data-type="html" data-name='position'>
                                            <span class="userDatatable-title">Davomiyligi</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Narxi</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Guruhlar</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">O'quvchilar</span>
                                        </th>
                                        <th data-type="html" data-name='status'>
                                            <span class="userDatatable-title">status</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title float-right">Amallar</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for obj in objs %}
                                    <tr>
                                        <td>
                                            <div class="userDatatable-content">{{forloop.counter}}</div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <div class="userDatatable-inline-title">
                                                    <a href="#" class="text-dark fw-500">
                                                        <h6>{{obj.title}}</h6>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {{obj.duration}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {{obj.price|readable_soums}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {{ obj.group_set.count }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {{ obj|get_course_students }}
                                            </div>
                                        </td>
                                        <td>
                                            {% if obj.status %}
                                            <div class="userDatatable-content d-inline-block">
                                                <span
                                                    class="bg-opacity-success color-success rounded-pill userDatatable-content-status active">Aktiv</span>
                                            </div>
                                            {% else %}
                                            <div class="userDatatable-content d-inline-block">
                                                <span
                                                    class="bg-opacity-warning color-warning rounded-pill userDatatable-content-status active">No Faol</span>
                                            </div>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <ul class="orderDatatable_actions mb-0 d-flex flex-wrap">
                                                <li>
                                                    <a href="#" class="view">
                                                        <span data-feather="eye"></span></a>
                                                </li>
                                                {% if perms.admintion.change_course %}
                                                <li>
                                                    <a href="#" class="edit" onclick="getCourseDetail('{{obj.id}}')"  data-toggle="modal" data-target="#modal-basic2">
                                                        <span data-feather="edit"></span></a>
                                                </li>
                                                {% endif %}
                                                {% if perms.admintion.delete_course %} 
                                                <li>
                                                    <a href="#" class="remove"  data-toggle="modal" data-target="#modal-basic1"
                                                     onclick='setDelModal("{{ obj.id}}","{{obj.title}}")'>
                                                        <span data-feather="trash-2"></span></a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- ends: .modal-Basic -->
<div class="modal-basic modal fade show" id="modal-basic1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content modal-bg-white ">
            <form class="form-group" method="post" id="delForm">
                <div class="modal-header">
                    {% csrf_token %}
                    <h6 class="modal-title">Rostan ham kurs (<span id="courseTitle"></span> kursi) ni o'chirmoqchimisiz?</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span data-feather="x"></span></button>
                </div>
                <div class="modal-body">
                    
                    <p>Kursni o'chirish, unga bog'langan, darslik va dars ishlanmalar, guruhlarning yo'qolishiga olib kelishi mumkin.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Orqaga</button>
                    <button type="submit" class="btn btn-primary btn-sm">Ha, o'chirish</button>
                </div>
            </form>
        </div>
    </div>


</div>

<div class="modal-basic modal fade show" id="modal-basic2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content modal-bg-white ">
            <form class="form-group" method="post" id="updateForm">
                <div class="modal-header">
                    <h6 class="modal-title">Kurs (<span id="courseTitle2"></span> kursi) ni yangilash</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span data-feather="x"></span></button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="courseName" class="il-gray fs-14 fw-500 align-center">Nomi</label>
                                    <input name="title" type="text"
                                        class="form-control ih-medium ip-light radius-xs b-light px-15" id="courseName"
                                        placeholder="Nomi">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="duration" class="il-gray fs-14 fw-500 align-center">Davomiyligi</label>
                                    <input name="duration" type="text"
                                        class="form-control ih-medium ip-light radius-xs b-light px-15" id="duration"
                                        placeholder="Oy">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="lesson_duration" class="il-gray fs-14 fw-500 align-center">Dars davomiyligi</label>
                                    <input name="lesson_duration" type="text"
                                        class="form-control ih-medium ip-light radius-xs b-light px-15" id="lesson_duration"
                                        placeholder="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="price" class="il-gray fs-14 fw-500 align-center">Narx</label>
                                    <input name="price" type="number"
                                        class="form-control ih-medium ip-light radius-xs b-light px-15" id="price"
                                        placeholder="Narx">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label for="comment"
                                    class="il-gray fs-14 fw-500 align-center">Izoh</label>
                                <textarea name="comment" class="form-control" id="comment"
                                    rows="3"></textarea>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="statusID" class="checkbox">
                                        <input name="status" type="checkbox" checked="false" value="0"
                                        class="checkbox" id="statusID">
                                        Aktiv holatda</label>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Orqaga</button>
                    <button type="submit" class="btn btn-primary btn-sm">Saqlash</button>
                </div>
            </form>
        </div>
    </div>


</div>

<div class="drawer-basic-wrap">
    <div class="atbd-drawer drawer-account d-none">
        <div class="atbd-drawer__header d-flex aling-items-center justify-content-between">
            <h3>Kurs qo'shish</h3>
            <h6 class="drawer-title"></h6>
            <a href="#" class="btdrawer-close"><i class="la la-times"></i></a>
        </div>
        
        <div class="atbd-drawer__body">

            <div class="drawer-content">

                <div class="drawer-account-form form-basic">

                    <form action="{% url 'admintion:courses' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="a1" class="il-gray fs-14 fw-500 align-center">Nomi</label>
                                    <input name="title" type="text"
                                        class="form-control ih-medium ip-light radius-xs b-light px-15" id="a1"
                                        placeholder="Nomi">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="a1" class="il-gray fs-14 fw-500 align-center">Davomiyligi</label>
                                    <input name="duration" type="text"
                                        class="form-control ih-medium ip-light radius-xs b-light px-15" id="a1"
                                        placeholder="Oy">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="a2" class="il-gray fs-14 fw-500 align-center">Dars davomiyligi</label>
                                    <input name="lesson_duration" type="text"
                                        class="form-control ih-medium ip-light radius-xs b-light px-15" id="a2"
                                        placeholder="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="a2" class="il-gray fs-14 fw-500 align-center">Narx</label>
                                    <input name="price" type="number"
                                        class="form-control ih-medium ip-light radius-xs b-light px-15" id="a2"
                                        placeholder="Narx">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label for="exampleFormControlTextarea1"
                                    class="il-gray fs-14 fw-500 align-center">Izoh</label>
                                <textarea name="comment" class="form-control" id="exampleFormControlTextarea1"
                                    rows="3"></textarea>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="courseID" class="checkbox">
                                        <input name="status" type="checkbox" checked="true" value="1" 
                                        class="checkbox" id="courseID">
                                        Aktiv holatda</label>
                                    
                                </div>
                            </div>
                            
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary btn-sm">Saqlash</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- ends: .atbd-drawer -->

<div class="overlay-dark"></div>
<div class="overlay-dark-l2"></div>



{% endblock %}


{% block script %}
<script>

var courseStatus = document.getElementById('courseID');
courseStatus.addEventListener('change', ()=>{
    if (courseStatus.checked===true){
        courseStatus.value = 1;
    } else {
        courseStatus.value = 0;
    }
})

function getCourseDetail(id){
    var url = `/admintion/courses/${id}/detail/`;
    fetch(url)
    .then(res=>{
        if (res.status==200){
            return res;
        }
    })
    .then(res=>res.json())
    .then(res=>{
        console.log(res);
        printCourseDetail(id, res);
    })
}


function printCourseDetail(id, data){
    var form = document.getElementById('updateForm');
    form.setAttribute('action', `/admintion/courses/${id}/update/`);
    document.getElementById('courseTitle2').innerHTML = data.title;
    document.getElementById('courseName').value = data.title;
    document.getElementById('duration').value = data.duration;
    document.getElementById('lesson_duration').value = data.lesson_duration;
    document.getElementById('price').value = data.price;
    document.getElementById('comment').value = data.comment;
    var status = document.getElementById('statusID');
    if(data.status === true){
        status.setAttribute('checked', true);
        status.setAttribute('value', "1");
    } else{
        status.setAttribute('checked', false);
        status.setAttribute('value', "0");
    }

    return ;
}

function setDelModal(id,title){
    var form = document.getElementById('delForm');
    form.setAttribute('action', `/admintion/courses/${id}/delete/`);

    var courseTitle = document.getElementById('courseTitle');
    courseTitle.innerHTML = title;
}

</script>
{% endblock %}