{% extends 'atomic/theme.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-between mt-2 align-items-center">
            <h4 class="text-capitalize breadcrumb-title">Formalarlar-3ta </h4>
            <div class="action-btn">
                <button class="btn btn-primary btn-default btn-squared drawer-trigger mb-10" data-drawer="account">
                    Formalar qo'shish
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-1">
            <div class="card px-20">
                <div class="card-body p-1">
                    <div
                        class="userDatatable adv-table-table global-shadow border-0 bg-white w-100 adv-table-employees-list">
                        <div class="table-responsive">
                            <div id="filter-form-container" style="display:inline;"></div>
                            <table class="table mb-0 table-borderless adv-table-employees-list" data-sorting="true"
                                data-filter-container="#filter-form-container" data-paging-current="1"
                                data-paging-position="left" data-paging-size="20">
                                <thead>
                                    <tr class="userDatatable-header">
                                        <th>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Id</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">FIO</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Manbasi</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Izoh</span>
                                        </th>
                                        <th>
                                            <span
                                                class="userDatatable-title orderDatatable_actions  d-flex ">Amallar</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for obj in objs %}
                                    <tr style=" border-radius: 40px; padding: 15px; ">
                                        <td
                                            style="margin:auto;display: flex;justify-content:center;align-content:center;height: 100%;">
                                            <input type="checkbox"
                                                style="margin:auto;display:flex;justify-content:center;align-content:center;">
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">{{forloop.counter}}</div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <div class="userDatatable-inline-title">
                                                    <a href=""
                                                        class="text-dark fw-500">
                                                        <h6>{{obj.fio}}</h6>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {% if obj.source == 1 %}
                                                Telegram
                                                {% elif obj.source == 2 %}
                                                Banner
                                                {% elif obj.source == 2 %}
                                                Seminar
                                                {% elif obj.source == 2 %}
                                                Tik-tok
                                                {% endif %}
                                            </div>
                                        </td>

                                        <td>
                                            <div class="userDatatable-content">
                                                {{obj.comment}}
                                            </div>
                                        </td>
                                        <td>
                                            <ul class="orderDatatable_actions mb-0 d-flex flex-wrap">
                                                <li>
                                                    <a href="#" class="edit">
                                                        <span data-feather="edit"></span></a>
                                                </li>
                                                <li>
                                                    <a href="#" class="edit">
                                                        <span data-feather="trash-2" data-toggle="modal"
                                                            data-target="#modal-basic"></span></a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-basic modal fade show" id="modal-basic" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content modal-bg-white ">
            <div class="modal-body">
                <h4>Siz haqiqattan ushbu xodimni o'chirmoqchimisiz?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm">Ha o'chirilsin</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Bekor qilish</button>
            </div>
        </div>
    </div>
</div>

<div class="drawer-basic-wrap">
    <div class="atbd-drawer drawer-account d-none">
        <div class="atbd-drawer__header d-flex aling-items-center justify-content-between">
            <h3>Forma qo'shish</h3>
            <h6 class="drawer-title"></h6>
            <a href="#" class="btdrawer-close"><i class="la la-times"></i></a>
        </div>
        <!-- ends: .atbd-drawer__header -->
        <div class="atbd-drawer__body">
            <div class="drawer-content">
                <div class="drawer-account-form form-basic">
                    <form class="was-validated" action="{% url 'admintion:forms' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <div class="form-group">
                                    <label for="validationServer01"
                                        class="il-gray fs-14 fw-500 align-center">FIO</label>
                                    <input name="fio" type="text"
                                        class="form-control is-invalid ih-medium ip-light radius-xs b-light"
                                        id="validationServer01" required>
                                </div>
                            </div>
                            <div class="col-md-12 col-12">
                                <div class="form-group">
                                    <label for="validationServer01"
                                        class="il-gray fs-14 fw-500 align-center">Telefon</label>
                                    <div class="w-100 d-flex ">
                                        <a for="validationServer01" style="margin:auto;margin-right: 15px;">+998</a>
                                        <input name="phone" type="text" style="display:inlinle;"
                                            class="form-control is-invalid ih-medium ip-light radius-xs b-light"
                                            id="validationServer01" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-12">
                                <label for="validationServer04" class="il-gray fs-14 fw-500 align-center">Manbasi</label>
                                <select
                                    name="source"
                                    class="custom-select is-valid form-control select-arrow-none ih-medium  radius-xs b-light shadow-none color-light  fs-14"
                                    id="validationServer04" aria-describedby="validationServer04Feedback" required>
                                    <option selected disabled value="">Tanlang</option>
                                    <option value="1">Telegram</option>
                                    <option value="2">Banner</option>
                                    <option value="3">Seminar</option>
                                    <option value="4">Tik-tok</option>
                                </select>
                            </div>
                            <div class="form-group form-element-textarea mb-20 col-md-12">
                                <label for="exampleFormControlTextarea1"
                                    class="il-gray fs-14 fw-500 align-center">Izoh</label>
                                <textarea name="comment" class="custom-select is-valid form-control select-arrow-none ih-medium  radius-xs b-light shadow-none color-light" id="exampleFormControlTextarea1"
                                    rows="3"></textarea>
                            </div>
                            <div class="col-md-12 col-12">
                                <div class="col-md-12 mt-2 pl-0 ">
                                    <button type="submit" class="btn btn-primary btn-sm">Saqlash</button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ends: .atbd-drawer__body -->
</div>
<!-- ends: .atbd-drawer -->
</div>
<div class="overlay-dark"></div>
<div class="overlay-dark-l2"></div>





{% endblock %}