{% extends 'atomic/theme.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-between mt-2 align-items-center">
            <h4 class="text-capitalize breadcrumb-title">Guruhlar-{{groups.count|default:0}}ta </h4>

                <div class="action-btn d-flex align-center justify-content-end">
                    <button class="btn btn-primary btn-default btn-squared mb-10 mr-2" onclick="checkSMS()" data-toggle="modal" data-target="#modal-basic2">SMS jo'natish</button>

                    <button class="btn btn-primary btn-default btn-squared drawer-trigger mb-10" data-drawer="account">
                        Guruh qo'shish
                    </button>
                </div>
            
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-1">
            <div class="card px-20 ">
                <div class="card-body p-1">
                    <div class="userDatatable adv-table-table global-shadow border-0 bg-white w-100 adv-table-group">
                        <div class="table-responsive">
                            <div id="filter-form-container"></div>
                            <table class="table mb-0 table-borderless adv-table-group" data-sorting="true"
                                data-filter-container="#filter-form-container" data-paging-current="1"
                                data-paging-position="left" data-paging-size="10">
                                <thead>
                                    <tr class="userDatatable-header">
                                        <th>
                                            <div class="d-flex">
                                                <div class="userDatatable__imgWrapper d-flex align-items-center">
                                                    <div class="checkbox-group-wrapper">
                                                        <div class="checkbox-group d-flex">
                                                            <div class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                                                <input class="checkbox" type="checkbox" id="check-grp-12">
                                                                {% comment %} <label for="check-grp-12"></label> {% endcomment %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- <a href="#" class="profile-image rounded-circle d-block m-0 wh-38" style="background-image:url('img/tm6.png'); background-size: cover;"></a> -->
                                                </div>
                                                
                                            </div>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">#</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Nomi</span>
                                        </th>
                                        <th data-type="html" data-name='position'>
                                            <span class="userDatatable-title">Kurs</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">O'qituvchi</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title ">Kunlari</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title ">Dars vaqtlari</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title ">O'quvchilar</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title ">Narx</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title ">Amallar</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for group in groups %}
                                    <tr>
                                        <td>
                                            <div class="d-flex">
                                                <div class="userDatatable__imgWrapper d-flex align-items-center">
                                                    <div class="checkbox-group-wrapper">
                                                        <div class="checkbox-group d-flex">
                                                            <div class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                                                <input class=" checkbox-theme-default custom-checkbox checkbox-group__single d-flex check-grp-{{group.id}} group-checkboxes" type="checkbox" id="check-grp-{{group.id}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- <a href="#" class="profile-image rounded-circle d-block m-0 wh-38" style="background-image:url('img/tm6.png'); background-size: cover;"></a> -->
                                                </div>
                                                
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">{{forloop.counter}}</div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <div class="userDatatable-inline-title">
                                                    <a href="{% url 'admintion:group-detail' id=group.id %}" class="text-dark fw-500">
                                                        <h6> {{group.title}}</h6>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {{group.course}}
                                            </div>
                                        </td>

                                        <td>
                                            <div class="userDatatable-content">
                                                <a href="{% url 'admintion:group-detail' id=group.id %}" style="color:black;">{{group.teacher}}</a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {{group.days|readable_days3}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {{group.times}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {{group.total_student}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {{group.course__price|readable_soums}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                ...
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content d-inline-block">
                                                <span
                                                    class="bg-opacity-success  color-success rounded-pill userDatatable-content-status active">active</span>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--   oqituvchi qoshish-->


<div class="modal-basic modal fade show" id="modal-basic2" tabindex="-1" role="dialog" aria-hidden="true">


    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content modal-bg-white ">
            <div class="modal-header">



                <h6 class="modal-title">Sms matni.</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span data-feather="x"></span></button>
            </div>
            <div class="modal-body">
                <form action="#">
                    <div class="form-row">
                        <div class="sms-status-message"></div>
                        <div class="form-group col-lg-12">
                            <label for="id_message">Xabar matni</label>
                            <textarea type="text" name="id_message" id="id_message" class="form-control form-control-sm border-light" placeholder="Xabar matni..."></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" id="sendSMS">Jo'natish</button>
                <button type="button" class="btn btn-secondary btn-sm" id="cancelSMS", data-dismiss="modal">Bekor qilish</button>
            </div>
        </div>
    </div>


</div>


<div class="drawer-basic-wrap">
    <div class="atbd-drawer drawer-account d-none" style="overflow-y: scroll !important;">
        <div class="atbd-drawer__header d-flex aling-items-center justify-content-between">
            <h3 class="drawer-title">Yangi guruh qo'shish</h3>
            <a href="#" class="btdrawer-close"><i class="la la-times"></i></a>
        </div>
        <div>
            <!-- ends: .atbd-drawer__header -->
            <div class="atbd-drawer__body">
                <div class="drawer-content">
                    <div class="drawer-account-form form-basic">
                        <form action="{% url 'admintion:groups' %}" method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="row ">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="a1" class="il-gray fs-14 fw-500 align-center">Nomi</label>
                                            <input name="title" type="text"
                                                class="form-control ih-medium ip-light radius-xs b-light px-15" id="a1"
                                                placeholder="Nomi">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="a1" class="il-gray fs-14 fw-500 align-center">Kurs</label>
                                            <select name="course" id="owner"
                                                class="form-control ih-medium ip-light radius-xs b-light px-15">
                                                {% for course in courses %}
                                                <option value="{{course.id}}">{{course.title}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="a2" class="il-gray fs-14 fw-500 align-center">Statusi</label>
                                            <select name="status" id="owner"
                                                class="form-control ih-medium ip-light radius-xs b-light px-15">
                                                <option value="1">tayyorlanmoqda</option>
                                                <option value="2">ishga tayyor</option>
                                                <option value="3">ishga tushgan</option>
                                                <option value="4">To'xtab turipdi</option>
                                                <option value="5">Tugatdi</option>
                                                <option value="6">Arxivchi</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="a2" class="il-gray fs-14 fw-500 align-center">O'qituvchi</label>
                                            <select name="teacher" id="owner"
                                                class="form-control ih-medium ip-light radius-xs b-light px-15">
                                                {% for teacher in teachers %}
                                                <option value="{{teacher.id}}">{{teacher.user.first_name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="a2" class="il-gray fs-14 fw-500 align-center">Yordamchi
                                                o'qituvchi</label>
                                            <select name="trainer" id="owner"
                                                class="form-control ih-medium ip-light radius-xs b-light px-15">
                                                {% for trainer in trainers %}
                                                <option value="{{trainer.id}}">{{trainer.user.first_name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="a2" class="il-gray fs-14 fw-500 align-center">Xona</label>
                                            <select name="room" id="owner"
                                                class="form-control ih-medium ip-light radius-xs b-light px-15">
                                                {% for room in rooms %}
                                                <option value="{{room.id}}">{{room.title}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card  card-md-4 mb-30">
                                            <div class="card-body p-0">
                                                <label for="a2" class="il-gray fs-14 fw-500 align-center">Kunlar</label>
                                                <div class="atbd-select ">
                                                    <select name="days" id="select-search"
                                                        class="form-control form-group" multiple="multiple">
                                                        <option value="1">Du</option>
                                                        <option value="2">Se</option>
                                                        <option value="3">Chor</option>
                                                        <option value="4">Pay</option>
                                                        <option value="5">Ju</option>
                                                        <option value="5">Sha</option>
                                                        <option value="5">Yak</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="a2" class="il-gray fs-14 fw-500 align-center">To'lov
                                                formati</label>
                                            <select name="pay_type" id="owner"
                                                class="form-control ih-medium ip-light radius-xs b-light px-15">
                                                <option value="1">Darsbay</option>
                                                <option value="2">Oylik</option>
                                                <option value="3">Yillik</option>
                                                <option value="4">Modulli</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="a2" class="il-gray fs-14 fw-500 align-center">Dars boshlanish
                                                vaqti</label>
                                            <input type="time" name="start_time"
                                                class="form-control ih-medium ip-light radius-xs b-light px-15" id="a2"
                                                placeholder="soni">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="a2" class="il-gray fs-14 fw-500 align-center">Tugash
                                                vaqti</label>
                                            <input type="time" name="end_time"
                                                class="form-control ih-medium ip-light radius-xs b-light px-15" id="a2"
                                                placeholder="soni">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="id_limit" class="il-gray fs-14 fw-500 align-center">O'quvchilarning soniga chegara o'rnatish
                                                </label>
                                            <input type="number" name="limit"
                                                class="form-control ih-medium ip-light radius-xs b-light px-15" id="id_limit"value="15"
                                                placeholder="soni">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="exampleFormControlTextarea1"
                                            class="il-gray fs-14 fw-500 align-center">Izoh</label>
                                        <textarea class="form-control form-row" id="exampleFormControlTextarea1"
                                            name="comments" rows="2"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary btn-sm  "
                                            style="margin-top:20px ;">Saqlash</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- ends: .atbd-drawer__body -->
    </div>
    <!-- ends: .atbd-drawer -->
</div>


<div class="overlay-dark"></div>
<div class="overlay-dark-l2"></div>







{% endblock %}


{% block script %}
<script>

function checkSMS(){
    
    var formData = new FormData();
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    var checkboxes = document.getElementsByClassName('group-checkboxes');
    for(var i=0;i<checkboxes.length;i++){
        if(checkboxes[i].checked == true){
            formData.append('groups', checkboxes[i].id.split("-")[2]);
        }
    }
    fetch("{% url 'admintion:check-sms-availability' %}", {
        method:'post',
        headers:{
            'Accept':'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: formData
    })
    .then(res=>res.json())
    .then(res=>{
        var div = document.getElementsByClassName('sms-status-message')[0];
        //div.classList.add('d-flex m-2 p-2')
        div.innerHTML = `<p class="mb-3">Sms yuboriladigan foydalanuvchilar soni: ${res.users}<br>
                         Sizda jami ${res.sms_limit} miqdorida tekin smslar mavjud. Bu limit tugagach,
                        sizdan sms integratsiya qilingan email va parol so'raladi.  </p>             
        `
    })
    .catch(err=>{
        console.log(err);
    })
}


var cancelBtn = document.getElementById('cancelSMS');
cancelBtn.addEventListener('click', ()=>{
    var input = document.getElementById('id_message');
    input.value = '';
})

var sendSMS = document.getElementById('sendSMS');
sendSMS.addEventListener('click', ()=>{
    var formData = new FormData();
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
    var input = document.getElementById('id_message');
    formData.append('message', input.value);
    var checkboxes = document.getElementsByClassName('group-checkboxes');
    for(var i=0;i<checkboxes.length;i++){
        if(checkboxes[i].checked == true){
            formData.append('groups', checkboxes[i].id.split("-")[2]);
        }
    }
    var url = "{% url 'admintion:send_sms_to_group' %}"
    fetch(url, {
        method:'post',
        headers:{
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: formData,
    })
    .then(res=>{
        var status = res.status
        return res;
    })
    .then(res=>res.json())
    .then(res=>{
        if(status==200){
            alert("Xabar Lidlarga yuborildi.");
        } else {
            alert(res);
        } 
    })
})
</script>
{% endblock %}