<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="./" width="150" height="150">
    <table>
    <ul>
        <tr><a href="">Home</a></tr>
    </ul>
    
   
        <ul>
            <tr><a href="">About</a></tr>
        </ul>
        
        
            <ul>
                <tr><a href="">News</a></tr>
            </ul>
            
                <ul>
                    <tr><a href="">Contact</a></tr>
                </ul>
                </table>
                <h2>About me</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, dolores 
                    rerum sed, eius repellendus nulla, nobis quae aspernatur doloremque impedit 
                    eum autem molestiae aut laudantium repellat ut beatae voluptate repudiandae?
                </p>
                <h2>Kurslar</h2>
                <ul>
                    <li>backend</li>
                </ul>
                <ul>
                    <li>front end</li>
                </ul>
                <ul>
                    <li>scratch</li>
                </ul>
                <table>
                    <label for="">Login</label>
                    <input type="text">
                    
                </table>
                <table>
                    <label for="">pasword</label>
                    <input type="text">
                    
                </table>
                <button>OK</button>
    
</body>
</html>