{% extends 'atomic/theme.html' %}
{% load static %}
{% load custom_tags %}
{% block style %}
<style>
    .cardPay {
        position: relative;
    }

    .cardPay:hover {
        border: 1px solid #5f63f2;

    }

    .cardPay:hover::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        border-radius: 5px;
        height: 100%;
        width: 100%;
        background-color: #5f63f288;
    }

    .feature-card--1 figcaption h5 {
        margin: 0 0 0.5rem 0 !important;
    }

    .feature-cards:hover {
        cursor: pointer;
        box-shadow: 0 0 5px #5f63f2;
    }

    .atbd-tab .tab-content p {
        font-size: 12px !important;
    }

    .v-num {
        font-size: 14px;
    }

    .application-faqs .panel-title a {
        font-size: 12px !important;
    }

    .forms-view {
        display: flex;
        flex-wrap: wrap;
    }

    .forms-view>.form-group {
        display: flex;
        align-items: center;
    }

    .table-responsive tr td>div {
        text-transform: none;
    }

    .atbd-select .select2-selection,
    .select2-container--default .select2-selection--single {
        height: 1.875rem;
        padding: 0;
        font-size: 12px;
        line-height: 1.5;
        -webkit-border-radius: 0.2rem;
        border-radius: 0.2rem;
        margin-right: 7px;
    }
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="breadcrumb-main d-flex justify-content-between mt-4 align-items-center">
                <h4 class=" breadcrumb-title" >O'quvchilar-{{ students_count|default:"0"}}ta </h4>
                <div class="breadcrumb-action justify-content-center flex-wrap">
                    <div class="has-subMenu-left  d-flex ">
                        <ul class="subMenu mr-2">
                            <button class="btn btn-sm btn-default btn-primary dropdown-toggle drawer-trigger"
                                type="button" id="dropdownMenu2" data-drawer="profile"
                                aria-haspopup="true" aria-expanded="false" onclick="checkedStudents()">
                                <span data-feather="mail"></span> SMS Jo'natish</button>
                        </ul>
                        <ul class="subMenu mr-2">
                            <button class="btn btn-sm btn-default btn-primary dropdown-toggle"
                                type="button" id="dropdownMenu2" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="la la-download"></i> Export </button>
                        </ul>

                        <ul class="subMenu mr-2"> <button
                                class="btn btn-sm btn-default btn-primary dropdown-toggle"
                                type="button" id="dropdownMenu2" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="la la-upload"></i> Import </button>
                        </ul>

                        <ul class="subMenu mr-2"> <button
                                class="btn btn-sm btn-default btn-primary dropdown-toggle"
                                type="button" id="dropdownMenu2" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="la la-archive"></i> Arxiv </button>
                        </ul>
                    </div>
                    <button class="btn btn-primary btn-sm btn-squared drawer-trigger mb-10" data-drawer="account">
                        <i class="la la-plus"></i>O'quvchi qo'shish
                    </button>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-1">
            <div class="card p-3">
                <div class="card-body p-1">
                    <div class="userDatatable adv-table-table global-shadow border-0 bg-white w-100">
                            <form class="filter-form mb-4">
                                <div class="row">
                                    <div class="col-2">
                                        <input class="form-control mr-sm-2 box-shadow-none" type="text" placeholder="Search...">
                                    </div>
                                    <div class="col-2">
                                        <div class="atbd-select">
                                            <select name="select-courses" id="select-courses" class="form-control" onchange="dropdownChanged(event,'group__course__id')">
                                                <option value="0" selected>Kurslar</option>
                                                {% for data in datas_of_course %}
                                                <option value="{{data.id}}">{{data.title}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="atbd-select ">
                                            <select name="select-groups" id="select-groups" class="form-control" onchange="dropdownChanged(event,'group__id')">
                                                <option value="0" selected>Guruhlar</option>
                                                {% for data in datas_of_group %}
                                                <option value="{{data.id}}">{{data.title}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="atbd-select ">
                                            <select name="select-teacher" id="select-teacher" class="form-control" onchange="dropdownChanged(event,'group__teacher__id')">
                                                <option value="0" selected>O'qituvchi</option>
                                                {% for data in datas_of_teacher %}
                                                <option value="{{data.id}}">{{data.full_name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="atbd-select ">
                                            <select name="select-status" id="select-status" class="form-control" onchange="dropdownChanged(event,'student__status')">
                                                <option value="0" selected>Talaba Holati</option>
                                                {% for data in datas_of_status %}
                                                <option value="{{data.id}}">{{data.title}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="atbd-select ">
                                            <select name="select-status" id="select-status" class="form-control">
                                                <option value="" selected disabled>Moliyaviy Holati</option>
                                                <option value="01">Option 1</option>
                                                <option value="02">Option 2</option>
                                                <option value="05">Option 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                               </div>
                            </form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="version-list d-flex justify-content-between">
                                        <div class="version-list__single d-flex mr-5">
                                            <div style=" display: flex;align-items: center;margin-left: 10px;margin-right: 10px;">
                                                <span class="badge-dot dot-success p-2" style="margin-right: 5px;"></span>
                                                <span>Aktivlar-{{active_students|default:"0" }}ta</span>
                                            </div>
                                            <div style=" display: flex;align-items: center;margin-left: 10px;margin-right: 10px;">
                                                <span class="badge-dot dot-danger p-2" style="margin-right: 5px;" ></span>
                                                <span>Ketganlar-{{removed_students|default:"0" }}ta</span>
                                            </div>
                                            <div style=" display: flex;align-items: center;margin-left: 10px;margin-right: 10px;" >
                                                <span class="badge-dot dot-info p-2" style="margin-right: 5px;"></span>
                                                <span>Muzlatilgan-{{nonactive_students|default:"0" }}ta</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table mb-0 table-borderless adv-table-studentss" data-sorting="true"
                                data-filter-container="#filter-form-container" data-paging-current="1"
                                data-paging-position="left" data-paging-size="10">
                                <thead>
                                    <tr class="userDatatable-header">
                                        
                                        <th>
                                            <div class="d-flex align-items-center">
                                                <div class="custom-checkbox  check-all">
                                                    <input class="checkbox" type="checkbox" id="check-3">
                                                    <label for="check-3">
                                                        <span class="checkbox-text userDatatable-title">Id</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">FIO</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Telefon</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Guruhlar</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Davomat</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Balans</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Holati</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Amallar</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in students %}
                                    <tr id="student-{{student.id}}">
                                        <td>
                                            <div class="d-flex">
                                                <div class="userDatatable__imgWrapper d-flex align-items-center">
                                                    <div class="checkbox-group-wrapper">
                                                        <div class="checkbox-group d-flex">
                                                            <div class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                                                <input class="checkbox studentCheckbox" type="checkbox" id="check-grp-{{student.id}}">
                                                                <label for="check-grp-{{student.id}}">
                                                                    <span class="checkbox-text userDatatable-title">#{{ forloop.counter }}</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <div class="userDatatable-inline-title">
                                                    <a href="{% url 'admintion:student-detail' student.id %}" class="text-dark fw-500">
                                                        <h6>{{ student.full_name }}</h6>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {{ student.phone_number }}
                                            </div>
                                        </td>

                                        <td>
                                            <div class="userDatatable-content">
                                                {{ student.group_count|default:"0" }}
                                            </div>
                                        </td>


                                        <td>
                                            <div class="userDatatable-content">
                                                {{ student.id|attendance_result}}%
                                            </div>
                                        </td>

                                        <td>
                                            <div class="userDatatable-content">
                                                {{ student.payment|readable_soums }}
                                            </div>
                                        </td>

                                        <td>
                                            <div class="userDatatable-content d-inline-block">
                                                    <span
                                                    class="bg-opacity-{{ student.status|get_status }}  color-{{ student.status|get_status }} rounded-pill userDatatable-content-status active">
                                                    {{ student.status|get_status_name }}
                                                    </span>    
                                            </div>
                                        </td>
                                        
                                        <td>
                                            <ul class="orderDatatable_actions mb-0 d-flex flex-wrap" style="justify-content: flex-start;">
                                                <li>
                                                    <a href="{% url 'admintion:student-detail' student.id %}" class="view">
                                                        <span data-feather="eye"></span></a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'admintion:student-detail' student.id %}" class="edit">
                                                        <span data-feather="edit"></span></a>
                                                </li>
                                                <li>
                                                    <a href="#" onclick="handleStudentDelete({{student.id}})" class="remove">
                                                        <span data-feather="trash-2"></span></a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>
                            <div class="d-flex align-items-center justify-content-between m-4">
                                <nav class="atbd-page ml-auto">
                                    <ul class="atbd-pagination d-flex">
                                        <li class="atbd-pagination__item">
                                            <a href="#" class="atbd-pagination__link pagination-control"><span class="la la-angle-left"></span></a>
                                            <a href="#" class="atbd-pagination__link"><span class="page-number">1</span></a>
                                            <a href="#" class="atbd-pagination__link active"><span class="page-number">2</span></a>
                                            <a href="#" class="atbd-pagination__link"><span class="page-number">3</span></a>
                                            <a href="#" class="atbd-pagination__link pagination-control"><span class="page-number">...</span></a>
                                            <a href="#" class="atbd-pagination__link"><span class="page-number">12</span></a>
                                            <a href="#" class="atbd-pagination__link pagination-control"><span class="la la-angle-right"></span></a>
                                            <a href="#" class="atbd-pagination__option">
                                            </a>
                                        </li>
                                        <li class="atbd-pagination__item">
                                            <div class="paging-option">
                                                <select name="page-number" class="page-selection">
                                                    <option value="20">20/page</option>
                                                    <option value="40">40/page</option>
                                                    <option value="60">60/page</option>
                                                </select>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<div class="drawer-basic-wrap">
    <div class="atbd-drawer drawer-account d-none" style="overflow: scroll;">
        <div class="atbd-drawer__header d-flex aling-items-center justify-content-between">
            <h6 class="drawer-title">Yangi o'quvchi qo'shish</h6>
            <a href="#" class="btdrawer-close"><i class="la la-times"></i></a>
        </div><!-- ends: .atbd-drawer__header -->
        <div class="atbd-drawer__body">
            <div class="drawer-content">
                <div class="drawer-account-form form-basic">
                    <form action="{% url 'admintion:students' %}" method="post" class="student-add-form was-validate" autocomplete="off">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-row mx-n15">
                                <div class="col-md-6 mb-3 px-15">
                                    <label for="validationServer01" class="il-gray fs-14 fw-500 align-center">FIO</label>
                                    <input name="fio" type="text" class="form-control ih-medium ip-light radius-xs b-light form-name" id="validationServer01" placeholder="Mark" required>
                                    <div class="valid-feedback">
                                        Yaxshi!
                                    </div>
                                    <div class="invalid-feedback">
                                        Ismni kiriting!
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3 px-15">
                                    <label for="validationServer02" class="il-gray fs-14 fw-500 align-center">Telefon raqam</label>
                                    <input name="phone" type="text" class="form-control ih-medium ip-light radius-xs b-light form-phone" value="+998" maxlength="13" id="validationServer02" required>
                                    <div class="valid-feedback">
                                        Yaxshi!
                                    </div>
                                    <div class="invalid-feedback">
                                        Telefon raqamingizni kiriting!
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3 px-15">
                                    <label for="datepicker"
                                            class="il-gray fs-14 fw-500 align-center">Tug'ilgan
                                            sanasi</label>
                                    <div class="atbd-date-picker">
                                        <div class="form-group mb-0 form-group-calender">
                                            <div class="position-relative">
                                                <input name="birthday" type="text"
                                                autocomplete="off"
                                                class="form-control radius-xs b-deep form-birthdate"
                                                id="datepicker" placeholder="2021-10-01" autocomplete="off">
                                            <a href="#"><span data-feather="calendar"></span></a>
                                                <div class="valid-feedback">
                                                    Yaxshi!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Tug'ilgan kuningizni kiriting!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3 px-15">
                                    <label for="validationServer04" class="il-gray fs-14 fw-500 align-center">Jinsi</label>
                                    <select name="gender" class="custom-select form-control select-arrow-none ih-medium  radius-xs b-light shadow-none color-light form-gender  fs-14" id="validationServer04" aria-describedby="validationServer04Feedback" required>
                                        <option selected disabled value="">Jinsi</option>
                                        <option value="1">Erkak</option>
                                        <option value="2">Ayol</option>
                                    </select>
                                    <div class="valid-feedback">
                                        Yaxshi!
                                    </div>
                                    <div id="validationServer04Feedback" class="invalid-feedback">
                                        Iltimos jinsni tanlang
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleFormControlSelect3"
                                    class="il-gray fs-14 fw-500 align-center">Manbasi</label>
                                <select name="source" class="form-control px-15" id="exampleFormControlSelect3" required>
                                    {% for source in sources %}
                                    <option value="{{ source.id }}">{{ source.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="a10" class="il-gray fs-14 fw-500 align-center">Parol</label>
                                <input name="password" type="password"
                                    class="form-control ih-medium ip-light radius-xs b-light px-15" id="a10"
                                    placeholder="parol" required>
                            </div>
                            <div class="form-group form-element-textarea mb-20 col-md-12">
                                <label for="exampleFormControlTextarea1"
                                    class="il-gray fs-14 fw-500 align-center">Izoh</label>
                                <textarea name="comment" class="form-control" id="exampleFormControlTextarea1"
                                    rows="3"></textarea>
                            </div>

                            <div class="col-12 view-form form-row">

                            </div>
                            <div class="col-12">
                                <div class="buttons d-flex flex-wrap  w-100">
                                    <button type="button" class="btn btn-icon btn-circle btn-outline-primary  mr-3 btn-parents"
                                        >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-users">
                                            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
                                            <circle cx="9" cy="7" r="4" />
                                            <path d="M23 21v-2a4 4 0 0 0-3-3.87" />
                                            <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                                        </svg>
                                    </button>
                                    <button type="button" class="btn btn-icon btn-circle btn-outline-primary  mr-3 btn-telegram">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-send">
                                            <line x1="22" y1="2" x2="11" y2="13" />
                                            <polygon points="22 2 15 22 11 13 2 9 22 2" />
                                        </svg>
                                    </button>
                                    <button type="button" class="btn btn-icon btn-circle btn-outline-primary  mr-3 btn-location">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-map-pin">
                                            <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z" />
                                            <circle cx="12" cy="10" r="3" />
                                        </svg>
                                    </button>
                                    <button type="button" class="btn btn-icon btn-circle btn-outline-primary  mr-3 btn-email">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail">
                                            <path
                                                d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z" />
                                            <polyline points="22,6 12,13 2,6" />
                                        </svg>
                                    </button>
                                    <button type="button" class="btn btn-icon btn-circle btn-outline-primary  mr-3 btn-pasport">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-file-text">
                                            <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z" />
                                            <polyline points="14 2 14 8 20 8" />
                                            <line x1="16" y1="13" x2="8" y2="13" />
                                            <line x1="16" y1="17" x2="8" y2="17" />
                                            <polyline points="10 9 9 9 8 9" />
                                        </svg>
                                    </button>
                                    <button type="button" class="btn btn-icon btn-circle btn-outline-primary  mr-3 btn-file">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-upload-cloud">
                                            <polyline points="16 16 12 12 8 16" />
                                            <line x1="12" y1="12" x2="12" y2="21" />
                                            <path d="M20.39 18.39A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.3" />
                                            <polyline points="16 16 12 12 8 16" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <a href="#" class="text-right d-block col-12" onclick="handleAddGroup()">+Guruhga
                                qo'shish: </a>
                                <div class="group_add"></div>
                            <a href="#" class="text-right d-block col-12" onclick="handleAddTask()">+Topshiriq
                                qo’shish: </a>
                                <div class="task_add"></div>
                        </div>
                        <button type="submit" class="btn btn-primary">Saqlash</button>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- ends: .atbd-drawer__body -->
    <div class="atbd-drawer drawer-profile d-none">
        <div class="atbd-drawer__header d-flex aling-items-center justify-content-between">
            <h6 class="drawer-title">SMS yuborish</h6>
            <a href="#" class="btdrawer-close"><i class="la la-times"></i></a>
        </div><!-- ends: .atbd-drawer__header -->
        <div class="atbd-drawer__body">
            <div class="drawer-content">
                <div class="drawer-account-form form-basic">
                    <form action="#">
                        <div class="form-row">
                         
                            <div class="form-group col-12">
                                <label for="description">Xabar matni</label>
                                <textarea name="description" id="description" class="form-control form-control-sm" placeholder="Xabar matnini kiriting..."></textarea>
                            </div>
                            
                            <div class="form-group col-12">
                                <small id="small_code"></small>
                            </div>
                            <div class="form-group col-12">
                                <a href="./sms_yoriqnoma.html">SMSda simvollarni ishlatish bo'yicha yo'riqnoma</a>
                            </div>
                            <div class="form-group col-12">
                                <div class="btn btn-primary">Yuborish</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- ends: .atbd-drawer__body -->
    </div>
</div><!-- ends: .atbd-drawer -->


<div class="overlay-dark"></div>
<div class="overlay-dark-l2"></div>
</div>
<!-- ends: .atbd-drawer -->
</div>

<div class="overlay-dark"></div>
<div class="overlay-dark-l2"></div>

{% endblock %}

{% block script %}
<script>
    var form = document.querySelector('.view-form');
    var formName = document.querySelector(".form-name");
    var formPhone = document.querySelector(".form-phone");
    var formDate = document.querySelector(".form-birthdate");
    var formGender = document.querySelector(".form-gender");
    function validation(element,action){
        element.addEventListener(action,(evt)=>{
        if(evt.target.value){
            evt.target.className = "is-valid form-control ih-medium ip-light radius-xs b-light form-name";
        } else{
            evt.target.className = "is-invalid form-control ih-medium ip-light radius-xs b-light form-name";
        }
    })
    }
    validation(formName,"input")
    validation(formDate,"input")
    validation(formGender,"change")
    
    formPhone.addEventListener("input",(evt)=>{
        console.log("xxxx")
        if(evt.target.value.length<=4){
            evt.target.value = "+998"
        } 
        if(evt.target.value.length<=9){
            var value = "+" + evt.target.value.match(/\d/g).join("")
            evt.target.value = value
        }
        if(evt.target.value.length==12){
            validation(formPhone,"input")
        }
        
    })

    function handleAddItem(_id, names, labelName, typs, plcs) {
        var doc_id = document.querySelector('#' + _id)
        if (!doc_id) {
            var wrap = document.createElement('div');
            wrap.classList.add(...['form-group', 'row', 'w-100', 'mx-0']);
            wrap.id = _id;
            var label = document.createElement('label');
            label.for = "a" + names[0];
            label.classList.add(...['il-gray', 'fs-14', 'fw-500', 'align-center', 'col-md-12']);
            label.textContent = labelName;
            wrap.appendChild(label);
            typs.map((item, index) => {
                var input = document.createElement('input');
                input.type = item;
                input.classList.add(...['col-md-' + Math.floor(10 / typs.length), 'form-control', 'ih-medium', 'ip-light', 'radius-xs', 'b-light', 'px-15', 'mx-2']);
                input.id = "a" + names[index];
                input.name = `${_id.split("-")[0]}_${names[index]}`;
                input.placeholder = plcs[index];
                wrap.appendChild(input);
                input = null;
            })
            var img = document.createElement('p');
            img.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>`
            // var img = document.createElement('img');
            // img.src = "{% static 'img/svg/ixis.svg' %}";
            img.className = "ml-auto";
            img.addEventListener('click', function () {
                document.querySelector('#' + _id).remove()
            })
            wrap.appendChild(img);
            form.appendChild(wrap);
            label = null;
        }
        else {
            doc_id.remove()
        }
    }
    
    var  parentsBtn = document.querySelector(".btn-parents")
    var  telegramBtn = document.querySelector(".btn-telegram")
    var  locationBtn = document.querySelector(".btn-location")
    var  emailBtn = document.querySelector(".btn-email")
    var  pasportBtn = document.querySelector(".btn-pasport")
    var  fileBtn = document.querySelector(".btn-file")

    function setActiveBtn(btn, ...props){
        var isActive = false;
        btn.addEventListener("click",(evt)=>{
        if(isActive){
            evt.target.className = "btn btn-icon btn-circle btn-outline-primary mr-3"
            isActive = false;
        } else{
            evt.target.className = "btn btn-icon btn-circle btn-primary mr-3"
            isActive=true;
        }
        handleAddItem(...props)
    })
    }
    
    setActiveBtn(parentsBtn, 'parent-23',['name','phone'],'Ota-ona',['text','text'],['Ota-ona...','(99) 134-56-87'])
    setActiveBtn(telegramBtn, 'telegram-23',['telegram'],'Telegram',['text'],['(99) 134-56-87'])
    setActiveBtn(locationBtn, 'location-23',['location'],'Manzil',['text'],['Manzil...'])
    setActiveBtn(emailBtn, 'email-23',['location'],'Email',['email'],['Email...'])
    setActiveBtn(pasportBtn, 'password-23',['password'],'Passport',['text'],['AA0000000'])
    setActiveBtn(fileBtn, 'file-23',['file'],'Fayl Yuklash',['file'],['AA0000000'])

    

    var cancelBtn = document.getElementById('cancelSMS');
    cancelBtn.addEventListener('click', ()=>{
        var input = document.getElementById('id_message');
        input.value = '';
    })

    var sendSMS = document.getElementById('sendSMS');
    sendSMS.addEventListener('click', ()=>{
        var formData = new FormData();
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
        var input = document.getElementById('id_message');
        formData.append('message', input.value);
        var checkboxes = document.getElementsByClassName('studentCheckbox');
        for(var i=0;i<checkboxes.length;i++){
            if(checkboxes[i].checked == true){
                formData.append('students', checkboxes[i].id.split('-')[2]);
            }
        }
        var url = `{% url 'admintion:send_sms_to_student' %}`
        fetch(url, {
            method:'post',
            headers:{
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: formData,
        })
        .then(res=>{
            
            if(res.status==200){
                alert("Xabar O'quvchilarga yuborildi.");
                var input = document.getElementById('id_message');
                input.value = '';
            } else {
                alert("Ma'lumotlar to'liq kiritilmadi");;
            } 
        })
    })

    function checkedStudents(){
        var checkboxes = document.getElementsByClassName('studentCheckbox');
        var leads = []
        for(var i=0;i<checkboxes.length;i++){
            if(checkboxes[i].checked == true) {
                leads.push(checkboxes[i].id.split('-')[2]);
            }
        }
        var formData = new FormData();
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        for(var i=0;i< leads.length;i++){
            formData.append('students', leads[i]);
        }
        // var url = "{% url 'admintion:check-sms-availability' %}";
        fetch("{% url 'admintion:check-sms-availability' %}", {
            method:'post',
            headers:{
                'Accept':'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: formData
        })
        .then(res=>res.json())
        .then(res=>{
            var div = document.getElementsByClassName('sms-status-message')[0];
            //div.classList.add('d-flex m-2 p-2')
            div.innerHTML = `<p class="mb-3">Sms yuboriladigan foydalanuvchilar soni: ${res.users}<br>
                             Sizda jami ${res.sms_limit} ta miqdorida bonus sifatidagi smslar mavjud. Bu limit tugagach,
                            sizdan sms integratsiya qilingan email va parol so'raladi.  </p>             
            `
        })
        .catch(err=>{
            console.log(err);
        })
    }

    function handleStudentDelete(id){
        var tr = document.querySelector(`#student-${id}`);
        fetch(`/admintion/student/${id}/delete/`, {
            method:'post',
            headers:{
                'Accept':'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(res=>res.json())
        .then(res=>{
           if(res.status==302){
            tr.remove();
           }
        })
        .catch(err=>{
            
        })
    }
    
    function handleAddGroup(){
        var group_add = document.querySelector('.group_add');
        group_add.className='row w-100 group_add d-flex';
        if(group_add.innerHTML){
            group_add.innerHTML="";
            return;
        }
        
        // fetch("{% url 'admintion:group-list' %}", {
        //     method:'post',
        //     headers:{
        //         'Accept':'application/json',
        //         'X-CSRFToken': '{{ csrf_token }}'
        //     }
        // })
        // .then(res=>res.json())
        // .then(res=>{
        //    console.log(res)
        //    var select = document.createElement('select');
        //    var label = document.createElement('label')
        //    select.name='group';
        //    res.data.map((item)=>{
        //         var option = document.createElement('option');
        //         option.value = item.id;
        //         option.textContent = item.title;
        //         select.appendChild(option);
        //    })
        //    label.className='il-gray fs-14 fw-500 align-center';
        //    select.className='form-control px-15';
        //    wrap.appendChild(label);
        //    wrap.appendChild(select)
        //    group_add.appendChild(wrap)
        // })
        // .catch(err=>{
        //     console.log(err)
        // })
        
        ["Guruh","Vaqti"].map((item)=>{
            if(item === "Vaqti"){
                var wrap = document.createElement('div');
                wrap.className='form-group col-md-6';
                var calendar = `
                <label for="datepicker2"
                                            class="il-gray fs-14 fw-500 align-center">Vaqti</label>
                                    <div class="atbd-date-picker">
                                        <div class="form-group2 mb-0 form-group2-calender">
                                            <div class="position-relative">
                                                <input name="attend" type="date"
                                                autocomplete="off"
                                                class="form-control radius-xs b-deep form-birthdate"
                                                id="datepicker2" placeholder="2021-10-01" autocomplete="off">
                                            <a href="#"><span data-feather="calendar"></span></a>
                                                <div class="valid-feedback">
                                                    Yaxshi!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Tug'ilgan kuningizni kiriting!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                `

                wrap.innerHTML = calendar;
                group_add.appendChild(wrap)
            } else{
            var wrap = document.createElement('div');
            wrap.className='form-group col-md-6';
            var select = document.createElement('select');
            var label = document.createElement('label');
            select.name='group';

           {{datas_of_group|safe}}.map((item)=>{
                var option = document.createElement('option');
                option.value = item.id;
                option.textContent = item.title;
                select.appendChild(option);
           })
           label.textContent=item;
           label.className='il-gray fs-14 fw-500 align-center';
           select.className='form-control px-15';
           wrap.appendChild(label);
           wrap.appendChild(select)
           group_add.appendChild(wrap)
            }
            
        })
           
    }

    function handleAddTask(){
        var task_add = document.querySelector('.task_add');
        task_add.className='row w-100 task_add d-flex';
        if(task_add.innerHTML){
            task_add.innerHTML="";
            return;
        }

        ["Ma'sul","Topshiriq mavzusi","Vaqti","Topshiriq matni"].map((item)=>{
            if(item === "Vaqti"){
                var wrap = document.createElement('div');
                wrap.className='form-group col-md-12';
                var calendar = `
                    <div class="atbd-date-picker">
                        <div class="form-group mb-0 form-group-calender">
                            <div class="position-relative">
                                <label for="datepickre2">${item}</label>
                                <input type="date" class="form-control form-control-default" id="datepicker2" placeholder="January 20, 2018" name="task_date">
                                <a href="#"><span data-feather="calendar"></span></a>
                            </div>
                        </div>
                    </div>
                `
                wrap.innerHTML = calendar;
                task_add.appendChild(wrap)
            } else if(item === "Topshiriq matni") {
                console.log(item)
                var wrap = document.createElement('div');
                wrap.className='form-group col-md-12';
                var textarea = `
                        <label for="task-comment"
                            class="il-gray fs-14 fw-500 align-center">${item}</label>
                        <textarea name="task_comment" class="form-control" id="task-comment"
                            rows="3"></textarea>
                `;
                wrap.innerHTML= textarea;
                task_add.appendChild(wrap)
            }
            else{
            var wrap = document.createElement('div');
            wrap.className='form-group col-md-6';
            var select = document.createElement('select');
            var label = document.createElement('label');
            select.name=item;
            var vals_options=[];
            if(item == "Ma'sul"){
                select.name="task_who"
                vals_options = {{task_responsibles|safe}};
            }
            else {
                select.name="task_type"
                vals_options = {{task_types|safe}};
            }

            vals_options.map((item)=>{
                var option = document.createElement('option');
                option.value = item.id;
                option.textContent = item.title;
                select.appendChild(option);
           })
           label.textContent=item;
           label.className='il-gray fs-14 fw-500 align-center';
           select.className='form-control px-15';
           wrap.appendChild(label);
           wrap.appendChild(select)
           task_add.appendChild(wrap)
            }
            
        })
           
    }


</script>
<script type="text/javascript">
    var url_path = '/admintion/courses/filter?';
    var detailUrl="/admintion/courses/<int:id>/detail/"
    var params = {
        duration_type:'',
        status:''
    }
    function generate_path(){
        parms = new URLSearchParams(params);
        return url_path+parms
    }
    //students list 
    function request_form(url,headers,func){
        return fetch(url, headers)
        .then(res=>res.json())
        .then(res=>{
            if(res.status==200){
                func(res.data)
            } else {
                getAlert("Ma'lumotlar to'liq kiritilmadi",'info')
            } 
        }).catch(err=>{  
        })
    }
    function get_request(url,func){
        return (
            request_form(url,{
            method:'get',
            headers:{
                'X-CSRFToken': '{{ csrf_token }}'
            },
        },func)
        )
    }

    function createCheckbox(dflex,student_id,idx){
        var wrapimg = document.createElement('div');
        wrapimg.className='userDatatable__imgWrapper d-flex align-items-center';
        var checkboxWrap = document.createElement('div');                                 
        checkboxWrap.className='checkbox-group-wrapper';
        var checkboxGroup = document.createElement('div');
        checkboxGroup.className='checkbox-group d-flex';
        var checkboxTheme = document.createElement('div');
        checkboxTheme.className='checkbox-theme-default custom-checkbox checkbox-group__single d-flex';
        var checkInput = document.createElement('input');
        checkInput.className='checkbox studentCheckbox';
        checkInput.type='checkbox';
        checkInput.id=`check-grp-${student_id}`;
        var label = document.createElement('label');
        label.for = `check-grp-${student_id}`
        var span = document.createElement('span');
        span.className='checkbox-text userDatatable-title';
        span.textContent=`#${++idx}`;
        label.appendChild(span);
        checkboxTheme.appendChild(checkInput)
        checkboxTheme.appendChild(label)
        checkboxGroup.appendChild(checkboxTheme)
        checkboxWrap.appendChild(checkboxGroup);
        wrapimg.appendChild(checkboxWrap);
        return wrapimg;
    }

    function createAction(detailU,_id,title){
        var ul = document.createElement('ul');
        ul.className="orderDatatable_actions mb-0 d-flex flex-wrap";
        var li = document.createElement('li');
        var a = document.createElement('a');
        a.className='view';
        a.href=detailU
        a.innerHTML=`<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>`
        li.appendChild(a);
        ul.appendChild(li);
        var a = document.createElement('a');
        var li = document.createElement('li');
        a.className='edit';
        a.innerHTML=`<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>`
        li.appendChild(a);
        ul.appendChild(li);
        var a = document.createElement('a');
        var li = document.createElement('li');
        a.className='remove';
        a.innerHTML=`<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>`
        a.addEventListener('click',()=>setDelModal(_id,title))
        li.appendChild(a);
        ul.appendChild(li);
        return ul;
    }

    function dataList(datas){
        var tbody = document.querySelector('tbody');

        while(tbody.firstChild) {
            tbody.removeChild(tbody.firstChild);
            }
        datas.forEach((element,idx) => {
            var tr = document.createElement('tr');
            tr.id = `student-${element.student_ids}`
            var columns = {{keys|safe}};
            
            for(var i=0;i<columns.length;i++){
                if(columns[i]=='check'){
                    var td = document.createElement('td');
                    var dflex = document.createElement('dev');
                    dflex.className='d-flex';
                    dflex.appendChild(createCheckbox(dflex,element.id,idx));
                    td.appendChild(dflex);
                    tr.appendChild(td);
                }
                else if(columns[i] == 'action'){
                    var td = document.createElement('td');
                    td.appendChild(createAction(detailUrl.replace("<int:id>",element.id),element.id,element.title));
                    tr.appendChild(td);  
                }
                else if(columns[i] == 'status'){
                    var td = document.createElement('td');
                    if(element.status){
                        td.innerHTML = `
                        <div class="userDatatable-content d-inline-block">
                            <span
                                class="bg-opacity-success color-success rounded-pill userDatatable-content-status active">Aktiv</span>
                        </div>
                        `
                    }
                    else{
                        td.innerHTML = `
                        <div class="userDatatable-content d-inline-block">
                            <span
                                class="bg-opacity-warning color-warning rounded-pill userDatatable-content-status active">No Faol</span>
                        </div>
                        `
                    }
                    tr.appendChild(td); 
                }
                else {
                    
                    var td = document.createElement('td');
                    var dcontent = document.createElement('dev');
                    // td.style.display='block'
                    dcontent.className='userDatatable-content'
                    td.textContent=element[columns[i]];
                    // td.appendChild(dcontent);
                    tr.appendChild(td);
                }
            }
            tbody.appendChild(tr);
            var dvTd = document.createElement('div');
            dvTd.className='userDatatable-content';
        });
    }
    function dropdownChanged (e,name){
        var selected = e.target.value;
        if (selected != 0){
            params[name]=e.target.value
        } else {
            params[name]=''
        }
        get_request(generate_path(),dataList)

}
</script>
{% endblock %}
