{% extends 'atomic/theme.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-between mt-2 align-items-center">
            <h4 class="text-capitalize breadcrumb-title">O'qituvchilar </h4>
            <div class="action-btn">
                <button class="btn btn-primary btn-default btn-squared drawer-trigger mb-10" data-drawer="account">
                    + O'qituvchi qo'shish
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-1">
            <div class="card px-20">
                <div class="card-body p-1">
                    <div
                        class="userDatatable adv-table-table global-shadow border-0 bg-white w-100 adv-table-teachers-list">
                        <div class="table-responsive">
                            <div id="filter-form-container"></div>
                            <div class="table4  p-0 bg-white mb-30">
                                <div class="table-responsive">
                                    <table class="table mb-0 table-borderless adv-table-teachers-list"
                                        data-sorting="true" data-filter-container="#filter-form-container"
                                        data-paging-current="1" data-paging-position="left" data-paging-size="10">
                                        <thead>
                                            <tr class="userDatatable-header">
                                                <th>
                                                    <span class="userDatatable-title"></span>
                                                </th>
                                                <th>
                                                    <span class="userDatatable-title">Id</span>
                                                </th>
                                                <th>
                                                    <span class="userDatatable-title">Ism</span>
                                                </th>
                                                <th>
                                                    <span class="userDatatable-title">Telefon</span>
                                                </th>
                                                <th>
                                                    <span class="userDatatable-title">Guruhlar</span>
                                                </th>
                                                <th>
                                                    <span class="userDatatable-title">Holati</span>
                                                </th>
                                                <th>
                                                    <span class="userDatatable-title ml-4 ">Amallar</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for obj in objs %}
                                            <tr>
                                                <td
                                                    style="margin:auto;display: flex;justify-content:center;align-content:center;height: 100%;">
                                                    <input type="checkbox"
                                                        style="margin:auto;display:flex;justify-content:center;align-content:center;">
                                                </td>
                                                <td>
                                                    <div class="userDatatable-content">
                                                        {{forloop.counter}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="userDatatable-content">
                                                        {{obj.user.first_name}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="userDatatable-content">
                                                        {{obj.user.phone}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="userDatatable-content">
                                                        2
                                                    </div>
                                                </td>
                                                <td>
                                                    {% if obj.status %}
                                                    <div class="userDatatable-content d-inline-block">
                                                        <span
                                                            class="bg-opacity-success color-success rounded-pill userDatatable-content-status active">active</span>
                                                    </div>
                                                    {% else %}
                                                    <div class="userDatatable-content d-inline-block">
                                                        <span
                                                            class="bg-opacity-warning color-warning rounded-pill userDatatable-content-status active">deactivate</span>
                                                    </div>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <ul class="orderDatatable_actions m-0 d-flex ml-0 justify-content-center "
                                                        style="width:25%;">
                                                        <li>
                                                            <a href="#" class="edit w-33">
                                                                <span data-feather="edit"></span></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="edit">
                                                                <span data-feather="trash-2" data-toggle="modal"
                                                                    data-target="#modal-basic"></span></a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal-basic modal fade show" id="modal-basic" tabindex="-1" role="dialog" aria-hidden="true">


    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content modal-bg-white ">
            <div class="modal-body">
                <h4>Siz haqiqattan ushbu o'qituvchini o'chirmoqchimisiz?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm">Ha o'chirilsin</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Bekor qilish</button>
            </div>
        </div>
    </div>


</div>

<div class="drawer-basic-wrap">
    <div class="atbd-drawer drawer-account d-none">
        <div class="atbd-drawer__header d-flex aling-items-center justify-content-between">
            <h6 class="drawer-title">O'qituvchi qo'shish</h6>
            <a href="#" class="btdrawer-close"><i class="la la-times"></i></a>
        </div>
        <!-- ends: .atbd-drawer__header -->
        <div class="atbd-drawer__body">
            <div class="drawer-content">
                <div class="drawer-account-form form-basic">
                    <form class="was-validated" action="{% url 'admintion:teachers' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="validationServer01"
                                        class="il-gray fs-14 fw-500 align-center">Ism</label>
                                    <input name="first_name" type="text"
                                        class="form-control is-invalid ih-medium ip-light radius-xs b-light"
                                        id="validationServer01" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="validationServer01"
                                        class="il-gray fs-14 fw-500 align-center">Familiya</label>
                                    <input name="first_name" type="text"
                                        class="form-control is-invalid ih-medium ip-light radius-xs b-light"
                                        id="validationServer01" required>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="validationServer01"
                                        class="il-gray fs-14 fw-500 align-center">Telefon</label>
                                    <div class="w-100 d-flex ">
                                        <a for="validationServer01" style="margin:auto;margin-right: 15px;">+998</a>
                                        <input name="last_name" type="text" style="display:inlinle;"
                                            class="form-control is-invalid ih-medium ip-light radius-xs b-light"
                                            id="validationServer01" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="validationServer04"
                                        class="il-gray fs-14 fw-500 align-center">Turi</label>
                                    <select
                                        class="custom-select is-valid form-control select-arrow-none ih-medium  radius-xs b-light shadow-none color-light  fs-14"
                                        id="validationServer04" aria-describedby="validationServer04Feedback" required>
                                        <option selected disabled value="">Tanlang</option>
                                        <option value="1">O'qituvchi</option>
                                        <option value="0">Yordamchi(support)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="validationServer01"
                                        class="il-gray fs-14 fw-500 align-center">Tug'ilgan kuni </label>
                                    <div class="w-100 d-flex ">
                                        
                                        <input name="last_name" type="text" style="display:inlinle;"
                                            class="form-control is-invalid ih-medium ip-light radius-xs b-light"
                                            id="validationServer01" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="validationServer04" class="il-gray fs-14 fw-500 align-center">Jinsi</label>
                                <select
                                    class="custom-select is-valid form-control select-arrow-none ih-medium  radius-xs b-light shadow-none color-light  fs-14"
                                    id="validationServer04" aria-describedby="validationServer04Feedback" required>
                                    <option selected disabled value="">Tanlang</option>
                                    <option value="1">Erkak</option>
                                    <option value="2">Ayol</option>
                                </select>

                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="validationServer01"
                                        class="il-gray fs-14 fw-500 align-center">Manzil</label>
                                    <input name="first_name" type="text"
                                        class="form-control is-invalid ih-medium ip-light radius-xs b-light"
                                        id="validationServer01" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn-sm">Saqlash</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ends: .atbd-drawer__body -->
</div>
<!-- ends: .atbd-drawer -->
</div>

<div class="overlay-dark"></div>
<div class="overlay-dark-l2"></div>







{% endblock %}