{% extends 'atomic/theme.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-between mt-2 align-items-center">
            <h4 class="text-capitalize breadcrumb-title">O'qituvchilar </h4>
            <div class="action-btn d-flex">
                <button class="btn btn-sm btn-default btn-primary mb-10 mr-2"
                type="button" id="dropdownMenu2" data-toggle="modal" data-target="#modal-basic1"
                aria-haspopup="true" aria-expanded="false"  onclick="checkSMS()">
                <i class="la la-message"></i> SMS Jo'natish</button>
                <button class="btn btn-primary btn-default btn-squared drawer-trigger mb-10" data-drawer="account">
                    + O'qituvchi qo'shish
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-1">
            <div class="card px-20">
                <div class="card-body p-1">
                    <div
                        class="userDatatable adv-table-table global-shadow border-0 bg-white w-100 adv-table-teachers-list">
                        <div class="table-responsive">
                            <div id="filter-form-container"></div>
                            <div class="table4  p-0 bg-white mb-30">
                                <div class="table-responsive">
                                    <div class="userDatatable-title checkbox-group-wrapper">
                                        <div class="checkbox-group d-flex">
                                            <div class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex ml-4 pb-1">
                                                <input class="checkbox" type="checkbox" id="check-grp-12">
                                                <label for="check-grp-12">Barchani tanlash</label>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table mb-0 table-borderless adv-table-teachers-list"
                                        data-sorting="true" data-filter-container="#filter-form-container"
                                        data-paging-current="1" data-paging-position="left" data-paging-size="10">
                                        <thead>
                                            <tr class="userDatatable-header">
                                                <th>
                                                        
                                                            
                                                            <!-- <a href="#" class="profile-image rounded-circle d-block m-0 wh-38" style="background-image:url('img/tm6.png'); background-size: cover;"></a> -->  
                                                        
                                                </th>
                                                {% comment %}
                                                <th>
                                                    <span class="userDatatable-title">Id</span>
                                                </th>{% endcomment %}
                                                <th>
                                                    <span class="userDatatable-title">Ism</span>
                                                </th>
                                                <th>
                                                    <span class="userDatatable-title">Telefon</span>
                                                </th>
                                                <th>
                                                    <span class="userDatatable-title">Guruhlar</span>
                                                </th>
                                                <th>
                                                    <span class="userDatatable-title">Turi</span>
                                                </th>
                                                <th>
                                                    <span class="userDatatable-title">Holati</span>
                                                </th>
                                                <th>
                                                    <span class="userDatatable-title ml-4 ">Amallar</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            {% for obj in objs %}
                                            <tr>
                                                <td
                                                    style="margin:auto;display: flex;justify-content:center;align-content:center;height: 100%;">
                                                    <div class="d-flex">
                                                        <div class="userDatatable__imgWrapper d-flex align-items-center">
                                                            <div class="checkbox-group-wrapper">
                                                                <div class="checkbox-group d-flex">
                                                                    <div class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                                                        <input class=" checkbox check-grp-teacher-{{obj.id}} group-checkboxes" type="checkbox" id="check-grp-teacher-{{obj.id}}" hidden>
                                                                        <label for="check-grp-teacher-{{obj.id}}"></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- <a href="#" class="profile-image rounded-circle d-block m-0 wh-38" style="background-image:url('img/tm6.png'); background-size: cover;"></a> -->
                                                        </div>
                                                        
                                                    </div>
                                                </td>
                                                
                                                <td>
                                                    <div class="userDatatable-content">
                                                        <a href="{% url 'admintion:teacher-detail' obj.id %}">{{obj.full_name}}</a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="userDatatable-content">
                                                        {{obj.phone_number}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="userDatatable-content">
                                                        {{obj.groups}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="userDatatable-content">
                                                        {{obj.teacher_type}}
                                                    </div>
                                                </td>
                                                <td>
                                                    {% if obj.status %}
                                                    <div class="userDatatable-content d-inline-block">
                                                        <span
                                                            class="bg-opacity-success color-success rounded-pill userDatatable-content-status active">Aktiv</span>
                                                    </div>
                                                    {% else %}
                                                    <div class="userDatatable-content d-inline-block">
                                                        <span
                                                            class="bg-opacity-warning color-warning rounded-pill userDatatable-content-status active">Aktiv emas</span>
                                                    </div>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <ul class="orderDatatable_actions m-0 d-flex ml-0 justify-content-center "
                                                        style="width:25%;">
                                                        <li>
                                                            <a href="#" class="edit w-33">
                                                                <span data-feather="edit"></span></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="edit">
                                                                <span data-feather="trash-2" onclick="setDeleteModal({{obj.id}})" data-toggle="modal"
                                                                    data-target="#modal-basic"></span></a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal-basic modal" id="modal-basic" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white ">
                <div class="modal-body">
                    <h4>Siz haqiqattan ushbu o'qituvchini o'chirmoqchimisiz?</h4>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm" id="teacherDelBtn">Ha o'chirilsin</button>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Bekor qilish</button>
                </div>
            </div>
    </div>
</div>
<div class="modal-basic modal" id="modal-basic1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content modal-bg-white ">
            <div class="modal-header">
                <h6 class="modal-title">Sms matni.</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span data-feather="x"></span></button>
            </div>
            <div class="modal-body">
                <form action="#">
                    <div class="form-row">
                        <div class="sms-status-message"></div>
                        <div class="form-group col-lg-12">
                            <label for="id_message" class="modal-title">Xabar matni</label>
                            <textarea type="text" name="id_message" id="id_message" class="form-control form-control-sm border-light" placeholder="Xabar matni..."></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" id="sendSMS">Jo'natish</button>
                <button type="button" class="btn btn-secondary btn-sm" id="cancelSMS", data-dismiss="modal">Bekor qilish</button>
            </div>
        </div>
    </div>


</div>
<div class="drawer-basic-wrap">
    <div class="atbd-drawer drawer-account d-none">
        <div class="atbd-drawer__header d-flex aling-items-center justify-content-between">
            <h6 class="drawer-title">O'qituvchi qo'shish</h6>
            <a href="#" class="btdrawer-close"><i class="la la-times"></i></a>
        </div>
        <!-- ends: .atbd-drawer__header -->
        <div class="atbd-drawer__body">
            <div class="drawer-content">
                <div class="drawer-account-form form-basic">
                    <form class="was-validated" action="{% url 'admintion:teachers' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="validationServer01"
                                        class="il-gray fs-14 fw-500 align-center">Ism</label>
                                    <input name="first_name" type="text"
                                        class="form-control is-invalid ih-medium ip-light radius-xs b-light"
                                        id="validationServer01" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="validationServer01"
                                        class="il-gray fs-14 fw-500 align-center">Familiya</label>
                                    <input name="last_name" type="text"
                                        class="form-control is-invalid ih-medium ip-light radius-xs b-light"
                                        id="validationServer01" required>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="validationServer01"
                                        class="il-gray fs-14 fw-500 align-center">Telefon</label>
                                    <div class="w-100 d-flex ">
                                        <a for="validationServer01" style="margin:auto;margin-right: 15px;">+998</a>
                                        <input name="phone" type="text" style="display:inlinle;"
                                            class="form-control is-invalid ih-medium ip-light radius-xs b-light"
                                            id="validationServer01" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="validationServer04"
                                        class="il-gray fs-14 fw-500 align-center">Turi</label>
                                    <select name="teacer_type"
                                        class="custom-select is-valid form-control select-arrow-none ih-medium  radius-xs b-light shadow-none color-light  fs-14"
                                        id="validationServer04" aria-describedby="validationServer04Feedback" required>
                                        <option selected disabled value="">Tanlang</option>
                                        <option value="1">O'qituvchi</option>
                                        <option value="0">Yordamchi(support)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-calender mb-20">
                                    <label for="datepicker" class="il-gray fs-14 fw-500 align-center">Tug'ilgan sanasi</label>
                                    <div class="position-relative">
                                        <input name="birthday" type="text"
                                            class="form-control  ih-medium ip-gray radius-xs b-light" id="datepicker"
                                            placeholder="2021-10-01">
                                        <a href="#"><span data-feather="calendar"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="validationServer04" class="il-gray fs-14 fw-500 align-center">Jinsi</label>
                                <select name="gender"
                                    class="custom-select is-valid form-control select-arrow-none ih-medium  radius-xs b-light shadow-none color-light  fs-14"
                                    id="validationServer04" aria-describedby="validationServer04Feedback" required>
                                    <option selected disabled value="">Tanlang</option>
                                    <option value="1">Erkak</option>
                                    <option value="2">Ayol</option>
                                </select>

                            </div>
                            <div class="col-md-{% if educenters %}6{% else %}12{% endif %}">
                                <div class="form-group">
                                    <label for="validationServer01"
                                        class="il-gray fs-14 fw-500 align-center">Manzil</label>
                                    <input name="location" type="text"
                                        class="form-control is-invalid ih-medium ip-light radius-xs b-light"
                                        id="validationServer01" required>
                                </div>
                            </div>
                            {% if educenters.count == 1 %}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="validationServer05"
                                        class="il-gray fs-14 fw-500 align-center">O'quv markazi</label>
                                        <select hidden name="educenter"
                                        class="custom-select is-valid form-control select-arrow-none ih-medium  radius-xs b-light shadow-none color-light  fs-14"
                                        id="validationServer04" aria-describedby="validationServer04Feedback" required>
                                            <option selected disabled value="">Tanlang</option>
                                            {% for edu in educenters %}
                                                <option selected value="{{ edu.id }}"> {{ edu.name }} </option>
                                            {% endfor %}
                                        </select>
                                </div>
                            </div>
                            {% elif educenters.count > 1 %}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="validationServer05"
                                        class="il-gray fs-14 fw-500 align-center">O'quv markazi</label>
                                        <select name="educenter"
                                        class="custom-select is-valid form-control select-arrow-none ih-medium  radius-xs b-light shadow-none color-light  fs-14"
                                        id="validationServer04" aria-describedby="validationServer04Feedback" required>
                                            <option selected disabled value="">Tanlang</option>
                                            {% for edu in educenters %}
                                                <option value="{{ edu.id }}"> {{ edu.name }} </option>
                                            {% endfor %}
                                        </select>
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-md-12 d-flex justify-content-between">
                                <div class="userDatatable-title checkbox-group-wrapper">
                                    <div class="checkbox-group d-flex">
                                        <div class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex ml-4 pb-1">
                                            <input class="checkbox" type="checkbox" id="check-grp-13"  name="status" value="1" checked="true">
                                            <label for="check-grp-13">Holati</label>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-sm">Saqlash</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ends: .atbd-drawer__body -->
</div>
<!-- ends: .atbd-drawer -->
</div>

<div class="overlay-dark"></div>
<div class="overlay-dark-l2"></div>


{% endblock %}

{% block script %}
    <script>
        var mainCheckBox = document.getElementById('check-grp-12');
        mainCheckBox.addEventListener('change', ()=>{
            var checkBoxes = document.getElementsByClassName('group-checkboxes')
            if(mainCheckBox.checked == true){
                for(var i=0;i< checkBoxes.length;i++){
                    checkBoxes[i].checked = true;
                }
            } else {
                for(var i=0;i< checkBoxes.length;i++){
                    checkBoxes[i].checked = false;
                }
            }
        })

        function checkSMS(){
    
            var formData = new FormData();
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            var checkboxes = document.getElementsByClassName('group-checkboxes');
            for(var i=0;i<checkboxes.length;i++){
                if(checkboxes[i].checked == true){
                    formData.append('teachers', checkboxes[i].id.split("-")[3]);
                }
            }
            fetch("{% url 'admintion:check-sms-availability' %}", {
                method:'post',
                headers:{
                    'Accept':'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: formData
            })
            .then(res=>res.json())
            .then(res=>{
                var div = document.getElementsByClassName('sms-status-message')[0];
                //div.classList.add('d-flex m-2 p-2')
                div.innerHTML = `<p class="mb-3">Sms yuboriladigan foydalanuvchilar soni: ${res.users}<br>
                                 Sizda jami ${res.sms_limit} ta miqdorida bonus sifatidagi smslar mavjud. Bu limit tugagach,
                                sizdan sms integratsiya qilingan email va parol so'raladi.  </p>             
                `
            })
            .catch(err=>{
                console.log(err);
            })
        }
        
        
        var cancelBtn = document.getElementById('cancelSMS');
        cancelBtn.addEventListener('click', ()=>{
            var input = document.getElementById('id_message');
            input.value = '';
        })
        
        var sendSMS = document.getElementById('sendSMS');
        sendSMS.addEventListener('click', ()=>{
            var formData = new FormData();
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
            var input = document.getElementById('id_message');
            formData.append('message', input.value);
            var checkboxes = document.getElementsByClassName('group-checkboxes');
            for(var i=0;i<checkboxes.length;i++){
                if(checkboxes[i].checked == true){
                    formData.append('teachers', checkboxes[i].id.split("-")[3]);
                }
            } 
            var url = "{% url 'admintion:send_sms_to_teacher' %}"
            fetch(url, {
                method:'post',
                headers:{
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: formData,
            })
            .then(res=>{
                var status = res.status
                if(status==200){
                    alert("Xabar O'qituvchilarga yuborildi.");
                    var input = document.getElementById('id_message');
                    input.value = '';
                } else {
                    console.log(status)
                    alert("Ma'lumotlar to'liq kiritilmadi");
                } 
            })
        })
        var statusInput = document.getElementById('check-grp-13');
        statusInput.addEventListener('change', ()=>{
            if(statusInput.checked === true){
                statusInput.value=1;
            } else {
                statusInput.value=0;
            }
        })
        
        function deleteTeacher(id){
            var url = `/admintion/teacher/${id}/delete/`;
            var formData = new FormData();
            formData.append('csrfmiddlewaretoken', '{{csrf_token }}');
            fetch(url, {
                method:'post',
                headers:{
                    'Accept':'application/json',
                    'X_CSRFToken':'{{ csrf_token }}'
                },
                body: formData
            })
            .then(res=>{
                console.log(res)
                if(res.status===204){
                    window.location.assign(window.location.pathname)
                }else if(res.status===401){
                    window.location.assign(window.location.origin+'/user/login/?next=/admintion/teachers/')
                } else if(res.status===403){
                    alert("Sizda o'qituvchini o'chirish uchun ruhsat yo'q!")
                }
            })
            .catch(err=>{
                alert(`${err}`);
            })
        }

        function setDeleteModal(id){
            
        document.getElementById('teacherDelBtn').addEventListener('click',function(){
            deleteTeacher(id);
        });
            modalDelBtn.data=id;
        }
        
        function teacherDetail(id){
            var url =`/admintion/teacher/${id}/update/`;
            fetch(url)
            .then(res=>res,json())
            .then(res=>{
                console.log(res);
            })  
            .catch(err=>{
                window.location.assign(window.location.href);
            })
        }
    </script>
{% endblock %}