{% load static %}
<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StrikingDash</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    {% include 'atomic/injectcss.html' %}

    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon.png' %}">
</head>

<body>
    <main class="main-content">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-lg-5 col-sm-6 col-xl-5 col-md-8">
                <div class="signUP-admin">
                    <div class="container-fluid">
                        <div class="row ">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="signUp-admin-right signIn-admin-right  p-md-40 p-10">
                                    <div class="row justify-content-center">
                                        <div class="col-xl-12 col-lg-12 col-md-12">
                                            <div class="edit-profile mt-md-25 mt-0">
                                                <div class="card border-0">      
                                                    <div class="card-header border-0  flex-column align-items-center">
                                                        
                                                        <div class="edit-profile__title"
                                                            style="display:flex; justify-content: center;">
                                                            <h6>Kirish</h6>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="edit-profile__body">
                                                            <form action="" method="post">
                                                                {% csrf_token %}
                                                                <div class="form-group mb-20">
                                                                    <label for="username"
                                                                        style="display: block;">Telefon</label>
                                                                    <div class="new"
                                                                        style="display:flex; justify-content: flex-start;">
                                                                        <label
                                                                            style="border-right-style:none; border: 1px solid #e3e6ef;border-radius: 4px;display: flex;align-items: center;padding: 10px 20px;height: 48px;border-right: none;border-top-right-radius: 0;border-bottom-right-radius: 0;" class="border-right-0;">+998</label>
                                                                        <input type="text" class="form-control" style="border-left-style:none;border-top-left-radius: 0;border-bottom-left-radius: 0;" id="phone"
                                                                            placeholder="99 704 65 99" name="phone_number">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group mb-15">
                                                                    <label for="password-field">Parol</label>
                                                                    <div class="position-relative">
                                                                        <input id="password-field" type="password"
                                                                            class="form-control" name="password" value="">
                                                                        <div
                                                                            class="fa fa-fw fa-eye-slash text-light fs-16 field-icon toggle-password2">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="signUp-condition signIn-condition">
                                                                    <div class="checkbox-theme-default custom-checkbox ">
                                                                        <input class="checkbox" type="checkbox"
                                                                            id="check-1">
                                                                        <label for="check-1">
                                                                            <span class="checkbox-text">Eslab qolish</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="button-group d-flex pt-1 justify-content-md-start justify-content-center">
                                                                    <button
                                                                        class="btn btn-primary btn-default btn-squared mr-15 text-capitalize lh-normal px-50 py-15 signIn-createBtn ">
                                                                        Kirish
                                                                    </button>
                                                                </div>
                                                            </form>
    
                                                        </div>
                                                    </div><!-- End: .card-body -->
                                                </div><!-- End: .card -->
                                            </div><!-- End: .edit-profile -->
                                        </div><!-- End: .col-xl-5 -->
                                    </div>
                                </div><!-- End: .signUp-admin-right  -->
                            </div><!-- End: .col-xl-8  -->
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- End: .signUP-admin  -->

    </main>
    <div id="overlayer">
        <span class="loader-overlay">
            <div class="atbd-spin-dots spin-lg">
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
            </div>
        </span>
    </div>
    {% include 'atomic/injectjs.html' %}
</body>

</html>